In [1]:
import pandas as pd

pd.options.display.float_format = '{:.0f}'.format

In [2]:
# file['시군구코드'].head()

In [3]:
df = pd.read_table('../지번별에너지/01_월별지번별에너지사용량_전기/지번별에너지사용량_전기_202106/eais_elcty_202106.txt' , sep ='|')


df_2 = pd.DataFrame(df ,  columns = df.columns)

df_2.drop(['사용년월' , '순번' , '대지구분코드'] , axis = 1 , inplace = True)
a = df_2.copy()
a

,시군구코드,법정동코드,시도명,시군구명,법정동명,본번,부번,새주소대로로코드,새주소대로로명,새주소지상지하코드,새주소지상지하명,새주소본번,새주소부번,사용량_KWH
0,11110,10100,서울특별시,종로구,청운동,5,0,111103100012,자하문로,0,지상,152,0,2551
1,11110,10100,서울특별시,종로구,청운동,7,3,NaN,NaN,NaN,NaN,NaN,NaN,402
2,11110,10100,서울특별시,종로구,청운동,8,3,111104100288,자하문로35길,0,지상,5,0,214
3,11110,10100,서울특별시,종로구,청운동,15,5,111104100458,창의문로1길,0,지상,12,0,676
4,11110,10100,서울특별시,종로구,청운동,39,6,111103100012,자하문로,0,지상,131,0,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1352133,50130,32026,제주특별자치도,서귀포시,표선면 토산리,934,1,501303349238,중산간동로,0,지상,5503,0,434
1352134,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1263,0,NaN,NaN,NaN,NaN,NaN,NaN,15
1352135,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1310,0,501303350275,토산중앙로,0,지상,201,38,343
1352136,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1366,1,501303349238,중산간동로,0,지상,5564,1,6164
1352137,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1550,6,501304850977,토산중앙로346번길,0,지상,21,0,154

In [4]:
print(type(a))

print(type(a['시군구코드']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [5]:
a = a.astype({'시군구코드' : 'str' ,
              '법정동코드' : 'str',
              '본번' : 'str' ,
              '부번' : 'str'})

print(a.dtypes)

시군구코드         object
법정동코드         object
시도명           object
시군구명          object
법정동명          object
본번            object
부번            object
새주소대로로코드     float64
새주소대로로명       object
새주소지상지하코드    float64
새주소지상지하명      object
새주소본번        float64
새주소부번        float64
사용량_KWH        int64
dtype: object

In [6]:
a

,시군구코드,법정동코드,시도명,시군구명,법정동명,본번,부번,새주소대로로코드,새주소대로로명,새주소지상지하코드,새주소지상지하명,새주소본번,새주소부번,사용량_KWH
0,11110,10100,서울특별시,종로구,청운동,5,0,111103100012,자하문로,0,지상,152,0,2551
1,11110,10100,서울특별시,종로구,청운동,7,3,NaN,NaN,NaN,NaN,NaN,NaN,402
2,11110,10100,서울특별시,종로구,청운동,8,3,111104100288,자하문로35길,0,지상,5,0,214
3,11110,10100,서울특별시,종로구,청운동,15,5,111104100458,창의문로1길,0,지상,12,0,676
4,11110,10100,서울특별시,종로구,청운동,39,6,111103100012,자하문로,0,지상,131,0,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1352133,50130,32026,제주특별자치도,서귀포시,표선면 토산리,934,1,501303349238,중산간동로,0,지상,5503,0,434
1352134,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1263,0,NaN,NaN,NaN,NaN,NaN,NaN,15
1352135,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1310,0,501303350275,토산중앙로,0,지상,201,38,343
1352136,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1366,1,501303349238,중산간동로,0,지상,5564,1,6164
1352137,50130,32026,제주특별자치도,서귀포시,표선면 토산리,1550,6,501304850977,토산중앙로346번길,0,지상,21,0,154

In [7]:
df_3 = a.copy()

df_3["시군구법정동코드"]= a['시군구코드'] + a['법정동코드']
df_3.drop(['시군구코드' , '법정동코드' , '새주소지상지하코드' , '새주소지상지하명'] ,axis = 1 , inplace = True)
df_3["시군구법정동번지코드"] = df_3["시군구법정동코드"] + df_3["본번"] + df_3["부번"]
columns2 = ["시군구법정동번지코드" ,
             "본번", "부번" ,"사용량_KWH","시도명"	,"시군구명",	"법정동명" ,	"새주소대로로코드"	,"새주소대로로명",	"새주소본번"	,"새주소부번"]
df_3 = pd.DataFrame(df_3 ,  columns = columns2)
df_3 = df_3.fillna('-')
df_3

,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,111101010050,5,0,2551,서울특별시,종로구,청운동,111103100012,자하문로,152,0
1,111101010073,7,3,402,서울특별시,종로구,청운동,-,-,-,-
2,111101010083,8,3,214,서울특별시,종로구,청운동,111104100288,자하문로35길,5,0
3,1111010100155,15,5,676,서울특별시,종로구,청운동,111104100458,창의문로1길,12,0
4,1111010100396,39,6,1976,서울특별시,종로구,청운동,111103100012,자하문로,131,0
...,...,...,...,...,...,...,...,...,...,...,...
1352133,50130320269341,934,1,434,제주특별자치도,서귀포시,표선면 토산리,501303349238,중산간동로,5503,0
1352134,501303202612630,1263,0,15,제주특별자치도,서귀포시,표선면 토산리,-,-,-,-
1352135,501303202613100,1310,0,343,제주특별자치도,서귀포시,표선면 토산리,501303350275,토산중앙로,201,38
1352136,501303202613661,1366,1,6164,제주특별자치도,서귀포시,표선면 토산리,501303349238,중산간동로,5564,1
1352137,501303202615506,1550,6,154,제주특별자치도,서귀포시,표선면 토산리,501304850977,토산중앙로346번길,21,0

In [8]:
df_3  = df_3.sort_values(by=['시도명'])
Sido = df_3["시도명"].unique()
print(Sido)
print(type(Sido))

df_3

['강원도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '서울특별시'
 '세종특별자치시' '울산광역시' '인천광역시' '전라남도' '전라북도' '제주특별자치도' '충청남도' '충청북도']
<class 'numpy.ndarray'>

,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
676068,421301020032316,323,16,3007,강원도,원주시,평원동,421304457618,평원안길,25,0
725933,42770250211970,197,0,461,강원도,정선군,정선읍 봉양리,427704487142,봉양2길,11,20
725932,427702502114710,147,10,203,강원도,정선군,정선읍 봉양리,427704487144,봉양4길,8,0
725931,427702502114710,147,10,203,강원도,정선군,정선읍 봉양리,427704487144,봉양4길,6,0
725930,427702502114610,146,10,503,강원도,정선군,정선읍 봉양리,427704487145,봉양5길,13,0
...,...,...,...,...,...,...,...,...,...,...,...
772309,43114103008820,882,0,5810,충청북도,청주시 청원구,율량동,431144508575,율봉로175번길,6,0
772310,43114103008820,882,0,5810,충청북도,청주시 청원구,율량동,431144508575,율봉로175번길,10,0
772311,43114103008820,882,0,5810,충청북도,청주시 청원구,율량동,431144508575,율봉로175번길,10,6
772313,43114103008930,893,0,1520,충청북도,청주시 청원구,율량동,431143236064,공항로,134,0
772985,43113310303521,352,1,98,충청북도,청주시 흥덕구,강내면 월탄리,431134520541,월탄2길,11,24

In [33]:
for i in range(len(Sido)):
    Sido_2 = (df_3['시도명'] == Sido[i])

    a = df_3.loc[Sido_2]

    a.to_csv("{}.csv".format(Sido[i]) , mode = 'w' , encoding= 'cp949')