In [1]:
import pandas as pd

pd.options.display.float_format = '{:.0f}'.format

In [2]:
# a = [202105]
# for i in range(11):
#     b =a[i]+1
#     if b % 100 > 12:
#         b+=88
#         a.append(b)
#     else:
#         a.append(b)
#
#
# print(a)

In [3]:
# a  = 202113 % 100
# print(a)

In [5]:
Sido = ['강원도', '경기도', '경상남도' ,'경상북도' ,'광주광역시', '대구광역시', '대전광역시' ,'부산광역시', '서울특별시',
        '세종특별자치시', '울산광역시', '인천광역시' ,'전라남도' ,'전라북도' ,'제주특별자치도', '충청남도' ,'충청북도']

DATE = [202105]
for i in range(11):
    b =DATE[i]+1
    if b % 100 > 12:
        b+=88
        DATE.append(b)
    else:
        DATE.append(b)
#Sido = ['강원도']
df = pd.read_csv('./03_월별지역별전력사용량_전기_csv파일/202204/강원도/강원도_전력사용량.csv' , encoding='cp949')

res = df.copy()
#res = res.drop(res , axis=1)

#df.columns
# df_2 = pd.read_csv('경기도_전력사용량.csv' , encoding='cp949')
res = res.drop(['Unnamed: 0.1' , 'Unnamed: 0'] , axis = 1)
#es = pd.concat([res, df_2] , ignore_index = True)
#
#
# res

In [6]:
print('{}_전력사용량'.format(Sido[2]))

경상남도_전력사용량

In [7]:
for j in range(len(DATE)):

    for i in range(1, len(Sido)):

        df = pd.read_csv('./04_월별데이터센터_전력량/지역별전력사용량_{}/{}_전력사용량.csv'.format(DATE[j] ,Sido[i],Sido[i]) , encoding='cp949')

        df = df.drop(['Unnamed: 0.1' , 'Unnamed: 0'] , axis = 1)

        res = pd.concat([res,df] ,ignore_index = True)
    res.to_csv("./04_월별데이터센터_전력량/월별데이터센터전력/{}데이터센터_전력량.csv".format(DATE[j], DATE[j]) , mode = 'w' , encoding= 'cp949')

res

,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,...,분류,기업,이름,비고,임차여부,시군구법정동번코드_x,시군구법정동코드_x,시군구법정동번코드_y,시군구법정동코드_y,전력사용량
0,4213011700204710,2047,10,920262,강원도,원주시,반곡동,421303219082,혁신로,60,...,공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN,NaN,NaN,NaN,NaN
1,4213011700204710,2047,10,920262,강원도,원주시,반곡동,421303219082,혁신로,60,...,공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN,NaN,NaN,NaN,NaN
2,421301170018946,1894,6,9600,강원도,원주시,반곡동,421303351211,건강로,32,...,공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN,NaN,NaN,NaN,NaN
3,421103102210000,1000,0,11200967,강원도,춘천시,동면 만천리,421102218001,순환대로,1154,...,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN,NaN,NaN,NaN,NaN
4,4159013500383,38,3,48288,경기도,화성시,산척동,415904852416.0,동탄산척로2길,53.0,...,공공,한국도로공사,ICT운영센터(동탄),-,-,415901350038,4159013500,415901350038,4159013500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,282601220075,7,5,3075120,인천광역시,서구,청라동,282603156057,에코로,181,...,금융,하나금융,하나금융그룹 통합데이터센터,-,-,NaN,NaN,NaN,NaN,NaN
751,28245101002361,236,1,1716144,인천광역시,계양구,효성동,282454265274,아나지로213번길,23,...,민간,LG CNS,인천센터,-,-,NaN,NaN,NaN,NaN,NaN
752,4511311500862,86,2,165009,전라북도,전주시 덕진구,우아동3가,451134601269,신기1길,11,...,통신,LG U+,LG U+전주 센터,기타분류,-,NaN,NaN,NaN,NaN,NaN
753,437703302814450,1445,0,2066,충청북도,음성군,맹동면 두성리,437704541728,태정로,6,...,공공,한국고용정보원,한국고용정보원 전산실,-,-,NaN,NaN,NaN,NaN,NaN
754,431121060013900,1390,0,761112,충청북도,청주시 서원구,분평동,431124512137,1순환로1063번길,12,...,통신,KT,KT 청주 IDC,-,-,NaN,NaN,NaN,NaN,NaN

In [15]:
#res.to_csv("./월별데이터센터_전력량/202204데이터센터_전력량.csv" , mode = 'w' , encoding= 'cp949')

In [16]:
print(len(res))

68