In [1]:
import pandas as pd


df = pd.read_csv('광주광역시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,355631,29200142005972,2920014200597,2920014200,597,2,290,광주광역시,광산구,요기동,292004289089.0,동곡요기길,42.0,19.0
1,355630,292001420030235,2920014200302,2920014200,302,35,1368,광주광역시,광산구,요기동,292004289088.0,동곡신기길,7.0,0.0
2,355629,292001420030234,2920014200302,2920014200,302,34,42,광주광역시,광산구,요기동,292004289088.0,동곡신기길,19.0,0.0
3,355628,29200142003011,2920014200301,2920014200,301,1,2421,광주광역시,광산구,요기동,292003163058.0,평동산단로,59.0,0.0
4,355633,2920014300908,292001430090,2920014300,90,8,737,광주광역시,광산구,복룡동,292003163008.0,동곡로,386.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,335286,292001090015982,29200109001598,2920010900,1598,2,228276,광주광역시,광산구,우산동,...,2920010900,1598,2,광주광역시 광산구 무진대로 262,통신,LG U+,LG U+광주 센터,기타분류,-,NaN
1,332882,291701410011107,29170141001110,2917014100,1110,7,65396,광주광역시,북구,오룡동,...,2917014100,1110,7,광주 북구 첨단과기로176번길,민간,NHN\n(광주시·행안부),국가 AI 데이터센터,2023 준공 예정,-,NaN
2,327015,2911011800319,291101180031,2911011800,31,9,426708,광주광역시,동구,서석동,...,2911011800,31,9,광주광역시 동구 제봉로82번길 16 (서석동 31-9),통신,KT,KT 광주 IDC,-,-,NaN

In [4]:
df_3.to_csv("광주광역시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')