In [1]:
import pandas as pd
import re
import os

#print(os.listdir())
a = os.listdir()
Times = ["12년하반기", "13년상반기" , "13년하반기" , "14년상반기", "14년하반기", "15년상반기", "15년하반기", "16년상반기", "16년하반기", "17년상반기", "17년하반기", "18년상반기", "18년하반기", "19년상반기", "19년하반기", "20년상반기", "20년하반기", "21년상반기", "21년하반기" , "22년상반기"]

pd.options.display.float_format = '{:.0f}'.format

columns = ["년월" , "시구" , "시군구" , "계약구분" , "고객호수(호)" , "사용량(kWh)" , "비율"]

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
Final2 = pd.DataFrame(columns = columns)


for af in range(len(Times)):
    df = pd.read_csv('../전국_상_하반기/{}.csv'.format(Times[af]) , encoding='utf-8')

    Final2 = pd.concat([df , Final2])

Final2 = Final2.sort_values(by=['시군구' , '년월'])
Final2.reset_index(drop=True , inplace = True)
Final2

           년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)   비율
0      201207  경기도  가평군  일반용   7,891   18,740,590    50
1      201207  경기도  가평군   합계  53,913   37,552,828   NaN
2      201208  경기도  가평군  일반용   8,001   22,827,836    53
3      201208  경기도  가평군   합계  54,194   43,464,970   NaN
4      201209  경기도  가평군  일반용   8,067   19,561,033    48
...       ...  ...  ...  ...      ...          ...  ...
55127  202204  강원도  횡성군   합계  61,878   56,473,517   NaN
55128  202205  강원도  횡성군  일반용   5,505    9,179,386    18
55129  202205  강원도  횡성군   합계  62,200   49,806,235   NaN
55130  202206  강원도  횡성군  일반용   5,526    9,643,301    20
55131  202206  강원도  횡성군   합계  62,396   49,016,886   NaN

[55132 rows x 7 columns]

In [3]:
Final2['사용량(kWh)'] = Final2['사용량(kWh)'].apply(lambda x:x[0:-2])
Final2['사용량(kWh)'] = pd.to_numeric(Final2['사용량(kWh)'].str.replace(',',''))
Final2

           년월   시구  시군구 계약구분  고객호수(호)  사용량(kWh)   비율
0      201207  경기도  가평군  일반용   7,891    1874059   50
1      201207  경기도  가평군   합계  53,913    3755282  NaN
2      201208  경기도  가평군  일반용   8,001    2282783   53
3      201208  경기도  가평군   합계  54,194    4346497  NaN
4      201209  경기도  가평군  일반용   8,067    1956103   48
...       ...  ...  ...  ...      ...       ...  ...
55127  202204  강원도  횡성군   합계  61,878    5647351  NaN
55128  202205  강원도  횡성군  일반용   5,505     917938   18
55129  202205  강원도  횡성군   합계  62,200    4980623  NaN
55130  202206  강원도  횡성군  일반용   5,526     964330   20
55131  202206  강원도  횡성군   합계  62,396    4901688  NaN

[55132 rows x 7 columns]

In [4]:
Final2.index = [Final2['년월']]
Final2

C:\Users\user\anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

            년월   시구  시군구 계약구분  고객호수(호)  사용량(kWh)   비율
년월
201207  201207  경기도  가평군  일반용   7,891    1874059   50
201207  201207  경기도  가평군   합계  53,913    3755282  NaN
201208  201208  경기도  가평군  일반용   8,001    2282783   53
201208  201208  경기도  가평군   합계  54,194    4346497  NaN
201209  201209  경기도  가평군  일반용   8,067    1956103   48
...        ...  ...  ...  ...      ...       ...  ...
202204  202204  강원도  횡성군   합계  61,878    5647351  NaN
202205  202205  강원도  횡성군  일반용   5,505     917938   18
202205  202205  강원도  횡성군   합계  62,200    4980623  NaN
202206  202206  강원도  횡성군  일반용   5,526     964330   20
202206  202206  강원도  횡성군   합계  62,396    4901688  NaN

[55132 rows x 7 columns]

In [5]:
Final2.to_csv('./2012-2022전국.csv' , mode = 'w' , encoding = 'utf-8-sig' , index=False)