In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('2012-2022전국.csv')
df

           년월   시구  시군구 계약구분  고객호수(호)  사용량(kWh)         비율
0      201207  경기도  가평군  일반용   7,891    1874059  49.904604
1      201207  경기도  가평군   합계  53,913    3755282        NaN
2      201208  경기도  가평군  일반용   8,001    2282783  52.520078
3      201208  경기도  가평군   합계  54,194    4346497        NaN
4      201209  경기도  가평군  일반용   8,067    1956103  47.929931
...       ...  ...  ...  ...      ...       ...        ...
55127  202204  강원도  횡성군   합계  61,878    5647351        NaN
55128  202205  강원도  횡성군  일반용   5,505     917938  18.430195
55129  202205  강원도  횡성군   합계  62,200    4980623        NaN
55130  202206  강원도  횡성군  일반용   5,526     964330  19.673426
55131  202206  강원도  횡성군   합계  62,396    4901688        NaN

[55132 rows x 7 columns]

In [20]:
df = df[df.isin({'시구' : ['서울특별시','부산광역시','울산광역시','대전광역시','대구광역시','인천광역시','광주광역시']})['시구']]

In [21]:
df

           년월     시구   시군구 계약구분   고객호수(호)  사용량(kWh)         비율
240    201207  서울특별시   강남구  일반용   46,932   32632251  74.842229
241    201207  서울특별시   강남구   합계  193,462   43601389        NaN
242    201208  서울특별시   강남구  일반용   47,024   36303620  73.135339
243    201208  서울특별시   강남구   합계  193,705   49638958        NaN
244    201209  서울특별시   강남구  일반용   47,041   30970230  74.779928
...       ...    ...   ...  ...       ...       ...        ...
53687  202204  부산광역시  해운대구   합계   94,877   14509470        NaN
53688  202205  부산광역시  해운대구  일반용   15,180    6757300  47.339948
53689  202205  부산광역시  해운대구   합계   94,626   14273991        NaN
53690  202206  부산광역시  해운대구  일반용   15,173    7441709  49.167258
53691  202206  부산광역시  해운대구   합계   94,550   15135499        NaN

[17760 rows x 7 columns]

In [22]:
df = df.groupby(['시구','년월','계약구분']).sum().reset_index()

In [23]:
df

         시구      년월 계약구분   사용량(kWh)          비율
0     광주광역시  201207  일반용   22072448  209.325141
1     광주광역시  201207   합계   66005895    0.000000
2     광주광역시  201208  일반용   26125513  214.083330
3     광주광역시  201208   합계   73488868    0.000000
4     광주광역시  201209  일반용   22982728  210.112342
...     ...     ...  ...        ...         ...
1675  인천광역시  202204   합계  202133494    0.000000
1676  인천광역시  202205  일반용   46264150  295.699852
1677  인천광역시  202205   합계  194003617    0.000000
1678  인천광역시  202206  일반용   51690657  308.649395
1679  인천광역시  202206   합계  197025090    0.000000

[1680 rows x 5 columns]

In [24]:
df2 = pd.pivot_table(df, index = ['년월','시구'], columns = '계약구분', values='사용량(kWh)').reset_index()
df2

계약구분      년월     시구        일반용         합계
0     201207  광주광역시   22072448   66005895
1     201207  대구광역시   36018365  121471972
2     201207  대전광역시   27675935   75215776
3     201207  부산광역시   52076565  167113544
4     201207  서울특별시  228883105  407584733
..       ...    ...        ...        ...
835   202206  대전광역시   31489089   79308548
836   202206  부산광역시   55733217  172300269
837   202206  서울특별시  209920239  380786976
838   202206  울산광역시   17524597  261037616
839   202206  인천광역시   51690657  197025090

[840 rows x 4 columns]

In [25]:
df2['비율'] = round(df2['일반용']/df2['합계']*100,2)
df2['시군구'] = df2['시구']
df2

계약구분      년월     시구        일반용         합계     비율    시군구
0     201207  광주광역시   22072448   66005895  33.44  광주광역시
1     201207  대구광역시   36018365  121471972  29.65  대구광역시
2     201207  대전광역시   27675935   75215776  36.80  대전광역시
3     201207  부산광역시   52076565  167113544  31.16  부산광역시
4     201207  서울특별시  228883105  407584733  56.16  서울특별시
..       ...    ...        ...        ...    ...    ...
835   202206  대전광역시   31489089   79308548  39.70  대전광역시
836   202206  부산광역시   55733217  172300269  32.35  부산광역시
837   202206  서울특별시  209920239  380786976  55.13  서울특별시
838   202206  울산광역시   17524597  261037616   6.71  울산광역시
839   202206  인천광역시   51690657  197025090  26.24  인천광역시

[840 rows x 6 columns]

In [26]:
df2.drop(['일반용', '합계'], axis=1, inplace=True)
df2

계약구분      년월     시구     비율    시군구
0     201207  광주광역시  33.44  광주광역시
1     201207  대구광역시  29.65  대구광역시
2     201207  대전광역시  36.80  대전광역시
3     201207  부산광역시  31.16  부산광역시
4     201207  서울특별시  56.16  서울특별시
..       ...    ...    ...    ...
835   202206  대전광역시  39.70  대전광역시
836   202206  부산광역시  32.35  부산광역시
837   202206  서울특별시  55.13  서울특별시
838   202206  울산광역시   6.71  울산광역시
839   202206  인천광역시  26.24  인천광역시

[840 rows x 4 columns]

In [27]:
original = pd.read_csv('2012-2022전국.csv')
original

           년월   시구  시군구 계약구분  고객호수(호)  사용량(kWh)         비율
0      201207  경기도  가평군  일반용   7,891    1874059  49.904604
1      201207  경기도  가평군   합계  53,913    3755282        NaN
2      201208  경기도  가평군  일반용   8,001    2282783  52.520078
3      201208  경기도  가평군   합계  54,194    4346497        NaN
4      201209  경기도  가평군  일반용   8,067    1956103  47.929931
...       ...  ...  ...  ...      ...       ...        ...
55127  202204  강원도  횡성군   합계  61,878    5647351        NaN
55128  202205  강원도  횡성군  일반용   5,505     917938  18.430195
55129  202205  강원도  횡성군   합계  62,200    4980623        NaN
55130  202206  강원도  횡성군  일반용   5,526     964330  19.673426
55131  202206  강원도  횡성군   합계  62,396    4901688        NaN

[55132 rows x 7 columns]

In [28]:
original = original[~original.isin({'시구' : ['서울특별시','부산광역시','울산광역시','대전광역시','대구광역시','인천광역시','광주광역시']})['시구']]

In [29]:
original

           년월   시구  시군구 계약구분  고객호수(호)  사용량(kWh)         비율
0      201207  경기도  가평군  일반용   7,891    1874059  49.904604
1      201207  경기도  가평군   합계  53,913    3755282        NaN
2      201208  경기도  가평군  일반용   8,001    2282783  52.520078
3      201208  경기도  가평군   합계  54,194    4346497        NaN
4      201209  경기도  가평군  일반용   8,067    1956103  47.929931
...       ...  ...  ...  ...      ...       ...        ...
55127  202204  강원도  횡성군   합계  61,878    5647351        NaN
55128  202205  강원도  횡성군  일반용   5,505     917938  18.430195
55129  202205  강원도  횡성군   합계  62,200    4980623        NaN
55130  202206  강원도  횡성군  일반용   5,526     964330  19.673426
55131  202206  강원도  횡성군   합계  62,396    4901688        NaN

[37372 rows x 7 columns]

In [30]:
final = pd.concat([original, df2])
final

         년월     시구    시군구 계약구분  고객호수(호)   사용량(kWh)         비율
0    201207    경기도    가평군  일반용   7,891   1874059.0  49.904604
1    201207    경기도    가평군   합계  53,913   3755282.0        NaN
2    201208    경기도    가평군  일반용   8,001   2282783.0  52.520078
3    201208    경기도    가평군   합계  54,194   4346497.0        NaN
4    201209    경기도    가평군  일반용   8,067   1956103.0  47.929931
..      ...    ...    ...  ...      ...        ...        ...
835  202206  대전광역시  대전광역시  NaN      NaN        NaN  39.700000
836  202206  부산광역시  부산광역시  NaN      NaN        NaN  32.350000
837  202206  서울특별시  서울특별시  NaN      NaN        NaN  55.130000
838  202206  울산광역시  울산광역시  NaN      NaN        NaN   6.710000
839  202206  인천광역시  인천광역시  NaN      NaN        NaN  26.240000

[38212 rows x 7 columns]

In [31]:
final = pd.pivot_table(final, index = ['시군구'], columns = '년월', values='비율')
final

년월,201207,201208,201209,201210,201211,201212,201301,201302,201303,201304,...,202109,202110,202111,202112,202201,202202,202203,202204,202205,202206
시군구,,,,,,,,,,,,,,,,,,,,,
가평군,49.904604,52.520078,47.929931,42.124389,38.668570,37.147787,37.330245,37.212697,37.228394,38.165834,...,53.321425,52.192104,50.799034,51.396716,52.697673,52.750232,51.491564,50.596097,52.798831,55.178713
강릉시,23.239734,28.461477,29.786887,24.208582,24.291332,24.457904,25.890283,26.754284,24.297519,22.681266,...,32.135908,29.777082,28.549365,28.846826,31.664158,32.218508,29.910974,27.419616,25.828095,29.324267
강진군,22.873028,23.430791,22.944297,22.073889,18.304564,22.394694,23.317998,22.026713,21.611173,20.747734,...,18.377672,17.824560,14.391787,13.585989,17.263214,16.757431,16.213430,16.796029,17.849569,18.521212
거제시,18.877278,22.532916,21.435366,19.109108,18.468690,19.658469,21.119714,21.932150,19.670099,20.034940,...,23.131568,22.641530,22.799548,22.487805,24.276450,25.359417,22.974697,22.844094,22.912278,23.662738
거창군,24.164292,26.507241,23.311054,22.275773,22.583569,24.282723,24.793985,24.656547,22.648182,22.922625,...,23.735099,23.980361,25.441676,27.541404,27.649651,27.549918,26.219157,25.823814,25.844438,26.008739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
홍천군,40.752968,43.028532,37.213887,32.521297,30.604034,31.708668,29.393393,28.649573,27.340232,27.726198,...,36.546717,35.212492,33.313156,36.382464,35.591591,34.740827,32.549036,32.901422,36.021392,38.846567
화성시,9.563935,10.612643,9.982081,8.633315,8.757733,9.848500,11.045701,11.007507,9.841465,9.518011,...,12.488215,12.083996,11.758318,12.412801,13.625685,14.051310,12.856790,12.354155,12.359557,13.115597
화순군,28.391742,30.284665,28.163697,26.389090,24.748432,25.598917,25.553348,25.078412,24.770617,24.691015,...,30.773970,29.814763,25.296964,25.520254,25.767278,26.416325,27.418616,27.585808,29.132586,30.631644
화천군,52.037788,54.243887,50.563930,45.727610,41.960009,41.254759,40.992231,41.981783,41.147597,42.249996,...,49.627244,46.649945,45.300957,46.689361,48.043892,47.838186,46.872889,46.638046,46.803573,49.491825
횡성군,24.642118,27.449648,24.171232,20.652207,20.166188,22.865723,19.977536,19.303456,18.552739,17.664387,...,19.311780,18.271361,18.419022,21.101361,20.253565,19.801676,17.879036,17.433311,18.430195,19.673426

In [32]:
aa = pd.read_csv('광케이블_시군.csv')['시군'].tolist()

In [33]:
real_final = final.loc[aa]
real_final

년월,201207,201208,201209,201210,201211,201212,201301,201302,201303,201304,...,202109,202110,202111,202112,202201,202202,202203,202204,202205,202206
시군구,,,,,,,,,,,,,,,,,,,,,
서울특별시,56.160000,54.770000,54.590000,53.060000,52.470000,54.310000,55.580000,54.380000,54.130000,52.710000,...,52.420000,52.910000,52.120000,54.150000,55.350000,54.780000,54.270000,52.740000,53.870000,55.130000
부산광역시,31.160000,33.750000,32.160000,29.270000,27.440000,29.190000,30.920000,30.660000,28.560000,27.810000,...,32.470000,31.600000,29.930000,30.840000,32.510000,33.230000,30.490000,30.090000,30.710000,32.350000
대구광역시,29.650000,32.040000,30.530000,27.780000,26.630000,28.400000,29.670000,29.870000,27.430000,26.560000,...,30.760000,30.080000,28.460000,30.060000,31.860000,32.030000,29.720000,28.780000,29.270000,31.230000
인천광역시,23.080000,25.030000,23.210000,20.550000,20.250000,22.320000,23.730000,23.960000,21.440000,21.220000,...,26.020000,24.630000,24.090000,25.400000,27.260000,28.300000,25.080000,23.970000,23.850000,26.240000
광주광역시,33.440000,35.550000,34.250000,33.030000,31.040000,31.920000,34.360000,34.550000,31.870000,31.430000,...,34.550000,33.500000,31.520000,32.580000,34.630000,35.290000,33.040000,32.140000,32.270000,34.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
의령군,9.356462,10.998588,10.074215,8.781770,9.104863,9.834543,10.062800,10.529285,9.395696,9.536005,...,14.675576,14.185667,13.604798,13.716445,13.798466,14.206236,13.230215,13.558505,12.886080,13.218581
함안군,4.217883,5.835179,4.591603,3.875660,3.993740,4.344711,4.837138,5.112820,3.934685,3.910877,...,5.294509,5.032166,4.497449,4.760096,5.226206,5.441316,4.253452,4.269901,4.228233,4.775599
창녕군,19.483865,21.378417,19.304198,18.925415,16.456108,15.590491,15.512308,14.754685,15.252023,14.300677,...,14.001607,13.372163,12.163713,12.276786,12.560260,13.329217,12.363098,12.171694,13.451149,13.087783
고성군,31.119688,34.504349,30.376161,28.107904,26.478927,25.881949,25.583604,25.660858,25.422292,25.497834,...,30.367887,30.125214,28.606246,29.865938,29.891701,30.700646,28.936219,28.265647,29.146661,30.490865
산청군,24.698464,26.331679,24.297954,22.554195,19.320396,19.803178,19.333622,19.775306,20.040715,21.549784,...,20.900789,20.841648,18.629690,19.389100,19.346689,19.850045,19.583820,20.467382,20.590880,20.823695

In [34]:
real_final = real_final.reset_index()

In [35]:
real_final.to_csv("시계열데이터.csv", encoding='utf-8-sig')