In [1]:
import pandas as pd


df = pd.read_csv('충청북도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,804124,43770253213608,4377025321360,4377025321,360,8,3491,충청북도,음성군,금왕읍 무극리,437703247002.0,금석로,125.0,0.0
1,804144,43770253215571,4377025321557,4377025321,557,1,8798,충청북도,음성군,금왕읍 무극리,437703014058.0,대금로,1383.0,0.0
2,804121,43770253212941,4377025321294,4377025321,294,1,589,충청북도,음성군,금왕읍 무극리,437704541214.0,무극로309번길,27.0,0.0
3,804143,43770253215553,4377025321555,4377025321,555,3,563,충청북도,음성군,금왕읍 무극리,-,-,-,-
4,804142,437702532155125,4377025321551,4377025321,551,25,4169,충청북도,음성군,금왕읍 무극리,437703014058.0,대금로,1421.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,768429,431121060013900,43112106001390,4311210600,1390,0,585036,충청북도,청주시 서원구,분평동,...,4311210600,1390,0,충청북도 청주시 서원구 1순환로 1063번길 12 (분평동 1390),통신,KT,KT 청주 IDC,-,-,NaN
1,819033,437703302814450,43770330281445,4377033028,1445,0,1927,충청북도,음성군,맹동면 두성리,...,4377033028,1445,0,충북 음성군 맹동면 태정로 6 한국고용정보원,공공,한국고용정보원,한국고용정보원 전산실,-,-,NaN

In [4]:
df_3.to_csv("충청북도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')