In [1]:
import pandas as pd


df = pd.read_csv('대전광역시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,367492,30140119006578,3014011900657,3014011900,657,8,253,대전광역시,중구,안영동,301403165029.0,안영로,13.0,0.0
1,367501,30140119006686,3014011900668,3014011900,668,6,963,대전광역시,중구,안영동,301404295511.0,안영로6번길,3.0,0.0
2,367500,301401190066710,3014011900667,3014011900,667,10,413,대전광역시,중구,안영동,301404295512.0,안영로79번길,159.0,0.0
3,367499,30140119006675,3014011900667,3014011900,667,5,1108,대전광역시,중구,안영동,301403165029.0,안영로,3.0,0.0
4,367498,30140119006673,3014011900667,3014011900,667,3,1303,대전광역시,중구,안영동,301403165029.0,안영로,9.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,362309,30200143008470,3020014300847,3020014300,847,0,1212,대전광역시,유성구,탑립동,...,3020014300,847,0,대전 유성구 테크노10로 7,공공,한국조폐공사,성과관리처 경영정보팀,-,-,NaN
1,369892,30170106006490,3017010600649,3017010600,649,0,2214336,대전광역시,서구,탄방동,...,3017010600,649,0,대전광역시 서구 문정로 48번길 30 KT 탄방사옥 3F 대전IDC센터,통신,KT,KT 대전 IDC,-,-,NaN
2,378448,30200142001401,3020014200140,3020014200,140,1,4078880,대전광역시,유성구,원촌동,...,3020014200,140,1,대전광역시 유성구 원촌동 엑스포로 325(원촌동 140-1),민간,SK C&C,대덕 데이터센터,-,-,NaN
3,358633,301101130029374,3011011300293,3011011300,293,74,5000,대전광역시,동구,소제동,...,3011011300,293,74,대전 동구 중앙로 240,공공,한국철도공사,통합전산센터,-,-,NaN
4,361229,3020013000621,302001300062,3020013000,62,1,1294,대전광역시,유성구,화암동,...,3020013000,62,1,대전광역시 유성구 대덕대로 755(화암동 62-1),공공,국가정보자원관리원,국가정보자원관리원 대전센터,O 자체 데이터센터,-,NaN
5,361220,3020012800244,302001280024,3020012800,24,4,544032,대전광역시,유성구,장동,...,3020012800,24,4,대전광역시 유성구 가정북로 145,-,-,롯데정보통신 제2센터,-,-,NaN
6,360755,3020012300520,302001230052,3020012300,52,0,1819026,대전광역시,유성구,어은동,...,3020012300,52,0,대전 유성구 과학로 125,공공,한국생명공학연구원,통합전산센터,-,-,NaN
7,355065,30170106006630,3017010600663,3017010600,663,0,370512,대전광역시,서구,탄방동,...,3017010600,663,0,대전광역시 서구 계룡로553번길 66,통신,LG U+,LG U+대전 센터,기타분류,-,NaN
8,375951,3020012300529,302001230052,3020012300,52,9,4077489,대전광역시,유성구,어은동,...,3020012300,52,9,대전 유성구 과학로 169-148 한국기초과학지원연구원(어은동 52-9),공공,기초과학연구원,기초과학연구원 본원 데이터센터,O 자체 데이터센터,-,NaN

In [4]:
df_3.to_csv("대전광역시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')