In [1]:
import pandas as pd


df = pd.read_csv('세종특별자치시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,398492,36110360218008,3611036021800,3611036021,800,8,4102,세종특별자치시,세종특별자치시,연서면 월하리,361104574447.0,작은창고개길,16.0,3.0
1,398491,361103602168215,3611036021682,3611036021,682,15,20,세종특별자치시,세종특별자치시,연서면 월하리,-,-,-,-
2,398490,36110360216370,3611036021637,3611036021,637,0,246,세종특별자치시,세종특별자치시,연서면 월하리,361104574427.0,월하1길,29.0,2.0
3,398489,36110360215810,3611036021581,3611036021,581,0,7706,세종특별자치시,세종특별자치시,연서면 월하리,361103258026.0,월성로,71.0,0.0
4,398493,36110360218050,3611036021805,3611036021,805,0,1484,세종특별자치시,세종특별자치시,연서면 월하리,361103258009.0,도원로,98.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

Empty DataFrame
Columns: [Unnamed: 0, 시군구법정동번지코드, 시군구법정동번코드_x, 시군구법정동코드_x, 본번, 부번, 사용량_KWH, 시도명, 시군구명, 법정동명, 새주소대로로코드, 새주소대로로명, 새주소본번, 새주소부번, 시군구법정동번코드_y, 시군구법정동코드_y, 번, 지, 주소, 분류, 기업, 이름, 비고, 임차여부, 전력사용량]
Index: []

[0 rows x 25 columns]

In [4]:
df_3.to_csv("세종특별자치시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')