In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라북도_계약종별_전력사용량_월별_15하반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2015년 07 월 ~ 2015년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라북도,전체(시 / 군 / 구),주택용,"615,427","182,356,288","20,243,300,235",111.0
4,201507,전라북도,전체(시 / 군 / 구),일반용,"132,037","269,291,176","41,383,544,484",153.7
...,...,...,...,...,...,...,...,...
715,201512,전라북도,진안군,산업용,635,"2,981,037","411,967,894",138.2
716,201512,전라북도,진안군,심 야,"2,025","3,510,978","263,064,584",74.9
717,201512,전라북도,진안군,일반용,"1,991","3,576,742","504,013,369",140.9
718,201512,전라북도,진안군,주택용,"13,046","2,416,223","303,520,123",125.6
719,201512,전라북도,진안군,합계,"27,548","17,110,571","1,781,235,682",104.1

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라북도,전체(시 / 군 / 구),주택용,"615,427","182,356,288","20,243,300,235",111.0
4,201507,전라북도,전체(시 / 군 / 구),일반용,"132,037","269,291,176","41,383,544,484",153.7
5,201507,전라북도,전체(시 / 군 / 구),교육용,"1,193","24,417,109","3,396,953,431",139.1
6,201507,전라북도,전체(시 / 군 / 구),산업용,"13,750","1,058,330,452","127,844,229,179",120.8
...,...,...,...,...,...,...,...,...
715,201512,전라북도,진안군,산업용,635,"2,981,037","411,967,894",138.2
716,201512,전라북도,진안군,심 야,"2,025","3,510,978","263,064,584",74.9
717,201512,전라북도,진안군,일반용,"1,991","3,576,742","504,013,369",140.9
718,201512,전라북도,진안군,주택용,"13,046","2,416,223","303,520,123",125.6
719,201512,전라북도,진안군,합계,"27,548","17,110,571","1,781,235,682",104.1

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라북도,전체(시 / 군 / 구),주택용,"615,427","182,356,288","20,243,300,235",111.0
4,201507,전라북도,전체(시 / 군 / 구),일반용,"132,037","269,291,176","41,383,544,484",153.7
5,201507,전라북도,전체(시 / 군 / 구),교육용,"1,193","24,417,109","3,396,953,431",139.1
6,201507,전라북도,전체(시 / 군 / 구),산업용,"13,750","1,058,330,452","127,844,229,179",120.8
7,201507,전라북도,전체(시 / 군 / 구),농사용,"129,248","94,496,707","4,587,216,574",48.5
...,...,...,...,...,...,...,...,...
715,201512,전라북도,진안군,산업용,635,"2,981,037","411,967,894",138.2
716,201512,전라북도,진안군,심 야,"2,025","3,510,978","263,064,584",74.9
717,201512,전라북도,진안군,일반용,"1,991","3,576,742","504,013,369",140.9
718,201512,전라북도,진안군,주택용,"13,046","2,416,223","303,520,123",125.6
719,201512,전라북도,진안군,합계,"27,548","17,110,571","1,781,235,682",104.1

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라북도,전체(시 / 군 / 구),주택용,"615,427","182,356,288","20,243,300,235",111.0
4,201507,전라북도,전체(시 / 군 / 구),일반용,"132,037","269,291,176","41,383,544,484",153.7
5,201507,전라북도,전체(시 / 군 / 구),교육용,"1,193","24,417,109","3,396,953,431",139.1
6,201507,전라북도,전체(시 / 군 / 구),산업용,"13,750","1,058,330,452","127,844,229,179",120.8
7,201507,전라북도,전체(시 / 군 / 구),농사용,"129,248","94,496,707","4,587,216,574",48.5
8,201507,전라북도,전체(시 / 군 / 구),가로등,"121,130","13,015,163","1,608,381,209",123.6
9,201507,전라북도,전체(시 / 군 / 구),심 야,"69,073","24,164,155","1,383,767,658",57.3
10,201508,전라북도,전체(시 / 군 / 구),주택용,"616,006","222,729,389","28,570,012,755",128.3
11,201508,전라북도,전체(시 / 군 / 구),일반용,"132,341","324,412,137","47,319,817,137",145.9
12,201508,전라북도,전체(시 / 군 / 구),교육용,"1,192","25,222,265","3,464,286,050",137.4
13,201508,전라북도,전체(시 / 군 / 구),산업용,"13,821","1,067,966,246","124,186,019,500",116.3
14,201508,전라북도,전체(시 / 군 / 구),농사용,"130,265","131,107,132","6,025,260,412",46.0
15,201508,전라북도,전체(시 / 군 / 구),가로등,"121,460","13,975,181","1,644,588,297",117.7
16,201508,전라북도,전체(시 / 군 / 구),심 야,"68,887","20,163,142","1,186,762,675",58.9
17,201509,전라북도,전체(시 / 군 / 구),주택용,"617,221","193,087,343","21,777,491,683",112.8
18,201509,전라북도,전체(시 / 군 / 구),일반용,"132,626","284,381,932","38,076,459,884",133.9
19,201509,전라북도,전체(시 / 군 / 구),교육용,"1,198","25,428,500","3,073,609,866",120.9
20,201509,전라북도,전체(시 / 군 / 구),산업용,"13,880","1,140,205,333","106,321,911,408",93.2
21,201509,전라북도,전체(시 / 군 / 구),농사용,"131,242","125,756,804","5,844,107,968",46.5
22,201509,전라북도,전체(시 / 군 / 구),가로등,"121,683","14,748,870","1,673,237,436",113.4
23,201509,전라북도,전체(시 / 군 / 구),심 야,"68,784","20,517,560","1,176,938,616",57.4
24,201510,전라북도,전체(시 / 군 / 구),주택용,"618,468","179,121,931","19,654,518,367",109.7
25,201510,전라북도,전체(시 / 군 / 구),일반용,"132,562","238,771,260","29,224,594,784",122.4
26,201510,전라북도,전체(시 / 군 / 구),교육용,"1,200","21,650,914","2,362,783,241",109.1
27,201510,전라북도,전체(시 / 군 / 구),산업용,"13,907","1,150,264,777","105,048,166,576",91.3
28,201510,전라북도,전체(시 / 군 / 구),농사용,"131,640","97,825,804","4,865,305,527",49.7
29,201510,전라북도,전체(시 / 군 / 구),가로등,"121,891","16,037,596","1,706,231,616",106.4
30,201510,전라북도,전체(시 / 군 / 구),심 야,"68,682","33,153,547","1,834,917,604",55.3
31,201511,전라북도,전체(시 / 군 / 구),주택용,"619,530","192,425,414","22,745,542,273",118.2
32,201511,전라북도,전체(시 / 군 / 구),일반용,"132,979","251,596,419","33,371,334,698",132.6
33,201511,전라북도,전체(시 / 군 / 구),교육용,"1,201","25,981,538","3,006,366,533",115.7
34,201511,전라북도,전체(시 / 군 / 구),산업용,"13,958","1,105,300,163","125,686,976,259",113.7
35,201511,전라북도,전체(시 / 군 / 구),농사용,"200,216","151,761,720","6,401,674,418",42.2
36,201511,전라북도,전체(시 / 군 / 구),가로등,"122,476","17,207,671","1,788,144,744",103.9
37,201511,전라북도,전체(시 / 군 / 구),심 야,"68,612","66,786,723","4,221,093,597",63.2
38,201512,전라북도,전체(시 / 군 / 구),주택용,"620,214","201,451,241","24,775,201,577",123.0
39,201512,전라북도,전체(시 / 군 / 구),일반용,"133,630","289,350,528","40,660,786,427",140.5
40,201512,전라북도,전체(시 / 군 / 구),교육용,"1,203","35,914,175","4,037,441,641",112.4
41,201512,전라북도,전체(시 / 군 / 구),산업용,"14,022","1,027,913,617","125,996,098,561",122.6
42,201512,전라북도,전체(시 / 군 / 구),농사용,"172,820","143,407,783","6,406,923,322",44.7
43,201512,전라북도,전체(시 / 군 / 구),가로등,"122,921","17,597,590","1,771,746,844",100.7
44,201512,전라북도,전체(시 / 군 / 구),심 야,"68,588","113,992,305","8,497,907,125",74.5
45,합계,합계,합계,합계,"6,633,184","10,653,285,600","1,164,851,652,191",109.3

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_11148\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201507  전라북도  일반용  132,037   269,291,176
11  201508  전라북도  일반용  132,341   324,412,137
18  201509  전라북도  일반용  132,626   284,381,932
25  201510  전라북도  일반용  132,562   238,771,260
32  201511  전라북도  일반용  132,979   251,596,419
39  201512  전라북도  일반용  133,630   289,350,528

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201507  전라북도  고창군  일반용  4,336   7,271,597
165  201508  전라북도  고창군  일반용  4,340   8,766,325
277  201509  전라북도  고창군  일반용  4,348   7,714,341
389  201510  전라북도  고창군  일반용  4,369   6,800,532
501  201511  전라북도  고창군  일반용  4,391   7,230,239
..      ...   ...  ...  ...     ...         ...
269  201508  전라북도  진안군  일반용  1,966   3,399,111
381  201509  전라북도  진안군  일반용  1,965   2,995,283
493  201510  전라북도  진안군  일반용  1,965   2,760,542
605  201511  전라북도  진안군  일반용  1,982   3,239,149
717  201512  전라북도  진안군  일반용  1,991   3,576,742

[84 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   201507  전라북도  고창군   합계  53,078   37,207,350
167  201508  전라북도  고창군   합계  53,181   41,361,753
279  201509  전라북도  고창군   합계  53,324   39,743,846
391  201510  전라북도  고창군   합계  53,376   37,416,017
503  201511  전라북도  고창군   합계  56,712   45,728,618
..      ...   ...  ...  ...      ...          ...
271  201508  전라북도  진안군   합계  27,229   13,922,390
383  201509  전라북도  진안군   합계  27,352   14,940,271
495  201510  전라북도  진안군   합계  27,430   13,390,217
607  201511  전라북도  진안군   합계  29,777   16,458,232
719  201512  전라북도  진안군   합계  27,548   17,110,571

[84 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[37207350, 41361753, 39743846, 37416017, 45728618, 64042996]
[591690101, 643224561, 708507115, 694897712, 650946056, 570309767]
[64908784, 72420790, 69714481, 63734788, 79280299, 83366013]
[39614669, 46584024, 43175449, 40798520, 46351048, 55087923]
[12627984, 14401225, 13662770, 13263163, 15981221, 19994873]
[33740066, 39833918, 36758590, 32656066, 41748382, 40559390]
[18173480, 20202308, 19196584, 17927656, 23024626, 21522981]
[131240069, 132071874, 124360420, 125995648, 135760454, 145205248]
[249853918, 259326171, 248957738, 235637434, 255185509, 271728255]
[19480641, 21930067, 22357290, 20447844, 22746384, 27673564]
[11766830, 13000719, 13099942, 13800091, 17141655, 20355664]
[335384936, 369614870, 338324352, 321848216, 338570930, 370964896]
[108166575, 117680822, 111327494, 105012457, 122136234, 121705098]
[12215647, 13922390, 14940271, 13390217, 16458232, 17110571]
전라북도 지역별 합계 :  [265500580, 3859575312, 433425155, 271611633, 89931236, 225296412, 120047635, 794633713, 1520689025, 134635790, 89164901, 2074708200, 686028680, 88037328]
전라북도 고객호수 평균:  [9504, 22261, 12102, 12258, 4308, 8466, 5000, 10381, 27239, 5222, 4085, 43256, 15543, 4623]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          201507  전라북도  고창군   합계  53,078   37,207,350
1          201508  전라북도  고창군   합계  53,181   41,361,753
2          201509  전라북도  고창군   합계  53,324   39,743,846
3          201510  전라북도  고창군   합계  53,376   37,416,017
4          201511  전라북도  고창군   합계  56,712   45,728,618
..            ...   ...  ...  ...      ...          ...
93  201507-201512  전라북도  임실군   합계     5222    134635790
94  201507-201512  전라북도  장수군   합계     4085     89164901
95  201507-201512  전라북도  전주시   합계    43256   2074708200
96  201507-201512  전라북도  정읍시   합계    15543    686028680
97  201507-201512  전라북도  진안군   합계     4623     88037328

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201507-201512']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201507-201512  전라북도  고창군   합계    9504   265500580
85  201507-201512  전라북도  군산시   합계   22261  3859575312
86  201507-201512  전라북도  김제시   합계   12102   433425155
87  201507-201512  전라북도  남원시   합계   12258   271611633
88  201507-201512  전라북도  무주군   합계    4308    89931236
89  201507-201512  전라북도  부안군   합계    8466   225296412
90  201507-201512  전라북도  순창군   합계    5000   120047635
91  201507-201512  전라북도  완주군   합계   10381   794633713
92  201507-201512  전라북도  익산시   합계   27239  1520689025
93  201507-201512  전라북도  임실군   합계    5222   134635790
94  201507-201512  전라북도  장수군   합계    4085    89164901
95  201507-201512  전라북도  전주시   합계   43256  2074708200
96  201507-201512  전라북도  정읍시   합계   15543   686028680
97  201507-201512  전라북도  진안군   합계    4623    88037328

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201507  전라북도  고창군  일반용  4,336   7,271,597
165  201508  전라북도  고창군  일반용  4,340   8,766,325
277  201509  전라북도  고창군  일반용  4,348   7,714,341
389  201510  전라북도  고창군  일반용  4,369   6,800,532
501  201511  전라북도  고창군  일반용  4,391   7,230,239
..      ...   ...  ...  ...     ...         ...
269  201508  전라북도  진안군  일반용  1,966   3,399,111
381  201509  전라북도  진안군  일반용  1,965   2,995,283
493  201510  전라북도  진안군  일반용  1,965   2,760,542
605  201511  전라북도  진안군  일반용  1,982   3,239,149
717  201512  전라북도  진안군  일반용  1,991   3,576,742

[84 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[7271597, 8766325, 7714341, 6800532, 7230239, 8163526]
[45820470, 55447912, 49731443, 41295279, 42601881, 48674282]
[11047300, 13558358, 12160960, 10408992, 11092862, 12344367]
[11082794, 13979899, 11883852, 10453620, 11393698, 12892872]
[5286261, 6408782, 5395440, 4974648, 6091704, 9083954]
[9296876, 11906013, 10288856, 8644381, 9295311, 10535191]
[3003432, 3534501, 3043662, 2744016, 3139524, 3524275]
[15521483, 17940726, 15349496, 13339603, 14466824, 16346952]
[37811825, 45793349, 40943714, 33574944, 34996097, 40162906]
[3829817, 4447061, 3802344, 3557046, 3991680, 4731535]
[2339016, 2817015, 2447741, 2405571, 2678003, 3064718]
[100825278, 120160238, 104577483, 85759379, 88124219, 101087763]
[13366643, 16252847, 14047317, 12052707, 13255228, 15161445]
[2788384, 3399111, 2995283, 2760542, 3239149, 3576742]
전라북도 지역별 일반용 합계 :  [45946560, 283571267, 70612839, 71686735, 37240789, 59966628, 18989410, 92965084, 233282835, 24359483, 15752064, 600534360, 84136187, 18759211]
전라북도 고객호수 평균:  [4364, 19721, 6241, 7081, 2554, 5369, 2163, 6724, 20220, 2255, 1575, 43599, 8850, 1973]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_11148\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0          201507  전라북도  고창군  일반용  4,336   7,271,597
1          201508  전라북도  고창군  일반용  4,340   8,766,325
2          201509  전라북도  고창군  일반용  4,348   7,714,341
3          201510  전라북도  고창군  일반용  4,369   6,800,532
4          201511  전라북도  고창군  일반용  4,391   7,230,239
..            ...   ...  ...  ...     ...         ...
93  201507-201512  전라북도  임실군  일반용    2255    24359483
94  201507-201512  전라북도  장수군  일반용    1575    15752064
95  201507-201512  전라북도  전주시  일반용   43599   600534360
96  201507-201512  전라북도  정읍시  일반용    8850    84136187
97  201507-201512  전라북도  진안군  일반용    1973    18759211

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201507-201512']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  201507-201512  전라북도  고창군  일반용    4364   45946560
85  201507-201512  전라북도  군산시  일반용   19721  283571267
86  201507-201512  전라북도  김제시  일반용    6241   70612839
87  201507-201512  전라북도  남원시  일반용    7081   71686735
88  201507-201512  전라북도  무주군  일반용    2554   37240789
89  201507-201512  전라북도  부안군  일반용    5369   59966628
90  201507-201512  전라북도  순창군  일반용    2163   18989410
91  201507-201512  전라북도  완주군  일반용    6724   92965084
92  201507-201512  전라북도  익산시  일반용   20220  233282835
93  201507-201512  전라북도  임실군  일반용    2255   24359483
94  201507-201512  전라북도  장수군  일반용    1575   15752064
95  201507-201512  전라북도  전주시  일반용   43599  600534360
96  201507-201512  전라북도  정읍시  일반용    8850   84136187
97  201507-201512  전라북도  진안군  일반용    1973   18759211

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201507-201512  전라북도  고창군  일반용    4364    45946560
84  201507-201512  전라북도  고창군   합계    9504   265500580
85  201507-201512  전라북도  군산시  일반용   19721   283571267
85  201507-201512  전라북도  군산시   합계   22261  3859575312
86  201507-201512  전라북도  김제시  일반용    6241    70612839
86  201507-201512  전라북도  김제시   합계   12102   433425155
87  201507-201512  전라북도  남원시  일반용    7081    71686735
87  201507-201512  전라북도  남원시   합계   12258   271611633
88  201507-201512  전라북도  무주군  일반용    2554    37240789
88  201507-201512  전라북도  무주군   합계    4308    89931236
89  201507-201512  전라북도  부안군  일반용    5369    59966628
89  201507-201512  전라북도  부안군   합계    8466   225296412
90  201507-201512  전라북도  순창군  일반용    2163    18989410
90  201507-201512  전라북도  순창군   합계    5000   120047635
91  201507-201512  전라북도  완주군   합계   10381   794633713
91  201507-201512  전라북도  완주군  일반용    6724    92965084
92  201507-201512  전라북도  익산시  일반용   20220   233282835
92  201507-201512  전라북도  익산시   합계   27239  1520689025
93  201507-201512  전라북도  임실군   합계    5222   134635790
93  201507-201512  전라북도  임실군  일반용    2255    24359483
94  201507-201512  전라북도  장수군   합계    4085    89164901
94  201507-201512  전라북도  장수군  일반용    1575    15752064
95  201507-201512  전라북도  전주시   합계   43256  2074708200
95  201507-201512  전라북도  전주시  일반용   43599   600534360
96  201507-201512  전라북도  정읍시   합계   15543   686028680
96  201507-201512  전라북도  정읍시  일반용    8850    84136187
97  201507-201512  전라북도  진안군  일반용    1973    18759211
97  201507-201512  전라북도  진안군   합계    4623    88037328

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[45946560,
 283571267,
 70612839,
 71686735,
 37240789,
 59966628,
 18989410,
 92965084,
 233282835,
 24359483,
 15752064,
 600534360,
 84136187,
 18759211]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[265500580,
 3859575312,
 433425155,
 271611633,
 89931236,
 225296412,
 120047635,
 794633713,
 1520689025,
 134635790,
 89164901,
 2074708200,
 686028680,
 88037328]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[17.31, 7.35, 16.29, 26.39, 41.41, 26.62, 15.82, 11.7, 15.34, 18.09, 17.67, 28.95, 12.26, 21.31]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    17
1     7
2    16
3    26
4    41
5    27
6    16
7    12
8    15
9    18
10   18
11   29
12   12
13   21
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  17
1   군산시  일반용   7
2   김제시  일반용  16
3   남원시  일반용  26
4   무주군  일반용  41
5   부안군  일반용  27
6   순창군  일반용  16
7   완주군  일반용  12
8   익산시  일반용  15
9   임실군  일반용  18
10  장수군  일반용  18
11  전주시  일반용  29
12  정읍시  일반용  12
13  진안군  일반용  21

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201507-201512  전라북도  고창군  일반용    4364    45946560  17
1   201507-201512  전라북도  고창군   합계    9504   265500580 NaN
2   201507-201512  전라북도  군산시  일반용   19721   283571267   7
3   201507-201512  전라북도  군산시   합계   22261  3859575312 NaN
4   201507-201512  전라북도  김제시  일반용    6241    70612839  16
5   201507-201512  전라북도  김제시   합계   12102   433425155 NaN
6   201507-201512  전라북도  남원시  일반용    7081    71686735  26
7   201507-201512  전라북도  남원시   합계   12258   271611633 NaN
8   201507-201512  전라북도  무주군  일반용    2554    37240789  41
9   201507-201512  전라북도  무주군   합계    4308    89931236 NaN
10  201507-201512  전라북도  부안군  일반용    5369    59966628  27
11  201507-201512  전라북도  부안군   합계    8466   225296412 NaN
12  201507-201512  전라북도  순창군  일반용    2163    18989410  16
13  201507-201512  전라북도  순창군   합계    5000   120047635 NaN
15  201507-201512  전라북도  완주군  일반용    6724    92965084  12
14  201507-201512  전라북도  완주군   합계   10381   794633713 NaN
16  201507-201512  전라북도  익산시  일반용   20220   233282835  15
17  201507-201512  전라북도  익산시   합계   27239  1520689025 NaN
19  201507-201512  전라북도  임실군  일반용    2255    24359483  18
18  201507-201512  전라북도  임실군   합계    5222   134635790 NaN
21  201507-201512  전라북도  장수군  일반용    1575    15752064  18
20  201507-201512  전라북도  장수군   합계    4085    89164901 NaN
23  201507-201512  전라북도  전주시  일반용   43599   600534360  29
22  201507-201512  전라북도  전주시   합계   43256  2074708200 NaN
25  201507-201512  전라북도  정읍시  일반용    8850    84136187  12
24  201507-201512  전라북도  정읍시   합계   15543   686028680 NaN
26  201507-201512  전라북도  진안군  일반용    1973    18759211  21
27  201507-201512  전라북도  진안군   합계    4623    88037328 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1507-12.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)