In [1]:
import pandas as pd


df = pd.read_csv('경기도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str'})
                 #'시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,484185,412811190013624,136,24,1521,경기도,고양시 덕양구,내유동,412814376036.0,내유길,305.0,0.0
1,543608,414631170048210,482,10,13769,경기도,용인시 기흥구,상하동,414633204047.0,언동로,220.0,0.0
2,543609,41463117004976,497,6,7232,경기도,용인시 기흥구,상하동,414633204047.0,언동로,210.0,7.0
3,543610,41463117005112,511,2,6965,경기도,용인시 기흥구,상하동,414633204047.0,언동로,126.0,0.0
4,543611,41463117005123,512,3,3581,경기도,용인시 기흥구,상하동,-,-,-,-

In [2]:
print(df.dtypes)

Unnamed: 0     int64
시군구법정동번지코드    object
본번             int64
부번             int64
사용량_KWH        int64
시도명           object
시군구명          object
법정동명          object
새주소대로로코드      object
새주소대로로명       object
새주소본번         object
새주소부번         object
dtype: object

In [3]:
#df_2 = df_2.astype({'시군구법정동번지코드' : 'float'})

In [4]:
print(df_2.dtypes)

시군구법정동번지코드    object
시군구법정동번코드     object
시군구법정동코드       int64
번             object
지             object
주소            object
분류            object
기업            object
이름            object
비고            object
임차여부          object
dtype: object

In [5]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,421301170018946,4.21301E+13,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-
1,4213011700204710,4.21301E+13,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-
2,4213011700204710,4.21301E+13,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-
3,421103102210000,4.21103E+13,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-
4,42110126006500,4.21101E+12,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-

In [6]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,...,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,544837,4146510300325230,325,230,1868832,경기도,용인시 수지구,동천동,414654415118.0,용구대로2771번길,...,4.14651E+12,4146510300,325,230,경기도 용인시 수지구용구대로 2771번길 85,민간,세종텔레콤,세종텔레콤,-,-
1,550536,414631130010218,102,18,13610076,경기도,용인시 기흥구,마북동,414634412125.0,마북로240번길,...,4.14631E+12,4146311300,102,18,경기도 용인시 기흥구 마북로 240번길 17-9,-,AWS 임차(롯데정보통신(현대정보기술) 용인 글로벌클라우드센터),"롯데정보통신 제3,4센터",*AWS 중복,-
2,550537,414631130010218,102,18,13610076,경기도,용인시 기흥구,마북동,414634412125.0,마북로240번길,...,4.14631E+12,4146311300,102,18,경기도 용인시 기흥구 마북로 240번길 17-9,-,AWS 임차(롯데정보통신(현대정보기술) 용인 글로벌클라우드센터),"롯데정보통신 제3,4센터",*AWS 중복,-
3,587904,415701040020161,2016,1,1084,경기도,김포시,장기동,-,-,...,4.15701E+13,4157010400,2016,1,경기 김포시 태장로769번길 35,금융,KB금융,KB국민은행 통합IT센터,-,-
4,605131,4159013500383,38,3,66696,경기도,화성시,산척동,415904852416.0,동탄산척로2길,...,4.15901E+11,4159013500,38,3,경기 화성시 동탄산척로2길 53-7,공공,한국도로공사,ICT운영센터(동탄),-,-
5,519860,41390135002420,242,0,56851,경기도,시흥시,배곧동,-,-,...,4.13901E+12,4139013500,242,0,경기도 시흥시 서울대학로 173,민간,KAKAO,카카오 제3데이터센터,2024 착공 예정\n2026 준공 예정,-
6,526571,41450109008361,836,1,2941,경기도,하남시,망월동,-,-,...,4.14501E+12,4145010900,836,1,경기 하남시 미사강변한강로 177,은행,한국산업은행,디지털스퀘어,-,-
7,526571,41450109008361,836,1,2941,경기도,하남시,망월동,-,-,...,4.14501E+12,4145010900,836,1,경기 하남시 미사강변한강로 177(망월동 836-1),은행,산업은행,한국 산업은행 IT센터,-,-
8,488330,41285104007260,726,0,10155648,경기도,고양시 일산동구,장항동,412853192094.0,중앙로,...,4.12851E+12,4128510400,726,0,경기도 고양시 일산동구 중앙로 1333 (경기도 고양시 일산동구 장항동 726번지),통신,"SK브로드밴드,AWS",일산 센터,-,-
9,496445,412851060013280,1328,0,331728,경기도,고양시 일산동구,백석동,412853192096.0,호수로,...,4.12851E+13,4128510600,1328,0,경기 고양시 일산동구 호수로 358-8,공공,한국예탁결제원,한국예탁결제원 일산전산센터,-,-
10,431825,41135109006950,695,0,1824480,경기도,성남시 분당구,삼평동,411354340056.0,대왕판교로712번길,...,4.11351E+12,4113510900,695,0,경기도 성남시 분당구 대왕판교로712번길 11,민간,NHN,"토스트 클라우드 센터1\n (TOAST Cloud Center 1, TCC1)",2021 착공\n2022.12 준공 예정,-
11,439543,411711010020012,200,12,4800000,경기도,안양시 만안구,안양동,411714346054.0,덕천로48번길,...,4.11711E+12,4117110100,200,12,경기도 안양시 만안구 덕천로48번길 37,통신,LG U+,LG U+안양 센터,기타분류,-
12,432408,41135114001922,192,2,3467376,경기도,성남시 분당구,구미동,411354340263.0,성남대로2번길,...,4.11351E+12,4113511400,192,2,경기도 성남시 분당구 성남대로 2번길 12 (경기도 성남시 분당구 구미동 192-2),통신,"SK브로드밴드,KINX,한국여성인권진흥원(공공)",분당 센터,-,-
13,435529,41135107003431,343,1,2931456,경기도,성남시 분당구,야탑동,411353180048.0,장미로,...,4.11351E+12,4113510700,343,1,경기도 성남시 분당구 장미로 36 호스트웨이 IDC,민간,KINX (인터넷 인프라 기업),IDC 분당1,-,-
14,436056,41135109006110,611,0,10949756,경기도,성남시 분당구,삼평동,411354340514.0,판교로255번길,...,4.11351E+12,4113510900,611,0,성남시 분당구 판교로 255번길 46(삼평동 611),민간,SK C&C,판교 클라우드 센터,-,-
15,419189,41117101004101,410,1,7745160,경기도,수원시 영통구,매탄동,411174331102.0,삼성로168번길,...,4.11171E+12,4111710100,410,1,"경기도 수원시 영통구 삼성로168번길 10, 경기도 수원시 영통구 매탄동 410-1",민간,삼성SDS,삼성SDS ICT수원센터,-,-

In [7]:
df_3.to_csv("경기도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')