In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라북도_계약종별_전력사용량_월별_15상반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2015년 01 월 ~ 2015년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라북도,전체(시 / 군 / 구),주택용,"610,052","213,358,188","28,533,594,565",133.7
4,201501,전라북도,전체(시 / 군 / 구),일반용,"131,134","342,557,840","45,280,622,809",132.2
...,...,...,...,...,...,...,...,...
715,201506,전라북도,진안군,산업용,616,"2,559,791","358,440,676",140
716,201506,전라북도,진안군,심 야,"2,031","1,211,440","66,435,254",54.8
717,201506,전라북도,진안군,일반용,"1,975","2,827,852","398,564,888",140.9
718,201506,전라북도,진안군,주택용,"12,904","2,162,991","261,375,790",120.8
719,201506,전라북도,진안군,합계,"27,039","12,544,350","1,339,616,550",106.8

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라북도,전체(시 / 군 / 구),주택용,"610,052","213,358,188","28,533,594,565",133.7
4,201501,전라북도,전체(시 / 군 / 구),일반용,"131,134","342,557,840","45,280,622,809",132.2
5,201501,전라북도,전체(시 / 군 / 구),교육용,"1,178","38,597,243","4,251,441,592",110.1
6,201501,전라북도,전체(시 / 군 / 구),산업용,"13,545","1,205,277,833","142,388,126,126",118.1
...,...,...,...,...,...,...,...,...
715,201506,전라북도,진안군,산업용,616,"2,559,791","358,440,676",140
716,201506,전라북도,진안군,심 야,"2,031","1,211,440","66,435,254",54.8
717,201506,전라북도,진안군,일반용,"1,975","2,827,852","398,564,888",140.9
718,201506,전라북도,진안군,주택용,"12,904","2,162,991","261,375,790",120.8
719,201506,전라북도,진안군,합계,"27,039","12,544,350","1,339,616,550",106.8

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라북도,전체(시 / 군 / 구),주택용,"610,052","213,358,188","28,533,594,565",133.7
4,201501,전라북도,전체(시 / 군 / 구),일반용,"131,134","342,557,840","45,280,622,809",132.2
5,201501,전라북도,전체(시 / 군 / 구),교육용,"1,178","38,597,243","4,251,441,592",110.1
6,201501,전라북도,전체(시 / 군 / 구),산업용,"13,545","1,205,277,833","142,388,126,126",118.1
7,201501,전라북도,전체(시 / 군 / 구),농사용,"123,996","131,683,003","6,285,560,513",47.7
...,...,...,...,...,...,...,...,...
715,201506,전라북도,진안군,산업용,616,"2,559,791","358,440,676",140
716,201506,전라북도,진안군,심 야,"2,031","1,211,440","66,435,254",54.8
717,201506,전라북도,진안군,일반용,"1,975","2,827,852","398,564,888",140.9
718,201506,전라북도,진안군,주택용,"12,904","2,162,991","261,375,790",120.8
719,201506,전라북도,진안군,합계,"27,039","12,544,350","1,339,616,550",106.8

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라북도,전체(시 / 군 / 구),주택용,"610,052","213,358,188","28,533,594,565",133.7
4,201501,전라북도,전체(시 / 군 / 구),일반용,"131,134","342,557,840","45,280,622,809",132.2
5,201501,전라북도,전체(시 / 군 / 구),교육용,"1,178","38,597,243","4,251,441,592",110.1
6,201501,전라북도,전체(시 / 군 / 구),산업용,"13,545","1,205,277,833","142,388,126,126",118.1
7,201501,전라북도,전체(시 / 군 / 구),농사용,"123,996","131,683,003","6,285,560,513",47.7
8,201501,전라북도,전체(시 / 군 / 구),가로등,"119,319","17,375,678","1,769,977,534",101.9
9,201501,전라북도,전체(시 / 군 / 구),심 야,"69,756","172,126,676","12,817,706,132",74.5
10,201502,전라북도,전체(시 / 군 / 구),주택용,"610,708","210,783,299","27,641,174,078",131.1
11,201502,전라북도,전체(시 / 군 / 구),일반용,"131,280","329,391,659","43,939,287,265",133.4
12,201502,전라북도,전체(시 / 군 / 구),교육용,"1,179","35,432,472","3,994,263,794",112.7
13,201502,전라북도,전체(시 / 군 / 구),산업용,"13,603","1,045,478,173","120,366,781,927",115.1
14,201502,전라북도,전체(시 / 군 / 구),농사용,"123,946","130,288,266","6,228,813,345",47.8
15,201502,전라북도,전체(시 / 군 / 구),가로등,"119,633","16,022,358","1,753,869,004",109.5
16,201502,전라북도,전체(시 / 군 / 구),심 야,"69,699","164,918,654","12,264,054,868",74.4
17,201503,전라북도,전체(시 / 군 / 구),주택용,"611,565","186,932,437","21,980,085,528",117.6
18,201503,전라북도,전체(시 / 군 / 구),일반용,"131,215","280,845,349","35,403,298,054",126.1
19,201503,전라북도,전체(시 / 군 / 구),교육용,"1,182","34,345,468","3,430,306,003",99.9
20,201503,전라북도,전체(시 / 군 / 구),산업용,"13,587","1,177,515,373","108,963,216,811",92.5
21,201503,전라북도,전체(시 / 군 / 구),농사용,"195,676","111,715,090","5,410,410,410",48.4
22,201503,전라북도,전체(시 / 군 / 구),가로등,"119,856","15,115,629","1,665,102,635",110.2
23,201503,전라북도,전체(시 / 군 / 구),심 야,"69,605","137,526,733","9,039,583,079",65.7
24,201504,전라북도,전체(시 / 군 / 구),주택용,"612,395","195,430,926","23,621,452,933",120.9
25,201504,전라북도,전체(시 / 군 / 구),일반용,"131,425","270,147,238","31,254,687,402",115.7
26,201504,전라북도,전체(시 / 군 / 구),교육용,"1,183","31,859,955","3,019,106,645",94.8
27,201504,전라북도,전체(시 / 군 / 구),산업용,"13,601","1,180,543,455","109,216,110,192",92.5
28,201504,전라북도,전체(시 / 군 / 구),농사용,"166,278","100,916,996","4,937,233,609",48.9
29,201504,전라북도,전체(시 / 군 / 구),가로등,"119,936","14,589,831","1,700,459,379",116.6
30,201504,전라북도,전체(시 / 군 / 구),심 야,"69,502","108,793,332","5,870,658,142",54.0
31,201505,전라북도,전체(시 / 군 / 구),주택용,"613,371","181,788,703","20,693,607,053",113.8
32,201505,전라북도,전체(시 / 군 / 구),일반용,"131,610","241,001,829","29,125,672,651",120.9
33,201505,전라북도,전체(시 / 군 / 구),교육용,"1,183","22,567,624","2,445,253,458",108.4
34,201505,전라북도,전체(시 / 군 / 구),산업용,"13,626","1,183,526,146","109,744,901,706",92.7
35,201505,전라북도,전체(시 / 군 / 구),농사용,"126,422","87,673,287","4,289,201,095",48.9
36,201505,전라북도,전체(시 / 군 / 구),가로등,"120,257","13,890,572","1,676,337,266",120.7
37,201505,전라북도,전체(시 / 군 / 구),심 야,"69,340","64,157,034","3,470,712,694",54.1
38,201506,전라북도,전체(시 / 군 / 구),주택용,"614,629","181,925,323","20,751,460,124",114.1
39,201506,전라북도,전체(시 / 군 / 구),일반용,"131,827","251,368,365","34,483,030,500",137.2
40,201506,전라북도,전체(시 / 군 / 구),교육용,"1,188","22,653,848","2,885,276,240",127.4
41,201506,전라북도,전체(시 / 군 / 구),산업용,"13,663","1,134,445,711","129,210,756,936",113.9
42,201506,전라북도,전체(시 / 군 / 구),농사용,"128,085","100,898,402","4,636,631,771",46.0
43,201506,전라북도,전체(시 / 군 / 구),가로등,"120,591","13,129,297","1,653,212,064",125.9
44,201506,전라북도,전체(시 / 군 / 구),심 야,"69,204","34,976,103","1,924,690,215",55.0
45,합계,합계,합계,합계,"6,551,030","11,433,571,398","1,190,017,728,147",104.1

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_6548\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201501  전라북도  일반용  131,134   342,557,840
11  201502  전라북도  일반용  131,280   329,391,659
18  201503  전라북도  일반용  131,215   280,845,349
25  201504  전라북도  일반용  131,425   270,147,238
32  201505  전라북도  일반용  131,610   241,001,829
39  201506  전라북도  일반용  131,827   251,368,365

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201501  전라북도  고창군  일반용  4,288   9,535,374
165  201502  전라북도  고창군  일반용  4,295   9,378,654
277  201503  전라북도  고창군  일반용  4,284   8,174,251
389  201504  전라북도  고창군  일반용  4,287   8,027,453
501  201505  전라북도  고창군  일반용  4,309   7,006,603
..      ...   ...  ...  ...     ...         ...
269  201502  전라북도  진안군  일반용  1,956   3,968,074
381  201503  전라북도  진안군  일반용  1,956   3,411,101
493  201504  전라북도  진안군  일반용  1,957   3,295,241
605  201505  전라북도  진안군  일반용  1,970   2,913,127
717  201506  전라북도  진안군  일반용  1,975   2,827,852

[84 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   201501  전라북도  고창군   합계  51,981   54,307,949
167  201502  전라북도  고창군   합계  52,021   53,424,162
279  201503  전라북도  고창군   합계  57,025   46,091,529
391  201504  전라북도  고창군   합계  70,112   45,336,391
503  201505  전라북도  고창군   합계  52,444   38,218,552
..      ...   ...  ...  ...      ...          ...
271  201502  전라북도  진안군   합계  26,828   18,421,987
383  201503  전라북도  진안군   합계  29,134   16,572,359
495  201504  전라북도  진안군   합계  26,878   15,432,826
607  201505  전라북도  진안군   합계  26,965   13,049,270
719  201506  전라북도  진안군   합계  27,039   12,544,350

[84 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[54307949, 53424162, 46091529, 45336391, 38218552, 37418945]
[769310472, 678516742, 756297100, 748271869, 737076915, 690608746]
[89600541, 86193547, 77421202, 75229320, 65895961, 65872344]
[55992793, 54156469, 48428580, 47003535, 41000049, 40418776]
[24078869, 22167478, 17989031, 15618570, 13443155, 12673068]
[46577023, 44711998, 40193693, 39745995, 33009796, 32857251]
[22774078, 21567912, 20559061, 19009667, 17363049, 17685884]
[150984106, 135243103, 141465559, 133789347, 123712014, 128291254]
[297520112, 272958126, 260163642, 258888548, 245440962, 246812255]
[30098280, 26997372, 23030237, 21492423, 19182913, 18917599]
[24608824, 23225584, 20102926, 18043251, 14339649, 12567900]
[407389832, 373810270, 361486383, 348370266, 325921156, 315674143]
[128678519, 120920131, 114194777, 116049725, 106951754, 107054534]
[19055063, 18421987, 16572359, 15432826, 13049270, 12544350]
전라북도 지역별 합계 :  [274797528, 4380081844, 460212915, 287000202, 105970171, 237095756, 118959651, 813485383, 1581783645, 139718824, 112888134, 2132652050, 693849440, 95075855]
전라북도 고객호수 평균:  [9341, 22080, 11939, 12115, 4214, 8369, 4910, 10172, 27066, 5120, 4023, 42757, 15314, 4547]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          201501  전라북도  고창군   합계  51,981   54,307,949
1          201502  전라북도  고창군   합계  52,021   53,424,162
2          201503  전라북도  고창군   합계  57,025   46,091,529
3          201504  전라북도  고창군   합계  70,112   45,336,391
4          201505  전라북도  고창군   합계  52,444   38,218,552
..            ...   ...  ...  ...      ...          ...
93  201501-201506  전라북도  임실군   합계     5120    139718824
94  201501-201506  전라북도  장수군   합계     4023    112888134
95  201501-201506  전라북도  전주시   합계    42757   2132652050
96  201501-201506  전라북도  정읍시   합계    15314    693849440
97  201501-201506  전라북도  진안군   합계     4547     95075855

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201501-201506']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201501-201506  전라북도  고창군   합계    9341   274797528
85  201501-201506  전라북도  군산시   합계   22080  4380081844
86  201501-201506  전라북도  김제시   합계   11939   460212915
87  201501-201506  전라북도  남원시   합계   12115   287000202
88  201501-201506  전라북도  무주군   합계    4214   105970171
89  201501-201506  전라북도  부안군   합계    8369   237095756
90  201501-201506  전라북도  순창군   합계    4910   118959651
91  201501-201506  전라북도  완주군   합계   10172   813485383
92  201501-201506  전라북도  익산시   합계   27066  1581783645
93  201501-201506  전라북도  임실군   합계    5120   139718824
94  201501-201506  전라북도  장수군   합계    4023   112888134
95  201501-201506  전라북도  전주시   합계   42757  2132652050
96  201501-201506  전라북도  정읍시   합계   15314   693849440
97  201501-201506  전라북도  진안군   합계    4547    95075855

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201501  전라북도  고창군  일반용  4,288   9,535,374
165  201502  전라북도  고창군  일반용  4,295   9,378,654
277  201503  전라북도  고창군  일반용  4,284   8,174,251
389  201504  전라북도  고창군  일반용  4,287   8,027,453
501  201505  전라북도  고창군  일반용  4,309   7,006,603
..      ...   ...  ...  ...     ...         ...
269  201502  전라북도  진안군  일반용  1,956   3,968,074
381  201503  전라북도  진안군  일반용  1,956   3,411,101
493  201504  전라북도  진안군  일반용  1,957   3,295,241
605  201505  전라북도  진안군  일반용  1,970   2,913,127
717  201506  전라북도  진안군  일반용  1,975   2,827,852

[84 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[9535374, 9378654, 8174251, 8027453, 7006603, 7095001]
[57761967, 55757128, 47702007, 46656507, 41435598, 42716965]
[14842345, 14528375, 12374873, 12004619, 10423004, 10555648]
[15830021, 15195341, 12915548, 12309593, 10818419, 10923857]
[11092589, 9437714, 6963422, 5662155, 5121597, 4822498]
[12516702, 12144082, 10492645, 10233396, 9109199, 8841191]
[4223143, 4010309, 3402445, 3269522, 2915373, 2885257]
[17299433, 16753755, 15432411, 14708768, 13224126, 14218963]
[48999882, 47357794, 39503844, 38573529, 33663450, 35423456]
[5438930, 5126188, 4513181, 4124096, 3622320, 3615271]
[3603783, 3361490, 2826576, 2824665, 2426672, 2302238]
[119753579, 115065424, 98548746, 94340805, 85935771, 92435230]
[17635317, 17307331, 14584299, 14116889, 12386570, 12704938]
[4024775, 3968074, 3411101, 3295241, 2913127, 2827852]
전라북도 지역별 일반용 합계 :  [49217336, 292030172, 74728864, 77992779, 43099975, 63337215, 20706049, 91637456, 243521955, 26439986, 17345424, 606079555, 88735344, 20440170]
전라북도 고객호수 평균:  [4298, 19391, 6205, 7032, 2548, 5338, 2140, 6591, 20109, 2210, 1544, 43269, 8772, 1963]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_6548\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0          201501  전라북도  고창군  일반용  4,288   9,535,374
1          201502  전라북도  고창군  일반용  4,295   9,378,654
2          201503  전라북도  고창군  일반용  4,284   8,174,251
3          201504  전라북도  고창군  일반용  4,287   8,027,453
4          201505  전라북도  고창군  일반용  4,309   7,006,603
..            ...   ...  ...  ...     ...         ...
93  201501-201506  전라북도  임실군  일반용    2210    26439986
94  201501-201506  전라북도  장수군  일반용    1544    17345424
95  201501-201506  전라북도  전주시  일반용   43269   606079555
96  201501-201506  전라북도  정읍시  일반용    8772    88735344
97  201501-201506  전라북도  진안군  일반용    1963    20440170

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201501-201506']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  201501-201506  전라북도  고창군  일반용    4298   49217336
85  201501-201506  전라북도  군산시  일반용   19391  292030172
86  201501-201506  전라북도  김제시  일반용    6205   74728864
87  201501-201506  전라북도  남원시  일반용    7032   77992779
88  201501-201506  전라북도  무주군  일반용    2548   43099975
89  201501-201506  전라북도  부안군  일반용    5338   63337215
90  201501-201506  전라북도  순창군  일반용    2140   20706049
91  201501-201506  전라북도  완주군  일반용    6591   91637456
92  201501-201506  전라북도  익산시  일반용   20109  243521955
93  201501-201506  전라북도  임실군  일반용    2210   26439986
94  201501-201506  전라북도  장수군  일반용    1544   17345424
95  201501-201506  전라북도  전주시  일반용   43269  606079555
96  201501-201506  전라북도  정읍시  일반용    8772   88735344
97  201501-201506  전라북도  진안군  일반용    1963   20440170

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201501-201506  전라북도  고창군  일반용    4298    49217336
84  201501-201506  전라북도  고창군   합계    9341   274797528
85  201501-201506  전라북도  군산시  일반용   19391   292030172
85  201501-201506  전라북도  군산시   합계   22080  4380081844
86  201501-201506  전라북도  김제시  일반용    6205    74728864
86  201501-201506  전라북도  김제시   합계   11939   460212915
87  201501-201506  전라북도  남원시  일반용    7032    77992779
87  201501-201506  전라북도  남원시   합계   12115   287000202
88  201501-201506  전라북도  무주군  일반용    2548    43099975
88  201501-201506  전라북도  무주군   합계    4214   105970171
89  201501-201506  전라북도  부안군  일반용    5338    63337215
89  201501-201506  전라북도  부안군   합계    8369   237095756
90  201501-201506  전라북도  순창군  일반용    2140    20706049
90  201501-201506  전라북도  순창군   합계    4910   118959651
91  201501-201506  전라북도  완주군   합계   10172   813485383
91  201501-201506  전라북도  완주군  일반용    6591    91637456
92  201501-201506  전라북도  익산시  일반용   20109   243521955
92  201501-201506  전라북도  익산시   합계   27066  1581783645
93  201501-201506  전라북도  임실군   합계    5120   139718824
93  201501-201506  전라북도  임실군  일반용    2210    26439986
94  201501-201506  전라북도  장수군   합계    4023   112888134
94  201501-201506  전라북도  장수군  일반용    1544    17345424
95  201501-201506  전라북도  전주시   합계   42757  2132652050
95  201501-201506  전라북도  전주시  일반용   43269   606079555
96  201501-201506  전라북도  정읍시   합계   15314   693849440
96  201501-201506  전라북도  정읍시  일반용    8772    88735344
97  201501-201506  전라북도  진안군  일반용    1963    20440170
97  201501-201506  전라북도  진안군   합계    4547    95075855

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[49217336,
 292030172,
 74728864,
 77992779,
 43099975,
 63337215,
 20706049,
 91637456,
 243521955,
 26439986,
 17345424,
 606079555,
 88735344,
 20440170]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[274797528,
 4380081844,
 460212915,
 287000202,
 105970171,
 237095756,
 118959651,
 813485383,
 1581783645,
 139718824,
 112888134,
 2132652050,
 693849440,
 95075855]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[17.91, 6.67, 16.24, 27.18, 40.67, 26.71, 17.41, 11.26, 15.4, 18.92, 15.37, 28.42, 12.79, 21.5]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    18
1     7
2    16
3    27
4    41
5    27
6    17
7    11
8    15
9    19
10   15
11   28
12   13
13   22
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  18
1   군산시  일반용   7
2   김제시  일반용  16
3   남원시  일반용  27
4   무주군  일반용  41
5   부안군  일반용  27
6   순창군  일반용  17
7   완주군  일반용  11
8   익산시  일반용  15
9   임실군  일반용  19
10  장수군  일반용  15
11  전주시  일반용  28
12  정읍시  일반용  13
13  진안군  일반용  22

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201501-201506  전라북도  고창군  일반용    4298    49217336  18
1   201501-201506  전라북도  고창군   합계    9341   274797528 NaN
2   201501-201506  전라북도  군산시  일반용   19391   292030172   7
3   201501-201506  전라북도  군산시   합계   22080  4380081844 NaN
4   201501-201506  전라북도  김제시  일반용    6205    74728864  16
5   201501-201506  전라북도  김제시   합계   11939   460212915 NaN
6   201501-201506  전라북도  남원시  일반용    7032    77992779  27
7   201501-201506  전라북도  남원시   합계   12115   287000202 NaN
8   201501-201506  전라북도  무주군  일반용    2548    43099975  41
9   201501-201506  전라북도  무주군   합계    4214   105970171 NaN
10  201501-201506  전라북도  부안군  일반용    5338    63337215  27
11  201501-201506  전라북도  부안군   합계    8369   237095756 NaN
12  201501-201506  전라북도  순창군  일반용    2140    20706049  17
13  201501-201506  전라북도  순창군   합계    4910   118959651 NaN
15  201501-201506  전라북도  완주군  일반용    6591    91637456  11
14  201501-201506  전라북도  완주군   합계   10172   813485383 NaN
16  201501-201506  전라북도  익산시  일반용   20109   243521955  15
17  201501-201506  전라북도  익산시   합계   27066  1581783645 NaN
19  201501-201506  전라북도  임실군  일반용    2210    26439986  19
18  201501-201506  전라북도  임실군   합계    5120   139718824 NaN
21  201501-201506  전라북도  장수군  일반용    1544    17345424  15
20  201501-201506  전라북도  장수군   합계    4023   112888134 NaN
23  201501-201506  전라북도  전주시  일반용   43269   606079555  28
22  201501-201506  전라북도  전주시   합계   42757  2132652050 NaN
25  201501-201506  전라북도  정읍시  일반용    8772    88735344  13
24  201501-201506  전라북도  정읍시   합계   15314   693849440 NaN
26  201501-201506  전라북도  진안군  일반용    1963    20440170  22
27  201501-201506  전라북도  진안군   합계    4547    95075855 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1501-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)