In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라북도_계약종별_전력사용량_월별_16상반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2016년 01 월 ~ 2016년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201601,전라북도,전체(시 / 군 / 구),주택용,"621,288","212,231,025","27,530,602,571",129.7
4,201601,전라북도,전체(시 / 군 / 구),일반용,"134,103","333,439,116","44,675,423,838",134.0
...,...,...,...,...,...,...,...,...
715,201606,전라북도,진안군,산업용,649,"2,700,484","368,047,594",136.3
716,201606,전라북도,진안군,심 야,"2,015","1,084,311","59,440,672",54.8
717,201606,전라북도,진안군,일반용,"1,991","3,004,985","420,159,286",139.8
718,201606,전라북도,진안군,주택용,"13,159","2,162,143","260,964,073",120.7
719,201606,전라북도,진안군,합계,"27,760","12,876,273","1,382,701,556",107.4

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201601,전라북도,전체(시 / 군 / 구),주택용,"621,288","212,231,025","27,530,602,571",129.7
4,201601,전라북도,전체(시 / 군 / 구),일반용,"134,103","333,439,116","44,675,423,838",134.0
5,201601,전라북도,전체(시 / 군 / 구),교육용,"1,210","35,792,866","3,761,341,703",105.1
6,201601,전라북도,전체(시 / 군 / 구),산업용,"14,003","1,216,801,088","130,714,486,054",107.4
...,...,...,...,...,...,...,...,...
715,201606,전라북도,진안군,산업용,649,"2,700,484","368,047,594",136.3
716,201606,전라북도,진안군,심 야,"2,015","1,084,311","59,440,672",54.8
717,201606,전라북도,진안군,일반용,"1,991","3,004,985","420,159,286",139.8
718,201606,전라북도,진안군,주택용,"13,159","2,162,143","260,964,073",120.7
719,201606,전라북도,진안군,합계,"27,760","12,876,273","1,382,701,556",107.4

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201601,전라북도,전체(시 / 군 / 구),주택용,"621,288","212,231,025","27,530,602,571",129.7
4,201601,전라북도,전체(시 / 군 / 구),일반용,"134,103","333,439,116","44,675,423,838",134.0
5,201601,전라북도,전체(시 / 군 / 구),교육용,"1,210","35,792,866","3,761,341,703",105.1
6,201601,전라북도,전체(시 / 군 / 구),산업용,"14,003","1,216,801,088","130,714,486,054",107.4
7,201601,전라북도,전체(시 / 군 / 구),농사용,"130,744","133,973,111","6,477,349,829",48.3
...,...,...,...,...,...,...,...,...
715,201606,전라북도,진안군,산업용,649,"2,700,484","368,047,594",136.3
716,201606,전라북도,진안군,심 야,"2,015","1,084,311","59,440,672",54.8
717,201606,전라북도,진안군,일반용,"1,991","3,004,985","420,159,286",139.8
718,201606,전라북도,진안군,주택용,"13,159","2,162,143","260,964,073",120.7
719,201606,전라북도,진안군,합계,"27,760","12,876,273","1,382,701,556",107.4

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201601,전라북도,전체(시 / 군 / 구),주택용,"621,288","212,231,025","27,530,602,571",129.7
4,201601,전라북도,전체(시 / 군 / 구),일반용,"134,103","333,439,116","44,675,423,838",134.0
5,201601,전라북도,전체(시 / 군 / 구),교육용,"1,210","35,792,866","3,761,341,703",105.1
6,201601,전라북도,전체(시 / 군 / 구),산업용,"14,003","1,216,801,088","130,714,486,054",107.4
7,201601,전라북도,전체(시 / 군 / 구),농사용,"130,744","133,973,111","6,477,349,829",48.3
8,201601,전라북도,전체(시 / 군 / 구),가로등,"128,423","17,912,083","1,828,709,364",102.1
9,201601,전라북도,전체(시 / 군 / 구),심 야,"68,541","147,746,317","10,986,769,756",74.4
10,201602,전라북도,전체(시 / 군 / 구),주택용,"621,873","217,673,039","28,927,318,963",132.9
11,201602,전라북도,전체(시 / 군 / 구),일반용,"134,106","345,319,620","45,848,117,183",132.8
12,201602,전라북도,전체(시 / 군 / 구),교육용,"1,210","37,057,783","3,993,620,487",107.8
13,201602,전라북도,전체(시 / 군 / 구),산업용,"13,985","1,066,263,043","121,131,464,053",113.6
14,201602,전라북도,전체(시 / 군 / 구),농사용,"130,493","143,145,152","6,835,475,604",47.8
15,201602,전라북도,전체(시 / 군 / 구),가로등,"126,912","16,897,428","1,824,894,392",108.0
16,201602,전라북도,전체(시 / 군 / 구),심 야,"68,443","166,881,659","12,405,586,135",74.3
17,201603,전라북도,전체(시 / 군 / 구),주택용,"622,355","193,796,656","23,136,553,608",119.4
18,201603,전라북도,전체(시 / 군 / 구),일반용,"134,203","296,659,600","37,499,479,474",126.4
19,201603,전라북도,전체(시 / 군 / 구),교육용,"1,211","35,271,899","3,583,763,687",101.6
20,201603,전라북도,전체(시 / 군 / 구),산업용,"14,012","1,200,794,936","110,911,457,003",92.4
21,201603,전라북도,전체(시 / 군 / 구),농사용,"199,099","128,077,268","6,162,384,835",48.1
22,201603,전라북도,전체(시 / 군 / 구),가로등,"126,945","15,827,043","1,757,395,200",111.0
23,201603,전라북도,전체(시 / 군 / 구),심 야,"68,327","133,213,514","8,793,857,269",66.0
24,201604,전라북도,전체(시 / 군 / 구),주택용,"623,381","194,700,619","23,402,818,652",120.2
25,201604,전라북도,전체(시 / 군 / 구),일반용,"134,427","269,170,031","31,559,615,290",117.2
26,201604,전라북도,전체(시 / 군 / 구),교육용,"1,207","30,828,188","2,978,253,718",96.6
27,201604,전라북도,전체(시 / 군 / 구),산업용,"14,047","1,143,724,139","104,127,186,626",91.0
28,201604,전라북도,전체(시 / 군 / 구),농사용,"174,091","110,659,309","5,410,251,799",48.9
29,201604,전라북도,전체(시 / 군 / 구),가로등,"127,183","15,512,363","1,810,301,661",116.7
30,201604,전라북도,전체(시 / 군 / 구),심 야,"68,223","98,323,732","5,274,849,715",53.6
31,201605,전라북도,전체(시 / 군 / 구),주택용,"623,760","181,684,762","20,577,051,454",113.3
32,201605,전라북도,전체(시 / 군 / 구),일반용,"133,945","242,097,080","29,676,798,410",122.6
33,201605,전라북도,전체(시 / 군 / 구),교육용,"1,207","22,354,933","2,481,775,858",111.0
34,201605,전라북도,전체(시 / 군 / 구),산업용,"14,107","1,165,175,677","105,452,885,159",90.5
35,201605,전라북도,전체(시 / 군 / 구),농사용,"133,424","95,565,010","4,709,420,779",49.3
36,201605,전라북도,전체(시 / 군 / 구),가로등,"127,312","14,616,946","1,762,933,182",120.6
37,201605,전라북도,전체(시 / 군 / 구),심 야,"68,045","56,484,442","3,052,423,339",54.0
38,201606,전라북도,전체(시 / 군 / 구),주택용,"624,720","182,359,156","20,791,794,832",114.0
39,201606,전라북도,전체(시 / 군 / 구),일반용,"134,049","261,274,947","35,885,256,957",137.3
40,201606,전라북도,전체(시 / 군 / 구),교육용,"1,208","24,193,651","3,076,599,855",127.2
41,201606,전라북도,전체(시 / 군 / 구),산업용,"14,163","1,110,779,059","127,298,105,184",114.6
42,201606,전라북도,전체(시 / 군 / 구),농사용,"134,323","108,220,311","5,030,161,595",46.5
43,201606,전라북도,전체(시 / 군 / 구),가로등,"127,570","14,214,222","1,773,590,532",124.8
44,201606,전라북도,전체(시 / 군 / 구),심 야,"67,894","31,703,078","1,756,888,708",55.4
45,합계,합계,합계,합계,"6,709,772","11,468,415,901","1,176,675,014,313",102.6

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_480\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201601  전라북도  일반용  134,103   333,439,116
11  201602  전라북도  일반용  134,106   345,319,620
18  201603  전라북도  일반용  134,203   296,659,600
25  201604  전라북도  일반용  134,427   269,170,031
32  201605  전라북도  일반용  133,945   242,097,080
39  201606  전라북도  일반용  134,049   261,274,947

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201601  전라북도  고창군  일반용  4,413   9,335,895
165  201602  전라북도  고창군  일반용  4,427   9,743,889
277  201603  전라북도  고창군  일반용  4,413   8,599,344
389  201604  전라북도  고창군  일반용  4,420   8,118,206
501  201605  전라북도  고창군  일반용  4,382   7,037,282
..      ...   ...  ...  ...     ...         ...
269  201602  전라북도  진안군  일반용  1,999   4,396,187
381  201603  전라북도  진안군  일반용  2,000   3,834,068
493  201604  전라북도  진안군  일반용  2,009   3,455,354
605  201605  전라북도  진안군  일반용  2,007   3,031,906
717  201606  전라북도  진안군  일반용  1,991   3,004,985

[84 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   201601  전라북도  고창군   합계  53,417   52,940,627
167  201602  전라북도  고창군   합계  53,455   55,109,176
279  201603  전라북도  고창군   합계  56,763   50,361,178
391  201604  전라북도  고창군   합계  72,712   46,791,475
503  201605  전라북도  고창군   합계  53,905   40,437,710
..      ...   ...  ...  ...      ...          ...
271  201602  전라북도  진안군   합계  27,506   19,963,288
383  201603  전라북도  진안군   합계  29,817   17,626,986
495  201604  전라북도  진안군   합계  27,584   15,931,019
607  201605  전라북도  진안군   합계  27,665   13,564,659
719  201606  전라북도  진안군   합계  27,760   12,876,273

[84 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[52940627, 55109176, 50361178, 46791475, 40437710, 39656772]
[772375409, 668626874, 750154779, 704516542, 708645561, 658602048]
[89438935, 91304952, 83723841, 76492631, 66991711, 67884102]
[54282834, 56062270, 51029730, 47270575, 40846727, 40894912]
[24284762, 23341825, 18809068, 15689189, 13669233, 13249984]
[45391449, 45854633, 42605571, 40308739, 33478423, 33614856]
[23018977, 23518455, 22123476, 20237156, 18551876, 19051097]
[153181080, 143547122, 144500599, 130109614, 124116736, 125484008]
[289763528, 289210463, 281367667, 262273932, 241315325, 251887793]
[28357500, 28754031, 25934746, 23143849, 20037283, 20357239]
[24026046, 25188141, 22044117, 18582104, 14851139, 13333397]
[393658341, 394212477, 371623589, 346613594, 333358354, 326588155]
[128185324, 128544017, 121735569, 114957962, 108114113, 109263788]
[18990794, 19963288, 17626986, 15931019, 13564659, 12876273]
전라북도 지역별 합계 :  [285296938, 4262921213, 475836172, 290387048, 109044061, 241253671, 126501037, 820939159, 1615818708, 146584648, 118024944, 2166054510, 710800773, 98953019]
전라북도 고객호수 평균:  [9562, 22400, 12193, 12368, 4337, 8547, 5626, 10561, 27404, 5235, 4125, 43701, 15655, 4662]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\4171278030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          201601  전라북도  고창군   합계  53,417   52,940,627
1          201602  전라북도  고창군   합계  53,455   55,109,176
2          201603  전라북도  고창군   합계  56,763   50,361,178
3          201604  전라북도  고창군   합계  72,712   46,791,475
4          201605  전라북도  고창군   합계  53,905   40,437,710
..            ...   ...  ...  ...      ...          ...
93  201601-201606  전라북도  임실군   합계     5235    146584648
94  201601-201606  전라북도  장수군   합계     4125    118024944
95  201601-201606  전라북도  전주시   합계    43701   2166054510
96  201601-201606  전라북도  정읍시   합계    15655    710800773
97  201601-201606  전라북도  진안군   합계     4662     98953019

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201601-201606']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201601-201606  전라북도  고창군   합계    9562   285296938
85  201601-201606  전라북도  군산시   합계   22400  4262921213
86  201601-201606  전라북도  김제시   합계   12193   475836172
87  201601-201606  전라북도  남원시   합계   12368   290387048
88  201601-201606  전라북도  무주군   합계    4337   109044061
89  201601-201606  전라북도  부안군   합계    8547   241253671
90  201601-201606  전라북도  순창군   합계    5626   126501037
91  201601-201606  전라북도  완주군   합계   10561   820939159
92  201601-201606  전라북도  익산시   합계   27404  1615818708
93  201601-201606  전라북도  임실군   합계    5235   146584648
94  201601-201606  전라북도  장수군   합계    4125   118024944
95  201601-201606  전라북도  전주시   합계   43701  2166054510
96  201601-201606  전라북도  정읍시   합계   15655   710800773
97  201601-201606  전라북도  진안군   합계    4662    98953019

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201601  전라북도  고창군  일반용  4,413   9,335,895
165  201602  전라북도  고창군  일반용  4,427   9,743,889
277  201603  전라북도  고창군  일반용  4,413   8,599,344
389  201604  전라북도  고창군  일반용  4,420   8,118,206
501  201605  전라북도  고창군  일반용  4,382   7,037,282
..      ...   ...  ...  ...     ...         ...
269  201602  전라북도  진안군  일반용  1,999   4,396,187
381  201603  전라북도  진안군  일반용  2,000   3,834,068
493  201604  전라북도  진안군  일반용  2,009   3,455,354
605  201605  전라북도  진안군  일반용  2,007   3,031,906
717  201606  전라북도  진안군  일반용  1,991   3,004,985

[84 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[9335895, 9743889, 8599344, 8118206, 7037282, 7246787]
[55266637, 57789152, 50205326, 45872628, 41125213, 44225572]
[14203968, 14771082, 12874738, 12070744, 10503538, 11052983]
[14924510, 15591917, 13408894, 12267153, 10795382, 11228282]
[11693972, 10029838, 7195042, 5517241, 5090454, 5111064]
[12257925, 12731371, 11021696, 10272778, 9262226, 9233681]
[3940019, 4090658, 3518325, 3280283, 2909011, 2983027]
[19029262, 19049790, 16960529, 15177758, 14076902, 14610788]
[46378297, 49110735, 41951662, 38288782, 33612357, 36824769]
[5485657, 5536440, 4794601, 4130749, 3635889, 3851508]
[3566844, 3604419, 3174820, 2828672, 2445525, 2451176]
[116035904, 121050682, 103874001, 93798983, 86164909, 96262630]
[17190433, 17823460, 15246554, 14090700, 12406486, 13187695]
[4129793, 4396187, 3834068, 3455354, 3031906, 3004985]
전라북도 지역별 일반용 합계 :  [50081403, 294484528, 75477053, 78216138, 44637611, 64779677, 20721323, 98905029, 246166602, 27434844, 18071456, 617187109, 89945328, 21852293]
전라북도 고객호수 평균:  [4404, 19970, 6290, 7187, 2584, 5404, 2203, 6750, 20352, 2298, 1615, 44155, 8918, 2002]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_480\2328676442.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201601-201606'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0          201601  전라북도  고창군  일반용  4,413   9,335,895
1          201602  전라북도  고창군  일반용  4,427   9,743,889
2          201603  전라북도  고창군  일반용  4,413   8,599,344
3          201604  전라북도  고창군  일반용  4,420   8,118,206
4          201605  전라북도  고창군  일반용  4,382   7,037,282
..            ...   ...  ...  ...     ...         ...
93  201601-201606  전라북도  임실군  일반용    2298    27434844
94  201601-201606  전라북도  장수군  일반용    1615    18071456
95  201601-201606  전라북도  전주시  일반용   44155   617187109
96  201601-201606  전라북도  정읍시  일반용    8918    89945328
97  201601-201606  전라북도  진안군  일반용    2002    21852293

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201601-201606']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  201601-201606  전라북도  고창군  일반용    4404   50081403
85  201601-201606  전라북도  군산시  일반용   19970  294484528
86  201601-201606  전라북도  김제시  일반용    6290   75477053
87  201601-201606  전라북도  남원시  일반용    7187   78216138
88  201601-201606  전라북도  무주군  일반용    2584   44637611
89  201601-201606  전라북도  부안군  일반용    5404   64779677
90  201601-201606  전라북도  순창군  일반용    2203   20721323
91  201601-201606  전라북도  완주군  일반용    6750   98905029
92  201601-201606  전라북도  익산시  일반용   20352  246166602
93  201601-201606  전라북도  임실군  일반용    2298   27434844
94  201601-201606  전라북도  장수군  일반용    1615   18071456
95  201601-201606  전라북도  전주시  일반용   44155  617187109
96  201601-201606  전라북도  정읍시  일반용    8918   89945328
97  201601-201606  전라북도  진안군  일반용    2002   21852293

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201601-201606  전라북도  고창군  일반용    4404    50081403
84  201601-201606  전라북도  고창군   합계    9562   285296938
85  201601-201606  전라북도  군산시  일반용   19970   294484528
85  201601-201606  전라북도  군산시   합계   22400  4262921213
86  201601-201606  전라북도  김제시  일반용    6290    75477053
86  201601-201606  전라북도  김제시   합계   12193   475836172
87  201601-201606  전라북도  남원시  일반용    7187    78216138
87  201601-201606  전라북도  남원시   합계   12368   290387048
88  201601-201606  전라북도  무주군  일반용    2584    44637611
88  201601-201606  전라북도  무주군   합계    4337   109044061
89  201601-201606  전라북도  부안군  일반용    5404    64779677
89  201601-201606  전라북도  부안군   합계    8547   241253671
90  201601-201606  전라북도  순창군  일반용    2203    20721323
90  201601-201606  전라북도  순창군   합계    5626   126501037
91  201601-201606  전라북도  완주군   합계   10561   820939159
91  201601-201606  전라북도  완주군  일반용    6750    98905029
92  201601-201606  전라북도  익산시  일반용   20352   246166602
92  201601-201606  전라북도  익산시   합계   27404  1615818708
93  201601-201606  전라북도  임실군   합계    5235   146584648
93  201601-201606  전라북도  임실군  일반용    2298    27434844
94  201601-201606  전라북도  장수군   합계    4125   118024944
94  201601-201606  전라북도  장수군  일반용    1615    18071456
95  201601-201606  전라북도  전주시   합계   43701  2166054510
95  201601-201606  전라북도  전주시  일반용   44155   617187109
96  201601-201606  전라북도  정읍시   합계   15655   710800773
96  201601-201606  전라북도  정읍시  일반용    8918    89945328
97  201601-201606  전라북도  진안군  일반용    2002    21852293
97  201601-201606  전라북도  진안군   합계    4662    98953019

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[50081403,
 294484528,
 75477053,
 78216138,
 44637611,
 64779677,
 20721323,
 98905029,
 246166602,
 27434844,
 18071456,
 617187109,
 89945328,
 21852293]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[285296938,
 4262921213,
 475836172,
 290387048,
 109044061,
 241253671,
 126501037,
 820939159,
 1615818708,
 146584648,
 118024944,
 2166054510,
 710800773,
 98953019]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[17.55, 6.91, 15.86, 26.94, 40.94, 26.85, 16.38, 12.05, 15.23, 18.72, 15.31, 28.49, 12.65, 22.08]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    18
1     7
2    16
3    27
4    41
5    27
6    16
7    12
8    15
9    19
10   15
11   28
12   13
13   22
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  18
1   군산시  일반용   7
2   김제시  일반용  16
3   남원시  일반용  27
4   무주군  일반용  41
5   부안군  일반용  27
6   순창군  일반용  16
7   완주군  일반용  12
8   익산시  일반용  15
9   임실군  일반용  19
10  장수군  일반용  15
11  전주시  일반용  28
12  정읍시  일반용  13
13  진안군  일반용  22

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201601-201606  전라북도  고창군  일반용    4404    50081403  18
1   201601-201606  전라북도  고창군   합계    9562   285296938 NaN
2   201601-201606  전라북도  군산시  일반용   19970   294484528   7
3   201601-201606  전라북도  군산시   합계   22400  4262921213 NaN
4   201601-201606  전라북도  김제시  일반용    6290    75477053  16
5   201601-201606  전라북도  김제시   합계   12193   475836172 NaN
6   201601-201606  전라북도  남원시  일반용    7187    78216138  27
7   201601-201606  전라북도  남원시   합계   12368   290387048 NaN
8   201601-201606  전라북도  무주군  일반용    2584    44637611  41
9   201601-201606  전라북도  무주군   합계    4337   109044061 NaN
10  201601-201606  전라북도  부안군  일반용    5404    64779677  27
11  201601-201606  전라북도  부안군   합계    8547   241253671 NaN
12  201601-201606  전라북도  순창군  일반용    2203    20721323  16
13  201601-201606  전라북도  순창군   합계    5626   126501037 NaN
15  201601-201606  전라북도  완주군  일반용    6750    98905029  12
14  201601-201606  전라북도  완주군   합계   10561   820939159 NaN
16  201601-201606  전라북도  익산시  일반용   20352   246166602  15
17  201601-201606  전라북도  익산시   합계   27404  1615818708 NaN
19  201601-201606  전라북도  임실군  일반용    2298    27434844  19
18  201601-201606  전라북도  임실군   합계    5235   146584648 NaN
21  201601-201606  전라북도  장수군  일반용    1615    18071456  15
20  201601-201606  전라북도  장수군   합계    4125   118024944 NaN
23  201601-201606  전라북도  전주시  일반용   44155   617187109  28
22  201601-201606  전라북도  전주시   합계   43701  2166054510 NaN
25  201601-201606  전라북도  정읍시  일반용    8918    89945328  13
24  201601-201606  전라북도  정읍시   합계   15655   710800773 NaN
26  201601-201606  전라북도  진안군  일반용    2002    21852293  22
27  201601-201606  전라북도  진안군   합계    4662    98953019 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1601-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)