In [2]:
import pandas as pd


pd.options.display.float_format = '{:.0f}'.format

In [3]:
df = pd.read_csv('서울특별시_계약종별_전력사용량_월별_2022.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220803 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 서울특별시, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2022년 01 월 ~ 2022년 05월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202201,서울특별시,전체(시 / 군 / 구),주택용,"2,884,708","1,303,987,955","156,687,439,742",120.2
4,202201,서울특별시,전체(시 / 군 / 구),일반용,"553,491","2,500,834,252","328,390,432,066",131.3
...,...,...,...,...,...,...,...,...
1031,202205,서울특별시,중랑구,산업용,"2,623","4,960,933","594,748,585",119.9
1032,202205,서울특별시,중랑구,심 야,355,"265,625","18,031,733",67.9
1033,202205,서울특별시,중랑구,일반용,"20,607","33,142,284","4,251,604,123",128.3
1034,202205,서울특별시,중랑구,주택용,"142,088","39,828,077","4,243,795,819",106.6
1035,202205,서울특별시,중랑구,합계,"176,854","80,607,881","9,375,977,994",116.3

In [4]:
df = df.drop([0,1 , 39] , axis = 0)

In [5]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [6]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202201,서울특별시,전체(시 / 군 / 구),주택용,"2,884,708","1,303,987,955","156,687,439,742",120.2
4,202201,서울특별시,전체(시 / 군 / 구),일반용,"553,491","2,500,834,252","328,390,432,066",131.3
5,202201,서울특별시,전체(시 / 군 / 구),교육용,"2,602","206,767,204","19,441,307,587",94.0
6,202201,서울특별시,전체(시 / 군 / 구),산업용,"43,065","454,360,497","55,040,047,084",121.1
7,202201,서울특별시,전체(시 / 군 / 구),농사용,"1,952","2,385,867","114,458,313",48.0
...,...,...,...,...,...,...,...,...
1031,202205,서울특별시,중랑구,산업용,"2,623","4,960,933","594,748,585",119.9
1032,202205,서울특별시,중랑구,심 야,355,"265,625","18,031,733",67.9
1033,202205,서울특별시,중랑구,일반용,"20,607","33,142,284","4,251,604,123",128.3
1034,202205,서울특별시,중랑구,주택용,"142,088","39,828,077","4,243,795,819",106.6
1035,202205,서울특별시,중랑구,합계,"176,854","80,607,881","9,375,977,994",116.3

In [7]:
df_2 = df.loc[:38]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202201,서울특별시,전체(시 / 군 / 구),주택용,"2,884,708","1,303,987,955","156,687,439,742",120.2
4,202201,서울특별시,전체(시 / 군 / 구),일반용,"553,491","2,500,834,252","328,390,432,066",131.3
5,202201,서울특별시,전체(시 / 군 / 구),교육용,"2,602","206,767,204","19,441,307,587",94.0
6,202201,서울특별시,전체(시 / 군 / 구),산업용,"43,065","454,360,497","55,040,047,084",121.1
7,202201,서울특별시,전체(시 / 군 / 구),농사용,"1,952","2,385,867","114,458,313",48.0
8,202201,서울특별시,전체(시 / 군 / 구),가로등,"218,527","26,845,408","2,850,643,445",106.2
9,202201,서울특별시,전체(시 / 군 / 구),심 야,"12,260","22,836,284","1,929,658,531",84.5
10,202202,서울특별시,전체(시 / 군 / 구),주택용,"2,885,321","1,283,978,502","152,901,568,429",119.1
11,202202,서울특별시,전체(시 / 군 / 구),일반용,"554,337","2,370,563,890","315,006,986,596",132.9
12,202202,서울특별시,전체(시 / 군 / 구),교육용,"2,605","188,852,554","18,078,680,076",95.7
13,202202,서울특별시,전체(시 / 군 / 구),산업용,"43,053","433,826,306","52,880,282,748",121.9
14,202202,서울특별시,전체(시 / 군 / 구),농사용,"1,957","2,409,922","116,162,144",48.2
15,202202,서울특별시,전체(시 / 군 / 구),가로등,"218,819","25,056,386","2,802,923,695",111.9
16,202202,서울특별시,전체(시 / 군 / 구),심 야,"12,190","22,686,443","1,906,992,977",84.1
17,202203,서울특별시,전체(시 / 군 / 구),주택용,"2,886,065","1,137,991,446","124,597,697,564",109.5
18,202203,서울특별시,전체(시 / 군 / 구),일반용,"554,860","2,069,189,330","252,192,329,174",121.9
19,202203,서울특별시,전체(시 / 군 / 구),교육용,"2,608","163,317,699","15,571,253,204",95.3
20,202203,서울특별시,전체(시 / 군 / 구),산업용,"43,046","398,998,807","43,576,929,120",109.2
21,202203,서울특별시,전체(시 / 군 / 구),농사용,"2,216","2,099,533","100,920,248",48.1
22,202203,서울특별시,전체(시 / 군 / 구),가로등,"219,686","22,723,826","2,571,518,616",113.2
23,202203,서울특별시,전체(시 / 군 / 구),심 야,"12,145","18,682,210","1,442,981,286",77.2
24,202204,서울특별시,전체(시 / 군 / 구),주택용,"2,888,402","1,123,194,089","125,479,633,075",111.7
25,202204,서울특별시,전체(시 / 군 / 구),일반용,"555,604","1,891,608,151","228,460,496,816",120.8
26,202204,서울특별시,전체(시 / 군 / 구),교육용,"2,608","138,000,290","12,782,772,555",92.6
27,202204,서울특별시,전체(시 / 군 / 구),산업용,"43,015","388,596,924","42,102,222,270",108.3
28,202204,서울특별시,전체(시 / 군 / 구),농사용,"1,979","1,738,529","92,605,768",53.3
29,202204,서울특별시,전체(시 / 군 / 구),가로등,"229,771","21,850,148","2,636,516,403",120.7
30,202204,서울특별시,전체(시 / 군 / 구),심 야,"12,096","21,990,405","1,815,477,443",82.6
31,202205,서울특별시,전체(시 / 군 / 구),주택용,"2,887,111","1,065,676,206","118,093,542,108",110.8
32,202205,서울특별시,전체(시 / 군 / 구),일반용,"556,334","1,876,932,783","232,332,481,177",123.8
33,202205,서울특별시,전체(시 / 군 / 구),교육용,"2,606","111,789,293","10,647,402,222",95.2
34,202205,서울특별시,전체(시 / 군 / 구),산업용,"42,986","376,121,654","42,459,508,403",112.9
35,202205,서울특별시,전체(시 / 군 / 구),농사용,"1,989","1,597,310","91,348,383",57.2
36,202205,서울특별시,전체(시 / 군 / 구),가로등,"230,186","20,084,619","2,595,196,277",129.2
37,202205,서울특별시,전체(시 / 군 / 구),심 야,"12,036","32,081,288","2,641,785,318",82.3
38,합계,합계,합계,합계,"18,622,236","19,729,656,010","2,370,432,200,863",120.1

In [40]:
SEOUL1  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
SEOUL1.drop(['시군구' ,'고객호수(호)' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
SEOUL1

C:\Users\user\AppData\Local\Temp\ipykernel_12332\572849638.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SEOUL1.drop(['시군구' ,'고객호수(호)' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월     시구 계약구분        사용량(kWh)
4   202201  서울특별시  일반용  2,500,834,252
11  202202  서울특별시  일반용  2,370,563,890
18  202203  서울특별시  일반용  2,069,189,330
25  202204  서울특별시  일반용  1,891,608,151
32  202205  서울특별시  일반용  1,876,932,783

In [41]:
SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [8]:
df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
df_3 = df.loc[41:]

df_3

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
41,202201,서울특별시,강남구,가로등,"12,755","1,915,432","205,950,348",107.5
42,202201,서울특별시,강남구,교육용,124,"6,189,717","596,553,794",96.4
43,202201,서울특별시,강남구,농사용,179,"186,106","8,871,920",47.7
44,202201,서울특별시,강남구,산업용,"1,048","31,394,053","3,669,618,901",116.9
45,202201,서울특별시,강남구,심 야,624,"1,551,562","139,845,829",90.1
...,...,...,...,...,...,...,...,...
1031,202205,서울특별시,중랑구,산업용,"2,623","4,960,933","594,748,585",119.9
1032,202205,서울특별시,중랑구,심 야,355,"265,625","18,031,733",67.9
1033,202205,서울특별시,중랑구,일반용,"20,607","33,142,284","4,251,604,123",128.3
1034,202205,서울특별시,중랑구,주택용,"142,088","39,828,077","4,243,795,819",106.6
1035,202205,서울특별시,중랑구,합계,"176,854","80,607,881","9,375,977,994",116.3

In [11]:
Sigu = list(set(df_3['시군구'].tolist()))

Sigu.sort()

Sigu

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [12]:
YearMonth = list(set(df_3['년월'].tolist()))

YearMonth.sort()
YearMonth

['202201', '202202', '202203', '202204', '202205']

In [13]:
Gayeak = list(set(df_3['계약구분'].tolist()))

Gayeak.sort()
Gayeak

['가로등', '교육용', '농사용', '산업용', '심 야', '일반용', '주택용', '합계']

In [35]:
SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
#SEOUL.dtypes(['사용량(kWh)'])
SEOUL

C:\Users\user\AppData\Local\Temp\ipykernel_12332\1069619713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

          년월     시구  시군구 계약구분      사용량(kWh)
46    202201  서울특별시  강남구  일반용  339,015,601
54    202201  서울특별시  강동구  일반용   74,957,337
62    202201  서울특별시  강북구  일반용   41,200,356
70    202201  서울특별시  강서구  일반용  134,532,532
78    202201  서울특별시  관악구  일반용   71,189,701
...      ...    ...  ...  ...           ...
1002  202205  서울특별시  용산구  일반용   62,605,922
1010  202205  서울특별시  은평구  일반용   38,178,400
1018  202205  서울특별시  종로구  일반용   87,152,665
1025  202205  서울특별시   중구  일반용  127,183,571
1033  202205  서울특별시  중랑구  일반용   33,142,284

[125 rows x 5 columns]

In [36]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [27]:
print(SEOUL.dtypes)
SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

년월               object
시구               object
시군구              object
계약구분             object
고객호수(호)          object
사용량(kWh)         object
전기요금(원)          object
평균판매단가(원/kWh)    object
dtype: object

ValueError: could not convert string to float: '339,015,601 '

In [ ]:
SEOUL

In [33]:
a = SEOUL['사용량(kWh)'].tolist()
int_list = map(int, a)
b=0
for i in int_list:
    b+=i

print(b)

ValueError: invalid literal for int() with base 10: '339,015,601 '

In [5]:
exchng

,지역별(1),2012,2012.1,2013,2013.1,2014,2014.1,2015,2015.1,2016,...,2017,2017.1,2018,2018.1,2019 p),2019 p).1,2020 p),2020 p).1,2021 p),2021 p).1
0,지역별(1),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),...,전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%)
1,전국,471795,100,479541,100,490399,100,495361,100,509234,...,520917,100,537061,100,529851,100,515983,100,537061,100
2,경기도,23567,5,28692,6,33053,6.7,47342,9.6,53907,...,58961,11.3,71010,13.2,72987,13.8,70924,13.7,80234,14.9
3,강원도,10996,2.3,11631,2.4,9463,1.9,7581,1.5,9891,...,19803,3.8,29474,5.5,26995,5.1,25593,5,27891,5.2
4,경상남도,59496,12.6,59730,12.5,56368,11.5,55843,11.3,55226,...,52652,10.1,50336,9.4,45523,8.6,32762,6.3,41109,7.7
5,경상북도,66408,14.1,65007,13.6,73023,14.9,84168,17,77891,...,79858,15.3,72015,13.4,75178,14.2,80581,15.6,75475,14.1
6,전라남도,60562,12.8,58081,12.1,63338,12.9,61013,12.3,63504,...,60694,11.7,54295,10.1,50263,9.5,51713,10,54371,10.1
7,전라북도,7720,1.6,7637,1.6,7244,1.5,5944,1.2,8783,...,8650,1.7,10367,1.9,10352,2,9871,1.9,10721,2
8,충청남도,108544,23,112811,23.5,108894,22.2,103645,20.9,104044,...,122424,23.5,120715,22.5,114874,21.7,105447,20.4,102741,19.1
9,충청북도,1253,0.3,1249,0.3,877,0.2,727,0.1,1019,...,1096,0.2,1349,0.3,1165,0.2,1551,0.3,1314,0.2
10,제주도,2870,0.6,2964,0.6,2775,0.6,2863,0.6,2935,...,2944,0.6,3215,0.6,3723,0.7,3829,0.7,4074,0.8
11,서울,1908,0.4,1603,0.3,770,0.2,742,0.1,836,...,810,0.2,616,0.1,1776,0.3,4956,1,5170,1
12,인천,68214,14.5,73208,15.3,69097,14.1,65179,13.2,62921,...,59679,11.5,59955,11.2,57443,10.8,54608,10.6,58059,10.8
13,대전,192,0,200,0,156,0,175,0,182,...,203,0,196,0,174,0,169,0,177,0
14,광주,41,0,449,0.1,396,0.1,356,0.1,381,...,413,0.1,422,0.1,429,0.1,450,0.1,461,0.1
15,대구,220,0,210,0,515,0.1,2815,0.6,3093,...,2657,0.5,2626,0.5,2835,0.5,2511,0.5,2737,0.5
16,세종,8,0,618,0.1,2689,0.5,2787,0.6,2749,...,2952,0.6,3595,0.7,2371,0.4,3425,0.7,3642,0.7
17,울산,12908,2.7,12659,2.6,9768,2,8741,1.8,11444,...,19553,3.8,19902,3.7,27826,5.3,28611,5.5,30244,5.6
18,부산,46888,9.9,42790,8.9,51972,10.6,45438,9.2,50429,...,27569,5.3,36973,6.9,35938,6.8,38982,7.6,38643,7.2