In [1]:
import pandas as pd


df = pd.read_csv('경상남도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,1284787,483301030068813,4833010300688,4833010300,688,13,15578,경상남도,양산시,중부동,483304814602.0,양산역9길,9.0,0.0
1,1284786,48330103006856,4833010300685,4833010300,685,6,65800,경상남도,양산시,중부동,483303338003.0,강변로,440.0,0.0
2,1284788,483301030068816,4833010300688,4833010300,688,16,4453,경상남도,양산시,중부동,483304814602.0,양산역9길,17.0,0.0
3,1284789,483301030068817,4833010300688,4833010300,688,17,15328,경상남도,양산시,중부동,483303338074.0,중부로,16.0,0.0
4,1284795,483301030069111,4833010300691,4833010300,691,11,8154,경상남도,양산시,중부동,483304814597.0,양산역4길,3.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,1242666,48170137002258,4817013700225,4817013700,225,8,20733,경상남도,진주시,충무공동,...,4817013700,225,8,경남 진주시 사들로 137 주택관리공단,공공,주택관리공단(주),주택관리공단 서버실,-,-,NaN

In [4]:
df_3.to_csv("경상남도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')