In [1]:
import pandas as pd


df = pd.read_csv('충청남도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,855887,442103302910953,44210330291095,4421033029,1095,3,164,충청남도,서산시,팔봉면 진장리,442103000117.0,서해로,2288.0,0.0
1,856127,44200113006440,4420011300644,4420011300,644,0,31724,충청남도,아산시,모종동,442004854670.0,모종남로12번길,5.0,0.0
2,856128,44200113006550,4420011300655,4420011300,655,0,4596,충청남도,아산시,모종동,442004854670.0,모종남로12번길,7.0,0.0
3,856129,44200113006590,4420011300659,4420011300,659,0,1339,충청남도,아산시,모종동,-,-,-,-
4,856130,44200113006660,4420011300666,4420011300,666,0,27853,충청남도,아산시,모종동,442004854668.0,모종남로22번길,22.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

Empty DataFrame
Columns: [Unnamed: 0, 시군구법정동번지코드, 시군구법정동번코드_x, 시군구법정동코드_x, 본번, 부번, 사용량_KWH, 시도명, 시군구명, 법정동명, 새주소대로로코드, 새주소대로로명, 새주소본번, 새주소부번, 시군구법정동번코드_y, 시군구법정동코드_y, 번, 지, 주소, 분류, 기업, 이름, 비고, 임차여부, 전력사용량]
Index: []

[0 rows x 25 columns]

In [4]:
df_3.to_csv("충청남도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')