In [1]:
import pandas as pd


df = pd.read_csv('부산광역시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,158996,262601010014514,2626010100145,2626010100,145,14,3656,부산광역시,동래구,명장동,262604190163.0,명안로86번길,45.0,3.0
1,159301,26170104003193,2617010400319,2617010400,319,3,1241,부산광역시,동구,범일동,261703127051.0,범일로,74.0,5.0
2,159302,261701040032120,2617010400321,2617010400,321,20,4214,부산광역시,동구,범일동,261704181380.0,자성로75번길,33.0,0.0
3,159303,26170104003252,2617010400325,2617010400,325,2,1234,부산광역시,동구,범일동,261703127051.0,범일로,64.0,4.0
4,159304,26170104003272,2617010400327,2617010400,327,2,1219,부산광역시,동구,범일동,261703127051.0,범일로,62.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,141795,2614010900301,261401090030,2614010900,30,1,127027,부산광역시,서구,부민동1가,...,2614010900,30,1,부산광역시 서구 대청로6번길 14,통신,LG U+,LG U+부산 센터 (아미),기타분류,-,NaN
1,167877,262901090012291,26290109001229,2629010900,1229,1,43966,부산광역시,남구,문현동,...,2629010900,1229,1,부산 남구 문현금융로 40,공공,한국자산관리공사,정보시스템실 시스템팀,-,-,NaN
2,189564,263501050014630,26350105001463,2635010500,1463,0,158868,부산광역시,해운대구,우동,...,2635010500,1463,0,부산 해운대구 센텀7로 12(우동-1463),공공,(재)APEC기후센터,APEC기후센터 전산실,-,-,NaN

In [4]:
df_3.to_csv("부산광역시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')