In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라남도_계약종별 전력사용량 월별_14상반기.csv' , encoding='utf-8')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라남도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2014년 01 월 ~ 2014년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라남도,전체(시 / 군 / 구),주택용,"694,752","202,722,245","26,863,058,310",132.5
4,201401,전라남도,전체(시 / 군 / 구),일반용,"135,007","312,327,251","41,273,955,014",132.1
...,...,...,...,...,...,...,...,...
1099,201406,전라남도,화순군,산업용,737,"12,534,613","1,587,723,274",126.7
1100,201406,전라남도,화순군,심 야,"1,943","1,080,349","57,121,826",52.9
1101,201406,전라남도,화순군,일반용,"4,142","10,451,734","1,349,145,138",129.1
1102,201406,전라남도,화순군,주택용,"23,783","5,870,565","636,927,445",108.5
1103,201406,전라남도,화순군,합계,"45,474","35,794,361","4,034,129,895",112.7

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라남도,전체(시 / 군 / 구),주택용,"694,752","202,722,245","26,863,058,310",132.5
4,201401,전라남도,전체(시 / 군 / 구),일반용,"135,007","312,327,251","41,273,955,014",132.1
5,201401,전라남도,전체(시 / 군 / 구),교육용,"1,302","26,798,641","3,244,039,184",121.1
6,201401,전라남도,전체(시 / 군 / 구),산업용,"18,634","1,728,316,234","182,226,522,281",105.4
...,...,...,...,...,...,...,...,...
1099,201406,전라남도,화순군,산업용,737,"12,534,613","1,587,723,274",126.7
1100,201406,전라남도,화순군,심 야,"1,943","1,080,349","57,121,826",52.9
1101,201406,전라남도,화순군,일반용,"4,142","10,451,734","1,349,145,138",129.1
1102,201406,전라남도,화순군,주택용,"23,783","5,870,565","636,927,445",108.5
1103,201406,전라남도,화순군,합계,"45,474","35,794,361","4,034,129,895",112.7

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라남도,전체(시 / 군 / 구),주택용,"694,752","202,722,245","26,863,058,310",132.5
4,201401,전라남도,전체(시 / 군 / 구),일반용,"135,007","312,327,251","41,273,955,014",132.1
5,201401,전라남도,전체(시 / 군 / 구),교육용,"1,302","26,798,641","3,244,039,184",121.1
6,201401,전라남도,전체(시 / 군 / 구),산업용,"18,634","1,728,316,234","182,226,522,281",105.4
7,201401,전라남도,전체(시 / 군 / 구),농사용,"231,446","259,329,206","12,169,126,116",46.9
...,...,...,...,...,...,...,...,...
1099,201406,전라남도,화순군,산업용,737,"12,534,613","1,587,723,274",126.7
1100,201406,전라남도,화순군,심 야,"1,943","1,080,349","57,121,826",52.9
1101,201406,전라남도,화순군,일반용,"4,142","10,451,734","1,349,145,138",129.1
1102,201406,전라남도,화순군,주택용,"23,783","5,870,565","636,927,445",108.5
1103,201406,전라남도,화순군,합계,"45,474","35,794,361","4,034,129,895",112.7

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라남도,전체(시 / 군 / 구),주택용,"694,752","202,722,245","26,863,058,310",132.5
4,201401,전라남도,전체(시 / 군 / 구),일반용,"135,007","312,327,251","41,273,955,014",132.1
5,201401,전라남도,전체(시 / 군 / 구),교육용,"1,302","26,798,641","3,244,039,184",121.1
6,201401,전라남도,전체(시 / 군 / 구),산업용,"18,634","1,728,316,234","182,226,522,281",105.4
7,201401,전라남도,전체(시 / 군 / 구),농사용,"231,446","259,329,206","12,169,126,116",46.9
8,201401,전라남도,전체(시 / 군 / 구),가로등,"130,825","19,763,979","2,083,914,027",105.4
9,201401,전라남도,전체(시 / 군 / 구),심 야,"51,024","119,592,271","9,002,078,411",75.3
10,201402,전라남도,전체(시 / 군 / 구),주택용,"695,227","205,697,875","27,607,640,859",134.2
11,201402,전라남도,전체(시 / 군 / 구),일반용,"135,250","303,289,518","40,381,680,675",133.1
12,201402,전라남도,전체(시 / 군 / 구),교육용,"1,310","23,871,023","2,996,287,168",125.5
13,201402,전라남도,전체(시 / 군 / 구),산업용,"18,666","1,602,807,000","177,167,387,955",110.5
14,201402,전라남도,전체(시 / 군 / 구),농사용,"231,585","267,148,453","12,501,899,539",46.8
15,201402,전라남도,전체(시 / 군 / 구),가로등,"131,011","18,345,240","2,071,205,036",112.9
16,201402,전라남도,전체(시 / 군 / 구),심 야,"50,962","120,612,386","9,061,081,812",75.1
17,201403,전라남도,전체(시 / 군 / 구),주택용,"695,889","178,954,002","21,100,743,458",117.9
18,201403,전라남도,전체(시 / 군 / 구),일반용,"135,402","265,933,635","33,689,768,995",126.7
19,201403,전라남도,전체(시 / 군 / 구),교육용,"1,309","24,769,056","2,770,383,575",111.8
20,201403,전라남도,전체(시 / 군 / 구),산업용,"18,683","1,965,736,751","173,101,520,169",88.1
21,201403,전라남도,전체(시 / 군 / 구),농사용,"346,433","255,689,351","11,908,784,286",46.6
22,201403,전라남도,전체(시 / 군 / 구),가로등,"131,423","17,337,875","1,969,066,954",113.6
23,201403,전라남도,전체(시 / 군 / 구),심 야,"50,911","96,198,747","6,393,724,159",66.5
24,201404,전라남도,전체(시 / 군 / 구),주택용,"696,607","188,536,821","22,977,261,660",121.9
25,201404,전라남도,전체(시 / 군 / 구),일반용,"135,875","256,968,916","29,399,106,336",114.4
26,201404,전라남도,전체(시 / 군 / 구),교육용,"1,304","24,289,804","2,504,007,778",103.1
27,201404,전라남도,전체(시 / 군 / 구),산업용,"18,661","1,901,328,458","169,999,750,486",89.4
28,201404,전라남도,전체(시 / 군 / 구),농사용,"256,227","243,709,503","11,285,986,015",46.3
29,201404,전라남도,전체(시 / 군 / 구),가로등,"131,675","17,002,182","2,025,825,309",119.2
30,201404,전라남도,전체(시 / 군 / 구),심 야,"50,838","78,105,933","4,230,866,614",54.2
31,201405,전라남도,전체(시 / 군 / 구),주택용,"697,015","177,765,248","20,563,649,291",115.7
32,201405,전라남도,전체(시 / 군 / 구),일반용,"136,146","230,659,433","27,496,961,756",119.2
33,201405,전라남도,전체(시 / 군 / 구),교육용,"1,306","18,296,795","2,069,918,248",113.1
34,201405,전라남도,전체(시 / 군 / 구),산업용,"18,692","1,934,117,643","169,996,078,768",87.9
35,201405,전라남도,전체(시 / 군 / 구),농사용,"234,656","186,466,618","8,806,107,068",47.2
36,201405,전라남도,전체(시 / 군 / 구),가로등,"132,310","16,056,179","1,981,868,083",123.4
37,201405,전라남도,전체(시 / 군 / 구),심 야,"50,709","50,888,893","2,744,853,504",53.9
38,201406,전라남도,전체(시 / 군 / 구),주택용,"697,626","177,771,348","20,472,432,070",115.2
39,201406,전라남도,전체(시 / 군 / 구),일반용,"136,508","240,138,550","31,930,396,414",133.0
40,201406,전라남도,전체(시 / 군 / 구),교육용,"1,314","17,768,843","2,335,809,440",131.5
41,201406,전라남도,전체(시 / 군 / 구),산업용,"18,707","1,796,981,717","192,114,026,612",106.9
42,201406,전라남도,전체(시 / 군 / 구),농사용,"235,830","192,672,250","8,816,047,087",45.8
43,201406,전라남도,전체(시 / 군 / 구),가로등,"132,682","15,548,929","1,991,914,651",128.1
44,201406,전라남도,전체(시 / 군 / 구),심 야,"50,581","31,002,669","1,709,766,993",55.1
45,합계,NaN,NaN,NaN,"7,742,320","15,811,317,471","1,535,036,502,166",97.1

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_17444\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201401  전라남도  일반용  135,007   312,327,251
11  201402  전라남도  일반용  135,250   303,289,518
18  201403  전라남도  일반용  135,402   265,933,635
25  201404  전라남도  일반용  135,875   256,968,916
32  201405  전라남도  일반용  136,146   230,659,433
39  201406  전라남도  일반용  136,508   240,138,550

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201401  전라남도  강진군  일반용  2,837    5,809,978
229   201402  전라남도  강진군  일반용  2,835    5,686,034
405   201403  전라남도  강진군  일반용  2,845    4,795,445
581   201404  전라남도  강진군  일반용  2,864    4,633,678
757   201405  전라남도  강진군  일반용  2,874    3,965,735
...      ...   ...  ...  ...     ...          ...
397   201402  전라남도  화순군  일반용  4,106   12,542,476
573   201403  전라남도  화순군  일반용  4,113   11,013,580
749   201404  전라남도  화순군  일반용  4,119   10,573,859
925   201405  전라남도  화순군  일반용  4,122    9,823,577
1101  201406  전라남도  화순군  일반용  4,142   10,451,734

[132 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라남도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['강진군',
 '고흥군',
 '곡성군',
 '광양시',
 '구례군',
 '나주시',
 '담양군',
 '목포시',
 '무안군',
 '보성군',
 '순천시',
 '신안군',
 '여수시',
 '영광군',
 '영암군',
 '완도군',
 '장성군',
 '장흥군',
 '진도군',
 '함평군',
 '해남군',
 '화순군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

          년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55    201401  전라남도  강진군   합계  36,251   28,284,217
231   201402  전라남도  강진군   합계  36,267   27,296,886
407   201403  전라남도  강진군   합계  44,688   24,316,705
583   201404  전라남도  강진군   합계  36,422   23,811,277
759   201405  전라남도  강진군   합계  36,450   19,353,350
...      ...   ...  ...  ...      ...          ...
399   201402  전라남도  화순군   합계  45,106   47,483,144
575   201403  전라남도  화순군   합계  46,816   43,011,200
751   201404  전라남도  화순군   합계  45,175   40,928,699
927   201405  전라남도  화순군   합계  45,302   36,481,753
1103  201406  전라남도  화순군   합계  45,474   35,794,361

[132 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[28284217, 27296886, 24316705, 23811277, 19353350, 20876048]
[46428943, 46600469, 43653089, 39225534, 27838364, 27135138]
[38039589, 36110350, 35949578, 34435858, 33349951, 34645147]
[478250297, 450211901, 607010263, 598928294, 631974084, 532648313]
[15694827, 15317563, 13419623, 13065632, 11256579, 11010093]
[88865741, 84315794, 80668667, 77404362, 72302644, 75356411]
[48348556, 46437509, 41848836, 38861864, 34945358, 34485475]
[90727814, 89429242, 79196947, 78905612, 68797641, 69826112]
[49943677, 48931166, 45116244, 42853959, 37690305, 38348420]
[26100902, 25495878, 21913461, 21561965, 19075179, 19123519]
[166379242, 157729779, 149200396, 141430637, 136648479, 137920860]
[23755016, 25797658, 24376605, 23752363, 16865849, 15964435]
[1069234678, 983834663, 1144605444, 1105570295, 1088349104, 1041656711]
[50281590, 65089212, 60946375, 46220939, 45701137, 42622788]
[123690834, 113822383, 120414894, 112870772, 108790368, 119457097]
[64052052, 66403061, 62816652, 73509304, 68870516, 66678166]
[55217373, 49141971, 50799332, 49165438, 45894787, 45998715]
[30176058, 32369242, 30409558, 29663667, 20979200, 19337341]
[25933527, 27510659, 25891474, 25479469, 20984294, 19888906]
[30137131, 29845384, 27347765, 26573549, 22998394, 22043282]
[68964312, 72597581, 71706309, 65722128, 45103473, 41066968]
[50343451, 47483144, 43011200, 40928699, 36481753, 35794361]
전라남도 지역별 합계 :  [143938483, 230881537, 212530473, 3299023152, 79764317, 478913619, 244927598, 476883368, 262883771, 133270904, 889309393, 130511926, 6433250895, 310862041, 699046348, 402329751, 296217616, 162935066, 145688329, 158945505, 365160771, 254042608]
전라남도 고객호수 평균:  [6294, 12640, 4839, 12172, 4698, 11534, 6971, 15506, 10176, 8218, 21914, 7865, 24336, 7709, 8605, 7481, 5930, 6200, 5816, 5871, 12698, 7582]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0           201401  전라남도  강진군   합계  36,251   28,284,217
1           201402  전라남도  강진군   합계  36,267   27,296,886
2           201403  전라남도  강진군   합계  44,688   24,316,705
3           201404  전라남도  강진군   합계  36,422   23,811,277
4           201405  전라남도  강진군   합계  36,450   19,353,350
..             ...   ...  ...  ...      ...          ...
149  201401-201406  전라남도  장흥군   합계     6200    162935066
150  201401-201406  전라남도  진도군   합계     5816    145688329
151  201401-201406  전라남도  함평군   합계     5871    158945505
152  201401-201406  전라남도  해남군   합계    12698    365160771
153  201401-201406  전라남도  화순군   합계     7582    254042608

[154 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201401-201406']
Hap

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201401-201406  전라남도  강진군   합계    6294   143938483
133  201401-201406  전라남도  고흥군   합계   12640   230881537
134  201401-201406  전라남도  곡성군   합계    4839   212530473
135  201401-201406  전라남도  광양시   합계   12172  3299023152
136  201401-201406  전라남도  구례군   합계    4698    79764317
137  201401-201406  전라남도  나주시   합계   11534   478913619
138  201401-201406  전라남도  담양군   합계    6971   244927598
139  201401-201406  전라남도  목포시   합계   15506   476883368
140  201401-201406  전라남도  무안군   합계   10176   262883771
141  201401-201406  전라남도  보성군   합계    8218   133270904
142  201401-201406  전라남도  순천시   합계   21914   889309393
143  201401-201406  전라남도  신안군   합계    7865   130511926
144  201401-201406  전라남도  여수시   합계   24336  6433250895
145  201401-201406  전라남도  영광군   합계    7709   310862041
146  201401-201406  전라남도  영암군   합계    8605   699046348
147  201401-201406  전라남도  완도군   합계    7481   402329751
148  201401-201406  전라남도  장성군   합계    5930   296217616
149  201401-201406  전라남도  장흥군   합계    6200   162935066
150  201401-201406  전라남도  진도군   합계    5816   145688329
151  201401-201406  전라남도  함평군   합계    5871   158945505
152  201401-201406  전라남도  해남군   합계   12698   365160771
153  201401-201406  전라남도  화순군   합계    7582   254042608

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201401  전라남도  강진군  일반용  2,837    5,809,978
229   201402  전라남도  강진군  일반용  2,835    5,686,034
405   201403  전라남도  강진군  일반용  2,845    4,795,445
581   201404  전라남도  강진군  일반용  2,864    4,633,678
757   201405  전라남도  강진군  일반용  2,874    3,965,735
...      ...   ...  ...  ...     ...          ...
397   201402  전라남도  화순군  일반용  4,106   12,542,476
573   201403  전라남도  화순군  일반용  4,113   11,013,580
749   201404  전라남도  화순군  일반용  4,119   10,573,859
925   201405  전라남도  화순군  일반용  4,122    9,823,577
1101  201406  전라남도  화순군  일반용  4,142   10,451,734

[132 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[5809978, 5686034, 4795445, 4633678, 3965735, 4109126]
[8753467, 8807925, 7649832, 7484991, 6678076, 6690848]
[4097695, 4039455, 3550146, 3470519, 3017570, 3077767]
[23528905, 22665044, 19775817, 18869969, 16964659, 18125242]
[5160787, 4982669, 4465539, 4387815, 3739404, 3753564]
[15250114, 14949213, 13463441, 12878789, 11730552, 12467402]
[8407214, 8275297, 7191823, 6917576, 6157086, 6256380]
[45593846, 44656390, 39174460, 37968935, 33031810, 34700092]
[12541827, 12238082, 10671360, 10251024, 9003421, 9435220]
[6811418, 6660320, 5694226, 5544666, 4888814, 4886497]
[46229984, 44113349, 38480950, 37043068, 34298496, 37061939]
[5372641, 5247602, 4682207, 4762158, 4166474, 3857608]
[47895019, 46011222, 40541891, 39490341, 36178593, 38469772]
[9297182, 9147342, 7881287, 7517247, 6601423, 6616320]
[10481096, 10139240, 8947873, 8657110, 7533207, 7574132]
[8388544, 8334368, 7260584, 7273709, 6622324, 6269847]
[8702896, 8257560, 7398672, 6704028, 5893612, 5927688]
[6252908, 6134167, 5362245, 5214213, 4712504, 4730697]
[3975405, 3963428, 3471921, 3490861, 3268031, 3198196]
[4535211, 4490301, 3941437, 3839621, 3442484, 3485100]
[12225077, 11948034, 10518899, 9994739, 8941581, 8993379]
[13016037, 12542476, 11013580, 10573859, 9823577, 10451734]
전라남도 지역별 일반용 합계 :  [28999996, 46065139, 21253152, 119929636, 26489778, 80739511, 43205376, 235125533, 64140934, 34485941, 237227786, 28088690, 248586838, 47060801, 53332658, 44149376, 42884456, 32406734, 21367842, 23734154, 62621709, 67421263]
전라남도 고객호수 평균:  [2857, 5352, 2034, 10269, 2358, 5975, 3460, 18447, 4951, 3546, 18168, 3043, 20780, 4410, 4035, 5003, 3056, 3144, 2690, 2234, 5762, 4117]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17444\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0           201401  전라남도  강진군  일반용  2,837   5,809,978
1           201402  전라남도  강진군  일반용  2,835   5,686,034
2           201403  전라남도  강진군  일반용  2,845   4,795,445
3           201404  전라남도  강진군  일반용  2,864   4,633,678
4           201405  전라남도  강진군  일반용  2,874   3,965,735
..             ...   ...  ...  ...     ...         ...
149  201401-201406  전라남도  장흥군  일반용    3144    32406734
150  201401-201406  전라남도  진도군  일반용    2690    21367842
151  201401-201406  전라남도  함평군  일반용    2234    23734154
152  201401-201406  전라남도  해남군  일반용    5762    62621709
153  201401-201406  전라남도  화순군  일반용    4117    67421263

[154 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201401-201406']
GyeonGiHap2

                년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
132  201401-201406  전라남도  강진군  일반용    2857   28999996
133  201401-201406  전라남도  고흥군  일반용    5352   46065139
134  201401-201406  전라남도  곡성군  일반용    2034   21253152
135  201401-201406  전라남도  광양시  일반용   10269  119929636
136  201401-201406  전라남도  구례군  일반용    2358   26489778
137  201401-201406  전라남도  나주시  일반용    5975   80739511
138  201401-201406  전라남도  담양군  일반용    3460   43205376
139  201401-201406  전라남도  목포시  일반용   18447  235125533
140  201401-201406  전라남도  무안군  일반용    4951   64140934
141  201401-201406  전라남도  보성군  일반용    3546   34485941
142  201401-201406  전라남도  순천시  일반용   18168  237227786
143  201401-201406  전라남도  신안군  일반용    3043   28088690
144  201401-201406  전라남도  여수시  일반용   20780  248586838
145  201401-201406  전라남도  영광군  일반용    4410   47060801
146  201401-201406  전라남도  영암군  일반용    4035   53332658
147  201401-201406  전라남도  완도군  일반용    5003   44149376
148  201401-201406  전라남도  장성군  일반용    3056   42884456
149  201401-201406  전라남도  장흥군  일반용    3144   32406734
150  201401-201406  전라남도  진도군  일반용    2690   21367842
151  201401-201406  전라남도  함평군  일반용    2234   23734154
152  201401-201406  전라남도  해남군  일반용    5762   62621709
153  201401-201406  전라남도  화순군  일반용    4117   67421263

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201401-201406  전라남도  강진군  일반용    2857    28999996
132  201401-201406  전라남도  강진군   합계    6294   143938483
133  201401-201406  전라남도  고흥군  일반용    5352    46065139
133  201401-201406  전라남도  고흥군   합계   12640   230881537
134  201401-201406  전라남도  곡성군  일반용    2034    21253152
134  201401-201406  전라남도  곡성군   합계    4839   212530473
135  201401-201406  전라남도  광양시  일반용   10269   119929636
135  201401-201406  전라남도  광양시   합계   12172  3299023152
136  201401-201406  전라남도  구례군  일반용    2358    26489778
136  201401-201406  전라남도  구례군   합계    4698    79764317
137  201401-201406  전라남도  나주시  일반용    5975    80739511
137  201401-201406  전라남도  나주시   합계   11534   478913619
138  201401-201406  전라남도  담양군  일반용    3460    43205376
138  201401-201406  전라남도  담양군   합계    6971   244927598
139  201401-201406  전라남도  목포시   합계   15506   476883368
139  201401-201406  전라남도  목포시  일반용   18447   235125533
140  201401-201406  전라남도  무안군   합계   10176   262883771
140  201401-201406  전라남도  무안군  일반용    4951    64140934
141  201401-201406  전라남도  보성군   합계    8218   133270904
141  201401-201406  전라남도  보성군  일반용    3546    34485941
142  201401-201406  전라남도  순천시   합계   21914   889309393
142  201401-201406  전라남도  순천시  일반용   18168   237227786
143  201401-201406  전라남도  신안군   합계    7865   130511926
143  201401-201406  전라남도  신안군  일반용    3043    28088690
144  201401-201406  전라남도  여수시   합계   24336  6433250895
144  201401-201406  전라남도  여수시  일반용   20780   248586838
145  201401-201406  전라남도  영광군   합계    7709   310862041
145  201401-201406  전라남도  영광군  일반용    4410    47060801
146  201401-201406  전라남도  영암군   합계    8605   699046348
146  201401-201406  전라남도  영암군  일반용    4035    53332658
147  201401-201406  전라남도  완도군   합계    7481   402329751
147  201401-201406  전라남도  완도군  일반용    5003    44149376
148  201401-201406  전라남도  장성군  일반용    3056    42884456
148  201401-201406  전라남도  장성군   합계    5930   296217616
149  201401-201406  전라남도  장흥군   합계    6200   162935066
149  201401-201406  전라남도  장흥군  일반용    3144    32406734
150  201401-201406  전라남도  진도군   합계    5816   145688329
150  201401-201406  전라남도  진도군  일반용    2690    21367842
151  201401-201406  전라남도  함평군   합계    5871   158945505
151  201401-201406  전라남도  함평군  일반용    2234    23734154
152  201401-201406  전라남도  해남군   합계   12698   365160771
152  201401-201406  전라남도  해남군  일반용    5762    62621709
153  201401-201406  전라남도  화순군  일반용    4117    67421263
153  201401-201406  전라남도  화순군   합계    7582   254042608

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[28999996,
 46065139,
 21253152,
 119929636,
 26489778,
 80739511,
 43205376,
 235125533,
 64140934,
 34485941,
 237227786,
 28088690,
 248586838,
 47060801,
 53332658,
 44149376,
 42884456,
 32406734,
 21367842,
 23734154,
 62621709,
 67421263]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[143938483,
 230881537,
 212530473,
 3299023152,
 79764317,
 478913619,
 244927598,
 476883368,
 262883771,
 133270904,
 889309393,
 130511926,
 6433250895,
 310862041,
 699046348,
 402329751,
 296217616,
 162935066,
 145688329,
 158945505,
 365160771,
 254042608]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[20.15, 19.95, 10.0, 3.64, 33.21, 16.86, 17.64, 49.3, 24.4, 25.88, 26.68, 21.52, 3.86, 15.14, 7.63, 10.97, 14.48, 19.89, 14.67, 14.93, 17.15, 26.54]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    20
1    20
2    10
3     4
4    33
5    17
6    18
7    49
8    24
9    26
10   27
11   22
12    4
13   15
14    8
15   11
16   14
17   20
18   15
19   15
20   17
21   27
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   강진군  일반용  20
1   고흥군  일반용  20
2   곡성군  일반용  10
3   광양시  일반용   4
4   구례군  일반용  33
5   나주시  일반용  17
6   담양군  일반용  18
7   목포시  일반용  49
8   무안군  일반용  24
9   보성군  일반용  26
10  순천시  일반용  27
11  신안군  일반용  22
12  여수시  일반용   4
13  영광군  일반용  15
14  영암군  일반용   8
15  완도군  일반용  11
16  장성군  일반용  14
17  장흥군  일반용  20
18  진도군  일반용  15
19  함평군  일반용  15
20  해남군  일반용  17
21  화순군  일반용  27

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201401-201406  전라남도  강진군  일반용    2857    28999996  20
1   201401-201406  전라남도  강진군   합계    6294   143938483 NaN
2   201401-201406  전라남도  고흥군  일반용    5352    46065139  20
3   201401-201406  전라남도  고흥군   합계   12640   230881537 NaN
4   201401-201406  전라남도  곡성군  일반용    2034    21253152  10
5   201401-201406  전라남도  곡성군   합계    4839   212530473 NaN
6   201401-201406  전라남도  광양시  일반용   10269   119929636   4
7   201401-201406  전라남도  광양시   합계   12172  3299023152 NaN
8   201401-201406  전라남도  구례군  일반용    2358    26489778  33
9   201401-201406  전라남도  구례군   합계    4698    79764317 NaN
10  201401-201406  전라남도  나주시  일반용    5975    80739511  17
11  201401-201406  전라남도  나주시   합계   11534   478913619 NaN
12  201401-201406  전라남도  담양군  일반용    3460    43205376  18
13  201401-201406  전라남도  담양군   합계    6971   244927598 NaN
15  201401-201406  전라남도  목포시  일반용   18447   235125533  49
14  201401-201406  전라남도  목포시   합계   15506   476883368 NaN
17  201401-201406  전라남도  무안군  일반용    4951    64140934  24
16  201401-201406  전라남도  무안군   합계   10176   262883771 NaN
19  201401-201406  전라남도  보성군  일반용    3546    34485941  26
18  201401-201406  전라남도  보성군   합계    8218   133270904 NaN
21  201401-201406  전라남도  순천시  일반용   18168   237227786  27
20  201401-201406  전라남도  순천시   합계   21914   889309393 NaN
23  201401-201406  전라남도  신안군  일반용    3043    28088690  22
22  201401-201406  전라남도  신안군   합계    7865   130511926 NaN
25  201401-201406  전라남도  여수시  일반용   20780   248586838   4
24  201401-201406  전라남도  여수시   합계   24336  6433250895 NaN
27  201401-201406  전라남도  영광군  일반용    4410    47060801  15
26  201401-201406  전라남도  영광군   합계    7709   310862041 NaN
29  201401-201406  전라남도  영암군  일반용    4035    53332658   8
28  201401-201406  전라남도  영암군   합계    8605   699046348 NaN
31  201401-201406  전라남도  완도군  일반용    5003    44149376  11
30  201401-201406  전라남도  완도군   합계    7481   402329751 NaN
32  201401-201406  전라남도  장성군  일반용    3056    42884456  14
33  201401-201406  전라남도  장성군   합계    5930   296217616 NaN
35  201401-201406  전라남도  장흥군  일반용    3144    32406734  20
34  201401-201406  전라남도  장흥군   합계    6200   162935066 NaN
37  201401-201406  전라남도  진도군  일반용    2690    21367842  15
36  201401-201406  전라남도  진도군   합계    5816   145688329 NaN
39  201401-201406  전라남도  함평군  일반용    2234    23734154  15
38  201401-201406  전라남도  함평군   합계    5871   158945505 NaN
41  201401-201406  전라남도  해남군  일반용    5762    62621709  17
40  201401-201406  전라남도  해남군   합계   12698   365160771 NaN
42  201401-201406  전라남도  화순군  일반용    4117    67421263  27
43  201401-201406  전라남도  화순군   합계    7582   254042608 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1401-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)