In [1]:
import pandas as pd


df = pd.read_csv('경상북도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,1100179,471301260098729,4713012600987,4713012600,987,29,2267,경상북도,경주시,동천동,471304730228.0,백률로57번길,27.0,0.0
1,1100171,47130126009426,4713012600942,4713012600,942,6,745,경상북도,경주시,동천동,471304716168.0,초당길51번길,17.0,0.0
2,1100187,4713012600160,471301260016,4713012600,16,0,1052,경상북도,경주시,동천동,471303000104.0,산업로,4152.0,10.0
3,1100186,471301260098760,4713012600987,4713012600,987,60,2784,경상북도,경주시,동천동,471303305041.0,양정로,286.0,0.0
4,1100185,471301260098757,4713012600987,4713012600,987,57,1168,경상북도,경주시,동천동,471304730227.0,백률로53번길,20.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,1147081,4719012500941,471901250094,4719012500,94,1,44258,경상북도,구미시,임수동,...,4719012500,94,1,"경상북도 구미시 3공단3로 302,경상북도 구미시 임수동 94-1 삼성전자 2공장",민간,삼성SDS,구미 데이터센터,-,-,NaN
1,1121106,471303103412700,47130310341270,4713031034,1270,0,18180,경상북도,경주시,양북면 장항리,...,4713031034,1270,0,경북 경주시 양북면 불국로 1655,공공,한국수력원자력(주),메인데이터센터(경주),-,-,NaN

In [4]:
df_3.to_csv("경상북도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')