In [1]:
import pandas as pd


df = pd.read_csv('대구광역시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str'})
                 #'시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,233697,271701020011080,1108,0,618,대구광역시,서구,비산동,271703143003.0,달서천로,341.0,10.0
1,233698,271701020011330,1133,0,323,대구광역시,서구,비산동,271703143003.0,달서천로,335.0,32.0
2,233594,271701020044816,448,16,107,대구광역시,서구,비산동,271704229093.0,달서로27길,9.0,0.0
3,233669,27170102008818,881,8,814,대구광역시,서구,비산동,271703143006.0,서대구로,290.0,3.0
4,233668,27170102008816,881,6,1659,대구광역시,서구,비산동,271703143006.0,서대구로,290.0,4.0

In [2]:
print(df.dtypes)

Unnamed: 0     int64
시군구법정동번지코드    object
본번             int64
부번             int64
사용량_KWH        int64
시도명           object
시군구명          object
법정동명          object
새주소대로로코드      object
새주소대로로명       object
새주소본번         object
새주소부번         object
dtype: object

In [3]:
#df_2 = df_2.astype({'시군구법정동번지코드' : 'float'})

In [4]:
print(df_2.dtypes)

시군구법정동번지코드    object
시군구법정동번코드     object
시군구법정동코드       int64
번             object
지             object
주소            object
분류            object
기업            object
이름            object
비고            object
임차여부          object
dtype: object

In [5]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,421301170018946,4.21301E+13,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-
1,4213011700204710,4.21301E+13,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-
2,4213011700204710,4.21301E+13,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-
3,421103102210000,4.21103E+13,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-
4,42110126006500,4.21101E+12,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-

In [6]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,...,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,237928,272001020062715,627,15,394800,대구광역시,남구,봉덕동,272003144007.0,봉덕로,...,2.72001E+12,2720010200,627,15,대구시 남구 봉덕로 61 (봉덕동 627-15) KT봉덕지사 2층,통신,"KT,대구달성군시설관리공단",KT 대구 IDC,-,-
1,218350,27110101002951,295,1,289968,대구광역시,중구,동인동1가,271103141005.0,동덕로,...,2.71101E+12,2711010100,295,1,대구광역시 중구 동덕로 186,통신,LG U+,LG U+대구 센터,기타분류,-

In [7]:
df_3.to_csv("대구광역시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')