In [1]:
import pandas as pd


df = pd.read_csv('인천광역시.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str'})
                 #'시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,283066,28200111002251,225,1,40761,인천광역시,남동구,고잔동,282003153014.0,논현고잔로,117.0,0.0
1,319548,287203802110115,10,115,1415,인천광역시,옹진군,연평면 연평리,287204274145.0,연평로682번길,62.0,0.0
2,284633,28185102003552,355,2,29274,인천광역시,연수구,선학동,281854256126.0,선학로74번길,20.0,0.0
3,284632,28185102003480,348,0,236,인천광역시,연수구,선학동,-,-,-,-
4,284631,28185102002044,204,4,2488,인천광역시,연수구,선학동,281852008007.0,경원대로,515.0,0.0

In [2]:
print(df.dtypes)

Unnamed: 0     int64
시군구법정동번지코드    object
본번             int64
부번             int64
사용량_KWH        int64
시도명           object
시군구명          object
법정동명          object
새주소대로로코드      object
새주소대로로명       object
새주소본번         object
새주소부번         object
dtype: object

In [3]:
#df_2 = df_2.astype({'시군구법정동번지코드' : 'float'})

In [4]:
print(df_2.dtypes)

시군구법정동번지코드    object
시군구법정동번코드     object
시군구법정동코드       int64
번             object
지             object
주소            object
분류            object
기업            object
이름            object
비고            object
임차여부          object
dtype: object

In [5]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,421301170018946,4.21301E+13,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-
1,4213011700204710,4.21301E+13,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-
2,4213011700204710,4.21301E+13,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-
3,421103102210000,4.21103E+13,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-
4,42110126006500,4.21101E+12,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-

In [7]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,...,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부
0,265701,281101470028500,2850,0,33231529,인천광역시,중구,운서동,281104247013.0,공항로424번길,...,2.81101E+13,2811014700,2850,0,인천 중구 공항로 272 인천국제공항여객터미널,공공,인천공항출입국·외국인청,T1 전산실,-,-
1,265701,281101470028500,2850,0,33231529,인천광역시,중구,운서동,281104247013.0,공항로424번길,...,2.81101E+13,2811014700,2850,0,인천 중구 공항로 272 인천국제공항여객터미널,공공,인천공항출입국·외국인청,T2 전산실,-,-
2,265701,281101470028500,2850,0,33231529,인천광역시,중구,운서동,281104247013.0,공항로424번길,...,2.81101E+13,2811014700,2850,0,인천 중구 공항로424번길 47,공공,인천국제공항공사,서버실-1,-,-
3,312986,282601220075,7,5,3075120,인천광역시,서구,청라동,282603156057.0,에코로,...,28260122007,2826012200,7,5,인천광역시 서구 에코로 181,금융,하나금융,하나금융그룹 통합데이터센터,-,-
4,302793,28245101002361,236,1,1716144,인천광역시,계양구,효성동,282454265274.0,아나지로213번길,...,2.82451E+12,2824510100,236,1,"인천 계양구 아나지로213번길 23, 인천광역시 계양구 효성동 236-1",민간,LG CNS,인천센터,-,-

In [8]:
df_3.to_csv("인천광역시_전력사용량.csv" , mode = 'w' , encoding= 'cp949')