In [5]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [6]:
df = pd.read_csv('전라남도_계약종별_전력사용량_월별_15상반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라남도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2015년 01 월 ~ 2015년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라남도,전체(시 / 군 / 구),주택용,"701,766","316,582,101","32,611,917,155",103.0
4,201501,전라남도,전체(시 / 군 / 구),일반용,"138,501","330,746,080","43,776,968,881",132.4
...,...,...,...,...,...,...,...,...
1099,201506,전라남도,화순군,산업용,739,"13,537,019","1,718,788,520",127
1100,201506,전라남도,화순군,심 야,"1,896","1,045,739","55,462,274",53
1101,201506,전라남도,화순군,일반용,"4,113","10,484,933","1,376,106,085",131.2
1102,201506,전라남도,화순군,주택용,"24,118","5,811,196","625,750,268",107.7
1103,201506,전라남도,화순군,합계,"46,383","37,429,158","4,224,952,092",112.9

In [7]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라남도,전체(시 / 군 / 구),주택용,"701,766","316,582,101","32,611,917,155",103.0
4,201501,전라남도,전체(시 / 군 / 구),일반용,"138,501","330,746,080","43,776,968,881",132.4
5,201501,전라남도,전체(시 / 군 / 구),교육용,"1,314","28,742,586","3,361,997,284",117.0
6,201501,전라남도,전체(시 / 군 / 구),산업용,"18,884","1,933,872,686","209,956,346,872",108.6
...,...,...,...,...,...,...,...,...
1099,201506,전라남도,화순군,산업용,739,"13,537,019","1,718,788,520",127
1100,201506,전라남도,화순군,심 야,"1,896","1,045,739","55,462,274",53
1101,201506,전라남도,화순군,일반용,"4,113","10,484,933","1,376,106,085",131.2
1102,201506,전라남도,화순군,주택용,"24,118","5,811,196","625,750,268",107.7
1103,201506,전라남도,화순군,합계,"46,383","37,429,158","4,224,952,092",112.9

In [8]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [9]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라남도,전체(시 / 군 / 구),주택용,"701,766","316,582,101","32,611,917,155",103.0
4,201501,전라남도,전체(시 / 군 / 구),일반용,"138,501","330,746,080","43,776,968,881",132.4
5,201501,전라남도,전체(시 / 군 / 구),교육용,"1,314","28,742,586","3,361,997,284",117.0
6,201501,전라남도,전체(시 / 군 / 구),산업용,"18,884","1,933,872,686","209,956,346,872",108.6
7,201501,전라남도,전체(시 / 군 / 구),농사용,"240,579","287,487,272","13,513,370,800",47.0
...,...,...,...,...,...,...,...,...
1099,201506,전라남도,화순군,산업용,739,"13,537,019","1,718,788,520",127
1100,201506,전라남도,화순군,심 야,"1,896","1,045,739","55,462,274",53
1101,201506,전라남도,화순군,일반용,"4,113","10,484,933","1,376,106,085",131.2
1102,201506,전라남도,화순군,주택용,"24,118","5,811,196","625,750,268",107.7
1103,201506,전라남도,화순군,합계,"46,383","37,429,158","4,224,952,092",112.9

In [10]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201501,전라남도,전체(시 / 군 / 구),주택용,"701,766","316,582,101","32,611,917,155",103.0
4,201501,전라남도,전체(시 / 군 / 구),일반용,"138,501","330,746,080","43,776,968,881",132.4
5,201501,전라남도,전체(시 / 군 / 구),교육용,"1,314","28,742,586","3,361,997,284",117.0
6,201501,전라남도,전체(시 / 군 / 구),산업용,"18,884","1,933,872,686","209,956,346,872",108.6
7,201501,전라남도,전체(시 / 군 / 구),농사용,"240,579","287,487,272","13,513,370,800",47.0
8,201501,전라남도,전체(시 / 군 / 구),가로등,"135,402","20,441,786","2,145,604,572",105.0
9,201501,전라남도,전체(시 / 군 / 구),심 야,"50,155","118,541,827","8,900,311,137",75.1
10,201502,전라남도,전체(시 / 군 / 구),주택용,"702,378","98,305,859","22,786,195,219",231.8
11,201502,전라남도,전체(시 / 군 / 구),일반용,"138,774","323,226,670","43,177,898,244",133.6
12,201502,전라남도,전체(시 / 군 / 구),교육용,"1,318","25,531,705","3,106,689,062",121.7
13,201502,전라남도,전체(시 / 군 / 구),산업용,"18,915","1,731,960,557","184,755,169,520",106.7
14,201502,전라남도,전체(시 / 군 / 구),농사용,"240,781","299,723,493","14,035,563,683",46.8
15,201502,전라남도,전체(시 / 군 / 구),가로등,"135,771","19,041,530","2,134,675,257",112.1
16,201502,전라남도,전체(시 / 군 / 구),심 야,"50,090","115,705,652","8,677,519,949",75.0
17,201503,전라남도,전체(시 / 군 / 구),주택용,"703,628","183,682,377","21,911,378,023",119.3
18,201503,전라남도,전체(시 / 군 / 구),일반용,"138,400","277,881,508","34,885,123,116",125.5
19,201503,전라남도,전체(시 / 군 / 구),교육용,"1,320","25,831,389","2,790,814,555",108.0
20,201503,전라남도,전체(시 / 군 / 구),산업용,"18,921","2,074,485,242","184,009,029,551",88.7
21,201503,전라남도,전체(시 / 군 / 구),농사용,"355,989","272,092,921","12,805,569,800",47.1
22,201503,전라남도,전체(시 / 군 / 구),가로등,"135,986","18,085,865","2,050,427,857",113.4
23,201503,전라남도,전체(시 / 군 / 구),심 야,"50,008","97,599,285","6,492,561,295",66.5
24,201504,전라남도,전체(시 / 군 / 구),주택용,"704,750","191,806,133","23,510,332,713",122.6
25,201504,전라남도,전체(시 / 군 / 구),일반용,"138,367","271,940,299","31,015,855,177",114.1
26,201504,전라남도,전체(시 / 군 / 구),교육용,"1,313","26,763,147","2,585,391,801",96.6
27,201504,전라남도,전체(시 / 군 / 구),산업용,"18,972","1,931,298,913","173,512,656,476",89.8
28,201504,전라남도,전체(시 / 군 / 구),농사용,"265,804","270,604,932","12,496,515,286",46.2
29,201504,전라남도,전체(시 / 군 / 구),가로등,"136,124","17,676,386","2,108,143,487",119.3
30,201504,전라남도,전체(시 / 군 / 구),심 야,"49,939","78,963,579","4,272,898,824",54.1
31,201505,전라남도,전체(시 / 군 / 구),주택용,"705,510","179,923,999","20,823,895,193",115.7
32,201505,전라남도,전체(시 / 군 / 구),일반용,"138,457","243,442,304","28,895,515,790",118.7
33,201505,전라남도,전체(시 / 군 / 구),교육용,"1,313","18,997,563","2,121,879,883",111.7
34,201505,전라남도,전체(시 / 군 / 구),산업용,"19,004","2,070,174,675","176,191,000,943",85.1
35,201505,전라남도,전체(시 / 군 / 구),농사용,"244,071","197,387,245","9,373,371,246",47.5
36,201505,전라남도,전체(시 / 군 / 구),가로등,"136,525","16,710,020","2,052,805,921",122.8
37,201505,전라남도,전체(시 / 군 / 구),심 야,"49,851","50,484,598","2,744,660,527",54.4
38,201506,전라남도,전체(시 / 군 / 구),주택용,"706,547","178,227,071","20,295,245,044",113.9
39,201506,전라남도,전체(시 / 군 / 구),일반용,"138,641","249,112,335","33,448,991,904",134.3
40,201506,전라남도,전체(시 / 군 / 구),교육용,"1,311","19,017,977","2,455,848,389",129.1
41,201506,전라남도,전체(시 / 군 / 구),산업용,"19,034","1,849,682,565","199,905,190,271",108.1
42,201506,전라남도,전체(시 / 군 / 구),농사용,"245,252","204,407,530","9,356,007,063",45.8
43,201506,전라남도,전체(시 / 군 / 구),가로등,"137,100","16,151,117","2,050,300,625",126.9
44,201506,전라남도,전체(시 / 군 / 구),심 야,"49,775","29,853,374","1,656,855,331",55.5
45,합계,합계,합계,합계,"7,886,540","16,712,194,153","1,618,758,493,726",96.9

In [11]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_7360\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201501  전라남도  일반용  138,501   330,746,080
11  201502  전라남도  일반용  138,774   323,226,670
18  201503  전라남도  일반용  138,400   277,881,508
25  201504  전라남도  일반용  138,367   271,940,299
32  201505  전라남도  일반용  138,457   243,442,304
39  201506  전라남도  일반용  138,641   249,112,335

In [12]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [13]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [14]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201501  전라남도  강진군  일반용  2,887    5,864,759
229   201502  전라남도  강진군  일반용  2,894    5,756,138
405   201503  전라남도  강진군  일반용  2,901    4,919,094
581   201504  전라남도  강진군  일반용  2,900    4,726,564
757   201505  전라남도  강진군  일반용  2,909    4,107,676
...      ...   ...  ...  ...     ...          ...
397   201502  전라남도  화순군  일반용  4,114   13,043,335
573   201503  전라남도  화순군  일반용  4,072   11,438,213
749   201504  전라남도  화순군  일반용  4,118   11,149,766
925   201505  전라남도  화순군  일반용  4,120   10,222,567
1101  201506  전라남도  화순군  일반용  4,113   10,484,933

[132 rows x 6 columns]

In [15]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라남도'

In [16]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['강진군',
 '고흥군',
 '곡성군',
 '광양시',
 '구례군',
 '나주시',
 '담양군',
 '목포시',
 '무안군',
 '보성군',
 '순천시',
 '신안군',
 '여수시',
 '영광군',
 '영암군',
 '완도군',
 '장성군',
 '장흥군',
 '진도군',
 '함평군',
 '해남군',
 '화순군']

In [17]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

          년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55    201501  전라남도  강진군   합계  36,747   29,316,337
231   201502  전라남도  강진군   합계  36,814   29,086,182
407   201503  전라남도  강진군   합계  45,326   25,291,122
583   201504  전라남도  강진군   합계  36,956   24,883,063
759   201505  전라남도  강진군   합계  37,046   20,656,707
...      ...   ...  ...  ...      ...          ...
399   201502  전라남도  화순군   합계  45,940   51,564,408
575   201503  전라남도  화순군   합계  47,632   46,720,126
751   201504  전라남도  화순군   합계  46,061   43,903,785
927   201505  전라남도  화순군   합계  46,155   37,726,132
1103  201506  전라남도  화순군   합계  46,383   37,429,158

[132 rows x 6 columns]

In [18]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[29316337, 29086182, 25291122, 24883063, 20656707, 20438192]
[48421301, 48815352, 43762748, 42590365, 28854976, 27637493]
[39229519, 35045589, 36814315, 34986151, 32901224, 33771303]
[532045974, 485921087, 651068477, 588981277, 686470423, 577745540]
[17106588, 16085728, 14196201, 13917762, 11930298, 11645868]
[97020158, 93729693, 85289926, 84043112, 78557517, 82924781]
[49548722, 48000078, 43412959, 40314729, 35171988, 35173757]
[92331495, 91535057, 79393404, 79469174, 70011228, 70277591]
[51174390, 51330978, 46603625, 45289470, 38837867, 40321833]
[28194843, 27446112, 23407700, 22904115, 20043744, 19913148]
[172446625, 158098802, 151060322, 129811120, 133285149, 139023632]
[22793390, 25114188, 23317168, 24038496, 18006098, 16345125]
[1210805346, 1091074384, 1209156153, 1144811239, 1164939885, 1044165084]
[58863686, 59073213, 69263384, 67057780, 58827733, 51363709]
[242032334, 8763657, 123868500, 115713478, 112001173, 120006187]
[71103087, 71495799, 67308631, 79957081, 71204407, 68320824]
[55830940, 48591053, 50160914, 49285150, 44808621, 43982794]
[31436919, 33375903, 32343656, 30821002, 21701812, 20780690]
[27696509, 29369793, 26938190, 27876200, 21664671, 20636769]
[32107057, 31518296, 28176883, 27222921, 23133787, 22941107]
[73347714, 78460114, 72104183, 71175919, 46384964, 41607384]
[53561404, 51564408, 46720126, 43903785, 37726132, 37429158]
전라남도 지역별 합계 :  [149671603, 240082235, 212748101, 3522232778, 84882445, 521565187, 251622233, 483017949, 273558163, 141909662, 883725650, 129614465, 6864952091, 364449505, 722385329, 429389829, 292659472, 170459982, 154182132, 165100051, 383080278, 270905013]
전라남도 고객호수 평균:  [6388, 12887, 4979, 12334, 4818, 11998, 7147, 15669, 10320, 8320, 22333, 8014, 24729, 7810, 8801, 7634, 6069, 6265, 5916, 5968, 12938, 7724]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [19]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\3184527758.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0           201501  전라남도  강진군   합계  36,747   29,316,337
1           201502  전라남도  강진군   합계  36,814   29,086,182
2           201503  전라남도  강진군   합계  45,326   25,291,122
3           201504  전라남도  강진군   합계  36,956   24,883,063
4           201505  전라남도  강진군   합계  37,046   20,656,707
..             ...   ...  ...  ...      ...          ...
149  201501-201506  전라남도  장흥군   합계     6265    170459982
150  201501-201506  전라남도  진도군   합계     5916    154182132
151  201501-201506  전라남도  함평군   합계     5968    165100051
152  201501-201506  전라남도  해남군   합계    12938    383080278
153  201501-201506  전라남도  화순군   합계     7724    270905013

[154 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [20]:
Hap = Hap.loc[Hap['년월'] == '201501-201506']
Hap

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201501-201506  전라남도  강진군   합계    6388   149671603
133  201501-201506  전라남도  고흥군   합계   12887   240082235
134  201501-201506  전라남도  곡성군   합계    4979   212748101
135  201501-201506  전라남도  광양시   합계   12334  3522232778
136  201501-201506  전라남도  구례군   합계    4818    84882445
137  201501-201506  전라남도  나주시   합계   11998   521565187
138  201501-201506  전라남도  담양군   합계    7147   251622233
139  201501-201506  전라남도  목포시   합계   15669   483017949
140  201501-201506  전라남도  무안군   합계   10320   273558163
141  201501-201506  전라남도  보성군   합계    8320   141909662
142  201501-201506  전라남도  순천시   합계   22333   883725650
143  201501-201506  전라남도  신안군   합계    8014   129614465
144  201501-201506  전라남도  여수시   합계   24729  6864952091
145  201501-201506  전라남도  영광군   합계    7810   364449505
146  201501-201506  전라남도  영암군   합계    8801   722385329
147  201501-201506  전라남도  완도군   합계    7634   429389829
148  201501-201506  전라남도  장성군   합계    6069   292659472
149  201501-201506  전라남도  장흥군   합계    6265   170459982
150  201501-201506  전라남도  진도군   합계    5916   154182132
151  201501-201506  전라남도  함평군   합계    5968   165100051
152  201501-201506  전라남도  해남군   합계   12938   383080278
153  201501-201506  전라남도  화순군   합계    7724   270905013

In [21]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [22]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [23]:
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201501  전라남도  강진군  일반용  2,887    5,864,759
229   201502  전라남도  강진군  일반용  2,894    5,756,138
405   201503  전라남도  강진군  일반용  2,901    4,919,094
581   201504  전라남도  강진군  일반용  2,900    4,726,564
757   201505  전라남도  강진군  일반용  2,909    4,107,676
...      ...   ...  ...  ...     ...          ...
397   201502  전라남도  화순군  일반용  4,114   13,043,335
573   201503  전라남도  화순군  일반용  4,072   11,438,213
749   201504  전라남도  화순군  일반용  4,118   11,149,766
925   201505  전라남도  화순군  일반용  4,120   10,222,567
1101  201506  전라남도  화순군  일반용  4,113   10,484,933

[132 rows x 6 columns]

In [24]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [25]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[5864759, 5756138, 4919094, 4726564, 4107676, 4038666]
[9394064, 9278047, 7956327, 7885275, 7038165, 6874431]
[4471927, 4224036, 3594331, 3611348, 3188107, 3191067]
[24665331, 23511786, 19874581, 19496760, 17227581, 18337511]
[5600648, 5238255, 4686763, 4621099, 4039081, 3849745]
[20332262, 19683550, 17526336, 17001230, 15410933, 16415115]
[9196507, 9002765, 7730626, 7441839, 6721441, 6774977]
[46758586, 46372284, 39636591, 38637193, 33954625, 34839899]
[13444809, 13373759, 11355466, 11044881, 9709495, 9945677]
[7206746, 7014491, 5946226, 5811706, 5114007, 5056390]
[47584419, 46004809, 39405205, 38719452, 35523316, 37694378]
[5636013, 5677032, 4883535, 5014633, 4553881, 4217583]
[50707134, 49570292, 42377779, 41764744, 38221611, 39679340]
[9638926, 9567118, 8241157, 8076672, 6952574, 6789118]
[10936129, 10690367, 9109478, 8908864, 7773918, 7632815]
[8769207, 8767454, 7502927, 7541853, 6794792, 6571191]
[8915169, 8443179, 7566087, 6975294, 6097518, 6175916]
[6376847, 6283364, 5426498, 5287910, 4701226, 4672996]
[4302721, 4342827, 3686699, 3722808, 3263871, 3141802]
[4769663, 4727568, 4097477, 3997894, 3557073, 3553063]
[12789438, 12654214, 10920112, 10502514, 9268846, 9175722]
[13384775, 13043335, 11438213, 11149766, 10222567, 10484933]
전라남도 지역별 일반용 합계 :  [29412897, 48426309, 22280816, 123113550, 28035591, 106369426, 46868155, 240199178, 68874087, 36149566, 244931579, 29982677, 262320900, 49265565, 55051571, 45947424, 44173163, 32748841, 22460728, 24702738, 65310846, 69723589]
전라남도 고객호수 평균:  [2899, 5395, 2085, 10434, 2438, 6453, 3576, 18609, 5178, 3556, 18583, 3163, 21145, 4508, 4116, 5081, 3132, 3175, 2766, 2280, 5837, 4105]

In [26]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [27]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [28]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [29]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_7360\2656733255.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201501-201506'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0           201501  전라남도  강진군  일반용  2,887   5,864,759
1           201502  전라남도  강진군  일반용  2,894   5,756,138
2           201503  전라남도  강진군  일반용  2,901   4,919,094
3           201504  전라남도  강진군  일반용  2,900   4,726,564
4           201505  전라남도  강진군  일반용  2,909   4,107,676
..             ...   ...  ...  ...     ...         ...
149  201501-201506  전라남도  장흥군  일반용    3175    32748841
150  201501-201506  전라남도  진도군  일반용    2766    22460728
151  201501-201506  전라남도  함평군  일반용    2280    24702738
152  201501-201506  전라남도  해남군  일반용    5837    65310846
153  201501-201506  전라남도  화순군  일반용    4105    69723589

[154 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [30]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201501-201506']
GyeonGiHap2

                년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
132  201501-201506  전라남도  강진군  일반용    2899   29412897
133  201501-201506  전라남도  고흥군  일반용    5395   48426309
134  201501-201506  전라남도  곡성군  일반용    2085   22280816
135  201501-201506  전라남도  광양시  일반용   10434  123113550
136  201501-201506  전라남도  구례군  일반용    2438   28035591
137  201501-201506  전라남도  나주시  일반용    6453  106369426
138  201501-201506  전라남도  담양군  일반용    3576   46868155
139  201501-201506  전라남도  목포시  일반용   18609  240199178
140  201501-201506  전라남도  무안군  일반용    5178   68874087
141  201501-201506  전라남도  보성군  일반용    3556   36149566
142  201501-201506  전라남도  순천시  일반용   18583  244931579
143  201501-201506  전라남도  신안군  일반용    3163   29982677
144  201501-201506  전라남도  여수시  일반용   21145  262320900
145  201501-201506  전라남도  영광군  일반용    4508   49265565
146  201501-201506  전라남도  영암군  일반용    4116   55051571
147  201501-201506  전라남도  완도군  일반용    5081   45947424
148  201501-201506  전라남도  장성군  일반용    3132   44173163
149  201501-201506  전라남도  장흥군  일반용    3175   32748841
150  201501-201506  전라남도  진도군  일반용    2766   22460728
151  201501-201506  전라남도  함평군  일반용    2280   24702738
152  201501-201506  전라남도  해남군  일반용    5837   65310846
153  201501-201506  전라남도  화순군  일반용    4105   69723589

In [31]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201501-201506  전라남도  강진군  일반용    2899    29412897
132  201501-201506  전라남도  강진군   합계    6388   149671603
133  201501-201506  전라남도  고흥군  일반용    5395    48426309
133  201501-201506  전라남도  고흥군   합계   12887   240082235
134  201501-201506  전라남도  곡성군  일반용    2085    22280816
134  201501-201506  전라남도  곡성군   합계    4979   212748101
135  201501-201506  전라남도  광양시  일반용   10434   123113550
135  201501-201506  전라남도  광양시   합계   12334  3522232778
136  201501-201506  전라남도  구례군  일반용    2438    28035591
136  201501-201506  전라남도  구례군   합계    4818    84882445
137  201501-201506  전라남도  나주시  일반용    6453   106369426
137  201501-201506  전라남도  나주시   합계   11998   521565187
138  201501-201506  전라남도  담양군  일반용    3576    46868155
138  201501-201506  전라남도  담양군   합계    7147   251622233
139  201501-201506  전라남도  목포시   합계   15669   483017949
139  201501-201506  전라남도  목포시  일반용   18609   240199178
140  201501-201506  전라남도  무안군   합계   10320   273558163
140  201501-201506  전라남도  무안군  일반용    5178    68874087
141  201501-201506  전라남도  보성군   합계    8320   141909662
141  201501-201506  전라남도  보성군  일반용    3556    36149566
142  201501-201506  전라남도  순천시   합계   22333   883725650
142  201501-201506  전라남도  순천시  일반용   18583   244931579
143  201501-201506  전라남도  신안군   합계    8014   129614465
143  201501-201506  전라남도  신안군  일반용    3163    29982677
144  201501-201506  전라남도  여수시   합계   24729  6864952091
144  201501-201506  전라남도  여수시  일반용   21145   262320900
145  201501-201506  전라남도  영광군   합계    7810   364449505
145  201501-201506  전라남도  영광군  일반용    4508    49265565
146  201501-201506  전라남도  영암군   합계    8801   722385329
146  201501-201506  전라남도  영암군  일반용    4116    55051571
147  201501-201506  전라남도  완도군   합계    7634   429389829
147  201501-201506  전라남도  완도군  일반용    5081    45947424
148  201501-201506  전라남도  장성군  일반용    3132    44173163
148  201501-201506  전라남도  장성군   합계    6069   292659472
149  201501-201506  전라남도  장흥군   합계    6265   170459982
149  201501-201506  전라남도  장흥군  일반용    3175    32748841
150  201501-201506  전라남도  진도군   합계    5916   154182132
150  201501-201506  전라남도  진도군  일반용    2766    22460728
151  201501-201506  전라남도  함평군   합계    5968   165100051
151  201501-201506  전라남도  함평군  일반용    2280    24702738
152  201501-201506  전라남도  해남군   합계   12938   383080278
152  201501-201506  전라남도  해남군  일반용    5837    65310846
153  201501-201506  전라남도  화순군  일반용    4105    69723589
153  201501-201506  전라남도  화순군   합계    7724   270905013

In [32]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[29412897,
 48426309,
 22280816,
 123113550,
 28035591,
 106369426,
 46868155,
 240199178,
 68874087,
 36149566,
 244931579,
 29982677,
 262320900,
 49265565,
 55051571,
 45947424,
 44173163,
 32748841,
 22460728,
 24702738,
 65310846,
 69723589]

In [33]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[149671603,
 240082235,
 212748101,
 3522232778,
 84882445,
 521565187,
 251622233,
 483017949,
 273558163,
 141909662,
 883725650,
 129614465,
 6864952091,
 364449505,
 722385329,
 429389829,
 292659472,
 170459982,
 154182132,
 165100051,
 383080278,
 270905013]

In [34]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[19.65, 20.17, 10.47, 3.5, 33.03, 20.39, 18.63, 49.73, 25.18, 25.47, 27.72, 23.13, 3.82, 13.52, 7.62, 10.7, 15.09, 19.21, 14.57, 14.96, 17.05, 25.74]

In [35]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    20
1    20
2    10
3     4
4    33
5    20
6    19
7    50
8    25
9    25
10   28
11   23
12    4
13   14
14    8
15   11
16   15
17   19
18   15
19   15
20   17
21   26
dtype: float64

In [36]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   강진군  일반용  20
1   고흥군  일반용  20
2   곡성군  일반용  10
3   광양시  일반용   4
4   구례군  일반용  33
5   나주시  일반용  20
6   담양군  일반용  19
7   목포시  일반용  50
8   무안군  일반용  25
9   보성군  일반용  25
10  순천시  일반용  28
11  신안군  일반용  23
12  여수시  일반용   4
13  영광군  일반용  14
14  영암군  일반용   8
15  완도군  일반용  11
16  장성군  일반용  15
17  장흥군  일반용  19
18  진도군  일반용  15
19  함평군  일반용  15
20  해남군  일반용  17
21  화순군  일반용  26

In [37]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201501-201506  전라남도  강진군  일반용    2899    29412897  20
1   201501-201506  전라남도  강진군   합계    6388   149671603 NaN
2   201501-201506  전라남도  고흥군  일반용    5395    48426309  20
3   201501-201506  전라남도  고흥군   합계   12887   240082235 NaN
4   201501-201506  전라남도  곡성군  일반용    2085    22280816  10
5   201501-201506  전라남도  곡성군   합계    4979   212748101 NaN
6   201501-201506  전라남도  광양시  일반용   10434   123113550   4
7   201501-201506  전라남도  광양시   합계   12334  3522232778 NaN
8   201501-201506  전라남도  구례군  일반용    2438    28035591  33
9   201501-201506  전라남도  구례군   합계    4818    84882445 NaN
10  201501-201506  전라남도  나주시  일반용    6453   106369426  20
11  201501-201506  전라남도  나주시   합계   11998   521565187 NaN
12  201501-201506  전라남도  담양군  일반용    3576    46868155  19
13  201501-201506  전라남도  담양군   합계    7147   251622233 NaN
15  201501-201506  전라남도  목포시  일반용   18609   240199178  50
14  201501-201506  전라남도  목포시   합계   15669   483017949 NaN
17  201501-201506  전라남도  무안군  일반용    5178    68874087  25
16  201501-201506  전라남도  무안군   합계   10320   273558163 NaN
19  201501-201506  전라남도  보성군  일반용    3556    36149566  25
18  201501-201506  전라남도  보성군   합계    8320   141909662 NaN
21  201501-201506  전라남도  순천시  일반용   18583   244931579  28
20  201501-201506  전라남도  순천시   합계   22333   883725650 NaN
23  201501-201506  전라남도  신안군  일반용    3163    29982677  23
22  201501-201506  전라남도  신안군   합계    8014   129614465 NaN
25  201501-201506  전라남도  여수시  일반용   21145   262320900   4
24  201501-201506  전라남도  여수시   합계   24729  6864952091 NaN
27  201501-201506  전라남도  영광군  일반용    4508    49265565  14
26  201501-201506  전라남도  영광군   합계    7810   364449505 NaN
29  201501-201506  전라남도  영암군  일반용    4116    55051571   8
28  201501-201506  전라남도  영암군   합계    8801   722385329 NaN
31  201501-201506  전라남도  완도군  일반용    5081    45947424  11
30  201501-201506  전라남도  완도군   합계    7634   429389829 NaN
32  201501-201506  전라남도  장성군  일반용    3132    44173163  15
33  201501-201506  전라남도  장성군   합계    6069   292659472 NaN
35  201501-201506  전라남도  장흥군  일반용    3175    32748841  19
34  201501-201506  전라남도  장흥군   합계    6265   170459982 NaN
37  201501-201506  전라남도  진도군  일반용    2766    22460728  15
36  201501-201506  전라남도  진도군   합계    5916   154182132 NaN
39  201501-201506  전라남도  함평군  일반용    2280    24702738  15
38  201501-201506  전라남도  함평군   합계    5968   165100051 NaN
41  201501-201506  전라남도  해남군  일반용    5837    65310846  17
40  201501-201506  전라남도  해남군   합계   12938   383080278 NaN
42  201501-201506  전라남도  화순군  일반용    4105    69723589  26
43  201501-201506  전라남도  화순군   합계    7724   270905013 NaN

In [38]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [39]:
Final.to_csv("{}_일반용_전력사용량_1501-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [40]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [41]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [42]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [43]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [44]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [45]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [46]:
# SEOUL

In [47]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)