In [1]:
import pandas as pd


df = pd.read_csv('강원도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                 '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,680186,42130105001154,4213010500115,4213010500,115,4,930,강원도,원주시,개운동,421303219054.0,치악로,1789.0,0.0
1,728338,42760360211173,4276036021117,4276036021,117,3,1270,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,64.0,2.0
2,728337,42760360211168,4276036021116,4276036021,116,8,627,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,48.0,5.0
3,728336,427603602110064,4276036021100,4276036021,100,64,158,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,82.0,1.0
4,728335,427603602110046,4276036021100,4276036021,100,46,388,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,70.0,3.0

In [1]:
import pandas as pd


df = pd.read_csv('강원도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                 '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,680186,42130105001154,4213010500115,4213010500,115,4,930,강원도,원주시,개운동,421303219054.0,치악로,1789.0,0.0
1,728338,42760360211173,4276036021117,4276036021,117,3,1270,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,64.0,2.0
2,728337,42760360211168,4276036021116,4276036021,116,8,627,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,48.0,5.0
3,728336,427603602110064,4276036021100,4276036021,100,64,158,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,82.0,1.0
4,728335,427603602110046,4276036021100,4276036021,100,46,388,강원도,평창군,진부면 하진부리,427603228025.0,진부중앙로,70.0,3.0

In [2]:
print(df.dtypes)

Unnamed: 0     int64
시군구법정동번지코드    object
시군구법정동번코드     object
시군구법정동코드       int64
본번             int64
부번             int64
사용량_KWH        int64
시도명           object
시군구명          object
법정동명          object
새주소대로로코드      object
새주소대로로명       object
새주소본번         object
새주소부번         object
dtype: object

In [3]:
#df_2 = df_2.astype({'시군구법정동번지코드' : 'float'})

In [4]:
print(df_2.dtypes)

시군구법정동번지코드     object
시군구법정동번코드      object
시군구법정동코드        int64
번              object
지              object
주소             object
분류             object
기업             object
이름             object
비고             object
임차여부           object
전력사용량         float64
dtype: object

In [5]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [6]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,690321,421103102210000,42110310221000,4211031022,1000,0,11463755,강원도,춘천시,동면 만천리,...,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
1,685803,4213011700204710,42130117002047,4213011700,2047,10,972827,강원도,원주시,반곡동,...,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,685803,4213011700204710,42130117002047,4213011700,2047,10,972827,강원도,원주시,반곡동,...,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,685778,421301170018946,42130117001894,4213011700,1894,6,9327,강원도,원주시,반곡동,...,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN

In [7]:
df_3.to_csv("강원도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')