In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라남도_계약종별_전력사용량_월별_15하반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라남도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2015년 07 월 ~ 2015년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라남도,전체(시 / 군 / 구),주택용,"707,386","178,253,249","19,767,930,554",110.9
4,201507,전라남도,전체(시 / 군 / 구),일반용,"138,911","260,416,328","41,796,791,710",160.5
...,...,...,...,...,...,...,...,...
1099,201512,전라남도,화순군,산업용,750,"13,453,419","1,729,781,991",128.6
1100,201512,전라남도,화순군,심 야,"1,885","2,846,913","208,523,371",73.2
1101,201512,전라남도,화순군,일반용,"4,204","11,627,039","1,586,137,547",136.4
1102,201512,전라남도,화순군,주택용,"24,292","6,368,166","745,294,938",117
1103,201512,전라남도,화순군,합계,"47,018","47,288,783","5,016,240,951",106.1

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라남도,전체(시 / 군 / 구),주택용,"707,386","178,253,249","19,767,930,554",110.9
4,201507,전라남도,전체(시 / 군 / 구),일반용,"138,911","260,416,328","41,796,791,710",160.5
5,201507,전라남도,전체(시 / 군 / 구),교육용,"1,313","20,085,469","2,870,773,093",142.9
6,201507,전라남도,전체(시 / 군 / 구),산업용,"19,073","1,755,552,068","193,584,590,179",110.3
...,...,...,...,...,...,...,...,...
1099,201512,전라남도,화순군,산업용,750,"13,453,419","1,729,781,991",128.6
1100,201512,전라남도,화순군,심 야,"1,885","2,846,913","208,523,371",73.2
1101,201512,전라남도,화순군,일반용,"4,204","11,627,039","1,586,137,547",136.4
1102,201512,전라남도,화순군,주택용,"24,292","6,368,166","745,294,938",117
1103,201512,전라남도,화순군,합계,"47,018","47,288,783","5,016,240,951",106.1

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라남도,전체(시 / 군 / 구),주택용,"707,386","178,253,249","19,767,930,554",110.9
4,201507,전라남도,전체(시 / 군 / 구),일반용,"138,911","260,416,328","41,796,791,710",160.5
5,201507,전라남도,전체(시 / 군 / 구),교육용,"1,313","20,085,469","2,870,773,093",142.9
6,201507,전라남도,전체(시 / 군 / 구),산업용,"19,073","1,755,552,068","193,584,590,179",110.3
7,201507,전라남도,전체(시 / 군 / 구),농사용,"246,463","201,860,528","9,555,474,219",47.3
...,...,...,...,...,...,...,...,...
1099,201512,전라남도,화순군,산업용,750,"13,453,419","1,729,781,991",128.6
1100,201512,전라남도,화순군,심 야,"1,885","2,846,913","208,523,371",73.2
1101,201512,전라남도,화순군,일반용,"4,204","11,627,039","1,586,137,547",136.4
1102,201512,전라남도,화순군,주택용,"24,292","6,368,166","745,294,938",117
1103,201512,전라남도,화순군,합계,"47,018","47,288,783","5,016,240,951",106.1

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201507,전라남도,전체(시 / 군 / 구),주택용,"707,386","178,253,249","19,767,930,554",110.9
4,201507,전라남도,전체(시 / 군 / 구),일반용,"138,911","260,416,328","41,796,791,710",160.5
5,201507,전라남도,전체(시 / 군 / 구),교육용,"1,313","20,085,469","2,870,773,093",142.9
6,201507,전라남도,전체(시 / 군 / 구),산업용,"19,073","1,755,552,068","193,584,590,179",110.3
7,201507,전라남도,전체(시 / 군 / 구),농사용,"246,463","201,860,528","9,555,474,219",47.3
8,201507,전라남도,전체(시 / 군 / 구),가로등,"137,522","15,836,903","1,980,614,438",125.1
9,201507,전라남도,전체(시 / 군 / 구),심 야,"49,687","21,979,938","1,242,897,835",56.5
10,201508,전라남도,전체(시 / 군 / 구),주택용,"707,843","213,513,981","26,781,371,875",125.4
11,201508,전라남도,전체(시 / 군 / 구),일반용,"139,331","318,552,337","46,201,268,401",145.0
12,201508,전라남도,전체(시 / 군 / 구),교육용,"1,316","20,111,700","2,892,136,573",143.8
13,201508,전라남도,전체(시 / 군 / 구),산업용,"19,125","1,902,131,408","200,399,613,821",105.4
14,201508,전라남도,전체(시 / 군 / 구),농사용,"247,995","257,739,367","11,830,580,462",45.9
15,201508,전라남도,전체(시 / 군 / 구),가로등,"137,989","17,032,493","2,034,272,271",119.4
16,201508,전라남도,전체(시 / 군 / 구),심 야,"49,600","18,213,367","1,051,194,572",57.7
17,201509,전라남도,전체(시 / 군 / 구),주택용,"709,251","191,380,433","21,202,727,727",110.8
18,201509,전라남도,전체(시 / 군 / 구),일반용,"139,654","283,373,643","36,382,102,392",128.4
19,201509,전라남도,전체(시 / 군 / 구),교육용,"1,318","22,122,080","2,688,782,436",121.5
20,201509,전라남도,전체(시 / 군 / 구),산업용,"19,154","1,980,505,977","169,790,103,521",85.7
21,201509,전라남도,전체(시 / 군 / 구),농사용,"249,089","249,346,016","11,482,301,146",46.0
22,201509,전라남도,전체(시 / 군 / 구),가로등,"138,384","17,862,240","2,066,603,634",115.7
23,201509,전라남도,전체(시 / 군 / 구),심 야,"49,519","17,742,596","1,016,121,908",57.3
24,201510,전라남도,전체(시 / 군 / 구),주택용,"710,250","176,201,792","19,425,242,178",110.2
25,201510,전라남도,전체(시 / 군 / 구),일반용,"139,893","240,662,217","28,848,337,710",119.9
26,201510,전라남도,전체(시 / 군 / 구),교육용,"1,318","18,199,751","2,083,350,815",114.5
27,201510,전라남도,전체(시 / 군 / 구),산업용,"19,192","1,792,561,270","172,812,563,842",96.4
28,201510,전라남도,전체(시 / 군 / 구),농사용,"249,829","217,451,599","10,233,374,308",47.1
29,201510,전라남도,전체(시 / 군 / 구),가로등,"138,638","19,165,191","2,092,370,806",109.2
30,201510,전라남도,전체(시 / 군 / 구),심 야,"49,425","25,876,099","1,438,539,726",55.6
31,201511,전라남도,전체(시 / 군 / 구),주택용,"711,219","188,177,309","22,238,515,693",118.2
32,201511,전라남도,전체(시 / 군 / 구),일반용,"140,249","251,075,573","32,755,393,418",130.5
33,201511,전라남도,전체(시 / 군 / 구),교육용,"1,320","20,814,964","2,479,625,528",119.1
34,201511,전라남도,전체(시 / 군 / 구),산업용,"19,198","1,837,083,230","199,284,629,388",108.5
35,201511,전라남도,전체(시 / 군 / 구),농사용,"365,666","304,901,465","13,291,333,307",43.6
36,201511,전라남도,전체(시 / 군 / 구),가로등,"138,954","20,155,288","2,150,912,979",106.7
37,201511,전라남도,전체(시 / 군 / 구),심 야,"49,375","46,584,797","2,954,080,115",63.4
38,201512,전라남도,전체(시 / 군 / 구),주택용,"711,965","196,586,984","24,097,578,879",122.6
39,201512,전라남도,전체(시 / 군 / 구),일반용,"140,810","280,035,113","39,346,612,165",140.5
40,201512,전라남도,전체(시 / 군 / 구),교육용,"1,323","27,739,893","3,253,370,947",117.3
41,201512,전라남도,전체(시 / 군 / 구),산업용,"19,212","1,947,093,951","210,376,522,456",108.0
42,201512,전라남도,전체(시 / 군 / 구),농사용,"273,740","254,847,570","12,010,618,740",47.1
43,201512,전라남도,전체(시 / 군 / 구),가로등,"139,152","20,430,549","2,117,750,984",103.7
44,201512,전라남도,전체(시 / 군 / 구),심 야,"49,280","76,378,364","5,739,554,932",75.1
45,합계,합계,합계,합계,"7,979,931","15,925,635,090","1,615,648,531,683",101.4

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_10952\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201507  전라남도  일반용  138,911   260,416,328
11  201508  전라남도  일반용  139,331   318,552,337
18  201509  전라남도  일반용  139,654   283,373,643
25  201510  전라남도  일반용  139,893   240,662,217
32  201511  전라남도  일반용  140,249   251,075,573
39  201512  전라남도  일반용  140,810   280,035,113

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201507  전라남도  강진군  일반용  2,906    4,214,658
229   201508  전라남도  강진군  일반용  2,917    5,132,053
405   201509  전라남도  강진군  일반용  2,926    4,597,068
581   201510  전라남도  강진군  일반용  2,914    3,948,591
757   201511  전라남도  강진군  일반용  2,937    4,318,131
...      ...   ...  ...  ...     ...          ...
397   201508  전라남도  화순군  일반용  4,140   13,072,198
573   201509  전라남도  화순군  일반용  4,145   11,378,293
749   201510  전라남도  화순군  일반용  4,153    9,866,950
925   201511  전라남도  화순군  일반용  4,165   10,373,768
1101  201512  전라남도  화순군  일반용  4,204   11,627,039

[132 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라남도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['강진군',
 '고흥군',
 '곡성군',
 '광양시',
 '구례군',
 '나주시',
 '담양군',
 '목포시',
 '무안군',
 '보성군',
 '순천시',
 '신안군',
 '여수시',
 '영광군',
 '영암군',
 '완도군',
 '장성군',
 '장흥군',
 '진도군',
 '함평군',
 '해남군',
 '화순군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

          년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55    201507  전라남도  강진군   합계  37,138   20,135,969
231   201508  전라남도  강진군   합계  37,198   24,158,226
407   201509  전라남도  강진군   합계  37,244   22,542,003
583   201510  전라남도  강진군   합계  37,296   20,391,101
759   201511  전라남도  강진군   합계  45,836   27,629,412
...      ...   ...  ...  ...      ...          ...
399   201508  전라남도  화순군   합계  46,656   41,955,176
575   201509  전라남도  화순군   합계  46,799   40,013,030
751   201510  전라남도  화순군   합계  46,875   37,402,181
927   201511  전라남도  화순군   합계  48,679   42,407,420
1103  201512  전라남도  화순군   합계  47,018   47,288,783

[132 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[20135969, 24158226, 22542003, 20391101, 27629412, 26337047]
[26884652, 33424085, 31609059, 27949142, 36117599, 35598470]
[34772500, 29493352, 25673983, 32700539, 35522456, 37536893]
[442812424, 523926737, 562854630, 335744875, 485439815, 553102712]
[11673275, 14114085, 12512129, 11694449, 13655611, 15230899]
[84557395, 91062765, 90450660, 80018713, 88037858, 91286327]
[34010983, 37130614, 36862665, 34648382, 39320747, 42642520]
[72862396, 87155405, 80617943, 69504558, 72870827, 79873136]
[42327598, 49057763, 44897674, 40156939, 50810879, 46911337]
[19253373, 23448401, 22461549, 20028023, 23987670, 26263153]
[144081276, 160635421, 142399875, 139000582, 148925448, 160544525]
[17667948, 21584082, 22048520, 19767772, 23210635, 21558307]
[1072826343, 1204094767, 1223240275, 1238477532, 1138247553, 1171788780]
[53084418, 44421762, 47589682, 45887109, 58772280, 59495488]
[122426686, 115704526, 115556521, 111632523, 114801659, 123177863]
[68371908, 78090058, 78081226, 74997256, 80113816, 68967241]
[44578857, 46713601, 48003955, 45635091, 49009692, 51588914]
[20789297, 24252403, 23584687, 21460999, 28246764, 26430733]
[19528333, 22498841, 21961227, 20972945, 25147635, 24124834]
[23941571, 26966715, 25895692, 22729356, 30180285, 29554474]
[39831766, 47405868, 43476000, 39317852, 56336565, 63809988]
[37565515, 41955176, 40013030, 37402181, 42407420, 47288783]
전라남도 지역별 합계 :  [141193758, 191583007, 195699723, 2903881193, 78880448, 525413718, 224615911, 462884265, 274162190, 135442169, 895587127, 125837264, 7048675250, 309250739, 703299778, 448621505, 285530110, 144764883, 134233815, 159268093, 290178039, 246632105]
전라남도 고객호수 평균:  [6445, 13045, 5071, 12469, 4876, 12239, 7271, 15746, 10426, 8388, 22583, 8096, 24945, 7877, 8973, 7738, 6164, 6332, 6005, 6054, 13063, 7848]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1527473725.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0           201507  전라남도  강진군   합계  37,138   20,135,969
1           201508  전라남도  강진군   합계  37,198   24,158,226
2           201509  전라남도  강진군   합계  37,244   22,542,003
3           201510  전라남도  강진군   합계  37,296   20,391,101
4           201511  전라남도  강진군   합계  45,836   27,629,412
..             ...   ...  ...  ...      ...          ...
149  201507-201512  전라남도  장흥군   합계     6332    144764883
150  201507-201512  전라남도  진도군   합계     6005    134233815
151  201507-201512  전라남도  함평군   합계     6054    159268093
152  201507-201512  전라남도  해남군   합계    13063    290178039
153  201507-201512  전라남도  화순군   합계     7848    246632105

[154 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201507-201512']
Hap

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201507-201512  전라남도  강진군   합계    6445   141193758
133  201507-201512  전라남도  고흥군   합계   13045   191583007
134  201507-201512  전라남도  곡성군   합계    5071   195699723
135  201507-201512  전라남도  광양시   합계   12469  2903881193
136  201507-201512  전라남도  구례군   합계    4876    78880448
137  201507-201512  전라남도  나주시   합계   12239   525413718
138  201507-201512  전라남도  담양군   합계    7271   224615911
139  201507-201512  전라남도  목포시   합계   15746   462884265
140  201507-201512  전라남도  무안군   합계   10426   274162190
141  201507-201512  전라남도  보성군   합계    8388   135442169
142  201507-201512  전라남도  순천시   합계   22583   895587127
143  201507-201512  전라남도  신안군   합계    8096   125837264
144  201507-201512  전라남도  여수시   합계   24945  7048675250
145  201507-201512  전라남도  영광군   합계    7877   309250739
146  201507-201512  전라남도  영암군   합계    8973   703299778
147  201507-201512  전라남도  완도군   합계    7738   448621505
148  201507-201512  전라남도  장성군   합계    6164   285530110
149  201507-201512  전라남도  장흥군   합계    6332   144764883
150  201507-201512  전라남도  진도군   합계    6005   134233815
151  201507-201512  전라남도  함평군   합계    6054   159268093
152  201507-201512  전라남도  해남군   합계   13063   290178039
153  201507-201512  전라남도  화순군   합계    7848   246632105

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

          년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53    201507  전라남도  강진군  일반용  2,906    4,214,658
229   201508  전라남도  강진군  일반용  2,917    5,132,053
405   201509  전라남도  강진군  일반용  2,926    4,597,068
581   201510  전라남도  강진군  일반용  2,914    3,948,591
757   201511  전라남도  강진군  일반용  2,937    4,318,131
...      ...   ...  ...  ...     ...          ...
397   201508  전라남도  화순군  일반용  4,140   13,072,198
573   201509  전라남도  화순군  일반용  4,145   11,378,293
749   201510  전라남도  화순군  일반용  4,153    9,866,950
925   201511  전라남도  화순군  일반용  4,165   10,373,768
1101  201512  전라남도  화순군  일반용  4,204   11,627,039

[132 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[4214658, 5132053, 4597068, 3948591, 4318131, 4974422]
[6885074, 8543134, 7653234, 6749297, 7085836, 7886998]
[3157310, 3906125, 3500334, 3052454, 3278573, 3656384]
[18840490, 23205710, 20317587, 17121617, 17793831, 19921963]
[4031546, 5140677, 4321192, 3848380, 4203650, 5272461]
[18154036, 20791298, 18311599, 15740104, 16774597, 18710100]
[6943212, 8608100, 7602676, 6665832, 7176321, 7886768]
[37234944, 45796954, 42039909, 34413632, 34503636, 38246641]
[10476806, 12696681, 11274647, 9498707, 10245407, 11718495]
[4949741, 6306460, 5693720, 4948921, 5270004, 5955009]
[39680268, 48607543, 42330702, 35671710, 36571346, 40455014]
[3986353, 4796758, 4563374, 3952151, 4419030, 4901563]
[41295062, 51710007, 45713986, 38009147, 38797711, 42759715]
[7023275, 8472001, 7914212, 6869471, 7195762, 8079957]
[8097313, 9769064, 8986319, 7647057, 7853358, 8903740]
[6493832, 8292439, 7660184, 6640769, 6790989, 7409501]
[6722082, 7819374, 6641504, 5904027, 6625646, 7661555]
[4722948, 6057332, 5244850, 4833419, 5076378, 5602144]
[3156008, 3972014, 3547881, 3062733, 3255447, 3614897]
[3636266, 4426353, 4005096, 3455661, 3709412, 4082268]
[9527604, 11430062, 10075276, 8761587, 9756740, 10708479]
[11187500, 13072198, 11378293, 9866950, 10373768, 11627039]
전라남도 지역별 일반용 합계 :  [27184923, 44803573, 20551180, 117201198, 26817906, 108481734, 44882909, 232235716, 65910743, 33123855, 243316583, 26619229, 258285628, 45554678, 51256851, 43287714, 41374188, 31537071, 20608980, 23315056, 60259748, 67505748]
전라남도 고객호수 평균:  [2927, 5417, 2114, 10434, 2466, 6597, 3665, 18687, 5287, 3549, 18813, 3229, 21309, 4529, 4141, 5137, 3186, 3212, 2773, 2282, 5892, 4156]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_10952\1277283340.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201507-201512'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0           201507  전라남도  강진군  일반용  2,906   4,214,658
1           201508  전라남도  강진군  일반용  2,917   5,132,053
2           201509  전라남도  강진군  일반용  2,926   4,597,068
3           201510  전라남도  강진군  일반용  2,914   3,948,591
4           201511  전라남도  강진군  일반용  2,937   4,318,131
..             ...   ...  ...  ...     ...         ...
149  201507-201512  전라남도  장흥군  일반용    3212    31537071
150  201507-201512  전라남도  진도군  일반용    2773    20608980
151  201507-201512  전라남도  함평군  일반용    2282    23315056
152  201507-201512  전라남도  해남군  일반용    5892    60259748
153  201507-201512  전라남도  화순군  일반용    4156    67505748

[154 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201507-201512']
GyeonGiHap2

                년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
132  201507-201512  전라남도  강진군  일반용    2927   27184923
133  201507-201512  전라남도  고흥군  일반용    5417   44803573
134  201507-201512  전라남도  곡성군  일반용    2114   20551180
135  201507-201512  전라남도  광양시  일반용   10434  117201198
136  201507-201512  전라남도  구례군  일반용    2466   26817906
137  201507-201512  전라남도  나주시  일반용    6597  108481734
138  201507-201512  전라남도  담양군  일반용    3665   44882909
139  201507-201512  전라남도  목포시  일반용   18687  232235716
140  201507-201512  전라남도  무안군  일반용    5287   65910743
141  201507-201512  전라남도  보성군  일반용    3549   33123855
142  201507-201512  전라남도  순천시  일반용   18813  243316583
143  201507-201512  전라남도  신안군  일반용    3229   26619229
144  201507-201512  전라남도  여수시  일반용   21309  258285628
145  201507-201512  전라남도  영광군  일반용    4529   45554678
146  201507-201512  전라남도  영암군  일반용    4141   51256851
147  201507-201512  전라남도  완도군  일반용    5137   43287714
148  201507-201512  전라남도  장성군  일반용    3186   41374188
149  201507-201512  전라남도  장흥군  일반용    3212   31537071
150  201507-201512  전라남도  진도군  일반용    2773   20608980
151  201507-201512  전라남도  함평군  일반용    2282   23315056
152  201507-201512  전라남도  해남군  일반용    5892   60259748
153  201507-201512  전라남도  화순군  일반용    4156   67505748

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

                년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
132  201507-201512  전라남도  강진군  일반용    2927    27184923
132  201507-201512  전라남도  강진군   합계    6445   141193758
133  201507-201512  전라남도  고흥군  일반용    5417    44803573
133  201507-201512  전라남도  고흥군   합계   13045   191583007
134  201507-201512  전라남도  곡성군  일반용    2114    20551180
134  201507-201512  전라남도  곡성군   합계    5071   195699723
135  201507-201512  전라남도  광양시  일반용   10434   117201198
135  201507-201512  전라남도  광양시   합계   12469  2903881193
136  201507-201512  전라남도  구례군  일반용    2466    26817906
136  201507-201512  전라남도  구례군   합계    4876    78880448
137  201507-201512  전라남도  나주시  일반용    6597   108481734
137  201507-201512  전라남도  나주시   합계   12239   525413718
138  201507-201512  전라남도  담양군  일반용    3665    44882909
138  201507-201512  전라남도  담양군   합계    7271   224615911
139  201507-201512  전라남도  목포시   합계   15746   462884265
139  201507-201512  전라남도  목포시  일반용   18687   232235716
140  201507-201512  전라남도  무안군   합계   10426   274162190
140  201507-201512  전라남도  무안군  일반용    5287    65910743
141  201507-201512  전라남도  보성군   합계    8388   135442169
141  201507-201512  전라남도  보성군  일반용    3549    33123855
142  201507-201512  전라남도  순천시   합계   22583   895587127
142  201507-201512  전라남도  순천시  일반용   18813   243316583
143  201507-201512  전라남도  신안군   합계    8096   125837264
143  201507-201512  전라남도  신안군  일반용    3229    26619229
144  201507-201512  전라남도  여수시   합계   24945  7048675250
144  201507-201512  전라남도  여수시  일반용   21309   258285628
145  201507-201512  전라남도  영광군   합계    7877   309250739
145  201507-201512  전라남도  영광군  일반용    4529    45554678
146  201507-201512  전라남도  영암군   합계    8973   703299778
146  201507-201512  전라남도  영암군  일반용    4141    51256851
147  201507-201512  전라남도  완도군   합계    7738   448621505
147  201507-201512  전라남도  완도군  일반용    5137    43287714
148  201507-201512  전라남도  장성군  일반용    3186    41374188
148  201507-201512  전라남도  장성군   합계    6164   285530110
149  201507-201512  전라남도  장흥군   합계    6332   144764883
149  201507-201512  전라남도  장흥군  일반용    3212    31537071
150  201507-201512  전라남도  진도군   합계    6005   134233815
150  201507-201512  전라남도  진도군  일반용    2773    20608980
151  201507-201512  전라남도  함평군   합계    6054   159268093
151  201507-201512  전라남도  함평군  일반용    2282    23315056
152  201507-201512  전라남도  해남군   합계   13063   290178039
152  201507-201512  전라남도  해남군  일반용    5892    60259748
153  201507-201512  전라남도  화순군  일반용    4156    67505748
153  201507-201512  전라남도  화순군   합계    7848   246632105

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[27184923,
 44803573,
 20551180,
 117201198,
 26817906,
 108481734,
 44882909,
 232235716,
 65910743,
 33123855,
 243316583,
 26619229,
 258285628,
 45554678,
 51256851,
 43287714,
 41374188,
 31537071,
 20608980,
 23315056,
 60259748,
 67505748]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[141193758,
 191583007,
 195699723,
 2903881193,
 78880448,
 525413718,
 224615911,
 462884265,
 274162190,
 135442169,
 895587127,
 125837264,
 7048675250,
 309250739,
 703299778,
 448621505,
 285530110,
 144764883,
 134233815,
 159268093,
 290178039,
 246632105]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[19.25, 23.39, 10.5, 4.04, 34.0, 20.65, 19.98, 50.17, 24.04, 24.46, 27.17, 21.15, 3.66, 14.73, 7.29, 9.65, 14.49, 21.79, 15.35, 14.64, 20.77, 27.37]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    19
1    23
2    10
3     4
4    34
5    21
6    20
7    50
8    24
9    24
10   27
11   21
12    4
13   15
14    7
15   10
16   14
17   22
18   15
19   15
20   21
21   27
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   강진군  일반용  19
1   고흥군  일반용  23
2   곡성군  일반용  10
3   광양시  일반용   4
4   구례군  일반용  34
5   나주시  일반용  21
6   담양군  일반용  20
7   목포시  일반용  50
8   무안군  일반용  24
9   보성군  일반용  24
10  순천시  일반용  27
11  신안군  일반용  21
12  여수시  일반용   4
13  영광군  일반용  15
14  영암군  일반용   7
15  완도군  일반용  10
16  장성군  일반용  14
17  장흥군  일반용  22
18  진도군  일반용  15
19  함평군  일반용  15
20  해남군  일반용  21
21  화순군  일반용  27

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201507-201512  전라남도  강진군  일반용    2927    27184923  19
1   201507-201512  전라남도  강진군   합계    6445   141193758 NaN
2   201507-201512  전라남도  고흥군  일반용    5417    44803573  23
3   201507-201512  전라남도  고흥군   합계   13045   191583007 NaN
4   201507-201512  전라남도  곡성군  일반용    2114    20551180  10
5   201507-201512  전라남도  곡성군   합계    5071   195699723 NaN
6   201507-201512  전라남도  광양시  일반용   10434   117201198   4
7   201507-201512  전라남도  광양시   합계   12469  2903881193 NaN
8   201507-201512  전라남도  구례군  일반용    2466    26817906  34
9   201507-201512  전라남도  구례군   합계    4876    78880448 NaN
10  201507-201512  전라남도  나주시  일반용    6597   108481734  21
11  201507-201512  전라남도  나주시   합계   12239   525413718 NaN
12  201507-201512  전라남도  담양군  일반용    3665    44882909  20
13  201507-201512  전라남도  담양군   합계    7271   224615911 NaN
15  201507-201512  전라남도  목포시  일반용   18687   232235716  50
14  201507-201512  전라남도  목포시   합계   15746   462884265 NaN
17  201507-201512  전라남도  무안군  일반용    5287    65910743  24
16  201507-201512  전라남도  무안군   합계   10426   274162190 NaN
19  201507-201512  전라남도  보성군  일반용    3549    33123855  24
18  201507-201512  전라남도  보성군   합계    8388   135442169 NaN
21  201507-201512  전라남도  순천시  일반용   18813   243316583  27
20  201507-201512  전라남도  순천시   합계   22583   895587127 NaN
23  201507-201512  전라남도  신안군  일반용    3229    26619229  21
22  201507-201512  전라남도  신안군   합계    8096   125837264 NaN
25  201507-201512  전라남도  여수시  일반용   21309   258285628   4
24  201507-201512  전라남도  여수시   합계   24945  7048675250 NaN
27  201507-201512  전라남도  영광군  일반용    4529    45554678  15
26  201507-201512  전라남도  영광군   합계    7877   309250739 NaN
29  201507-201512  전라남도  영암군  일반용    4141    51256851   7
28  201507-201512  전라남도  영암군   합계    8973   703299778 NaN
31  201507-201512  전라남도  완도군  일반용    5137    43287714  10
30  201507-201512  전라남도  완도군   합계    7738   448621505 NaN
32  201507-201512  전라남도  장성군  일반용    3186    41374188  14
33  201507-201512  전라남도  장성군   합계    6164   285530110 NaN
35  201507-201512  전라남도  장흥군  일반용    3212    31537071  22
34  201507-201512  전라남도  장흥군   합계    6332   144764883 NaN
37  201507-201512  전라남도  진도군  일반용    2773    20608980  15
36  201507-201512  전라남도  진도군   합계    6005   134233815 NaN
39  201507-201512  전라남도  함평군  일반용    2282    23315056  15
38  201507-201512  전라남도  함평군   합계    6054   159268093 NaN
41  201507-201512  전라남도  해남군  일반용    5892    60259748  21
40  201507-201512  전라남도  해남군   합계   13063   290178039 NaN
42  201507-201512  전라남도  화순군  일반용    4156    67505748  27
43  201507-201512  전라남도  화순군   합계    7848   246632105 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1507-12.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)