In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라북도_계약종별 전력사용량 월별_14하반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2014년 07 월 ~ 2014년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201407,전라북도,전체(시 / 군 / 구),주택용,"607,393","181,396,893","20,755,918,991",114.4
4,201407,전라북도,전체(시 / 군 / 구),일반용,"129,415","265,882,273","40,487,915,775",152.3
...,...,...,...,...,...,...,...,...
715,201412,전라북도,진안군,산업용,621,"2,747,719","378,307,855",137.7
716,201412,전라북도,진안군,심 야,"2,049","3,976,032","298,679,868",75.1
717,201412,전라북도,진안군,일반용,"1,967","3,547,286","495,532,151",139.7
718,201412,전라북도,진안군,주택용,"12,828","2,399,531","302,116,536",125.9
719,201412,전라북도,진안군,합계,"26,908","16,849,288","1,750,814,035",103.9

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201407,전라북도,전체(시 / 군 / 구),주택용,"607,393","181,396,893","20,755,918,991",114.4
4,201407,전라북도,전체(시 / 군 / 구),일반용,"129,415","265,882,273","40,487,915,775",152.3
5,201407,전라북도,전체(시 / 군 / 구),교육용,"1,162","24,623,776","3,372,820,799",137.0
6,201407,전라북도,전체(시 / 군 / 구),산업용,"13,336","1,231,220,605","142,477,978,018",115.7
...,...,...,...,...,...,...,...,...
715,201412,전라북도,진안군,산업용,621,"2,747,719","378,307,855",137.7
716,201412,전라북도,진안군,심 야,"2,049","3,976,032","298,679,868",75.1
717,201412,전라북도,진안군,일반용,"1,967","3,547,286","495,532,151",139.7
718,201412,전라북도,진안군,주택용,"12,828","2,399,531","302,116,536",125.9
719,201412,전라북도,진안군,합계,"26,908","16,849,288","1,750,814,035",103.9

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201407,전라북도,전체(시 / 군 / 구),주택용,"607,393","181,396,893","20,755,918,991",114.4
4,201407,전라북도,전체(시 / 군 / 구),일반용,"129,415","265,882,273","40,487,915,775",152.3
5,201407,전라북도,전체(시 / 군 / 구),교육용,"1,162","24,623,776","3,372,820,799",137.0
6,201407,전라북도,전체(시 / 군 / 구),산업용,"13,336","1,231,220,605","142,477,978,018",115.7
7,201407,전라북도,전체(시 / 군 / 구),농사용,"123,297","90,513,826","4,335,580,971",47.9
...,...,...,...,...,...,...,...,...
715,201412,전라북도,진안군,산업용,621,"2,747,719","378,307,855",137.7
716,201412,전라북도,진안군,심 야,"2,049","3,976,032","298,679,868",75.1
717,201412,전라북도,진안군,일반용,"1,967","3,547,286","495,532,151",139.7
718,201412,전라북도,진안군,주택용,"12,828","2,399,531","302,116,536",125.9
719,201412,전라북도,진안군,합계,"26,908","16,849,288","1,750,814,035",103.9

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201407,전라북도,전체(시 / 군 / 구),주택용,"607,393","181,396,893","20,755,918,991",114.4
4,201407,전라북도,전체(시 / 군 / 구),일반용,"129,415","265,882,273","40,487,915,775",152.3
5,201407,전라북도,전체(시 / 군 / 구),교육용,"1,162","24,623,776","3,372,820,799",137.0
6,201407,전라북도,전체(시 / 군 / 구),산업용,"13,336","1,231,220,605","142,477,978,018",115.7
7,201407,전라북도,전체(시 / 군 / 구),농사용,"123,297","90,513,826","4,335,580,971",47.9
8,201407,전라북도,전체(시 / 군 / 구),가로등,"117,418","12,433,422","1,547,122,598",124.4
9,201407,전라북도,전체(시 / 군 / 구),심 야,"70,144","24,082,926","1,392,800,406",57.8
10,201408,전라북도,전체(시 / 군 / 구),주택용,"608,591","202,923,948","25,607,101,435",126.2
11,201408,전라북도,전체(시 / 군 / 구),일반용,"129,508","295,551,824","43,490,533,989",147.2
12,201408,전라북도,전체(시 / 군 / 구),교육용,"1,165","23,317,982","3,244,846,964",139.2
13,201408,전라북도,전체(시 / 군 / 구),산업용,"13,393","1,101,001,270","126,047,599,316",114.5
14,201408,전라북도,전체(시 / 군 / 구),농사용,"124,678","109,641,783","5,249,799,531",47.9
15,201408,전라북도,전체(시 / 군 / 구),가로등,"117,862","13,252,248","1,574,787,372",118.8
16,201408,전라북도,전체(시 / 군 / 구),심 야,"69,974","22,033,901","1,284,636,378",58.3
17,201409,전라북도,전체(시 / 군 / 구),주택용,"608,836","190,267,870","22,789,253,196",119.8
18,201409,전라북도,전체(시 / 군 / 구),일반용,"129,725","264,072,559","35,496,381,827",134.4
19,201409,전라북도,전체(시 / 군 / 구),교육용,"1,165","21,953,615","2,697,962,879",122.9
20,201409,전라북도,전체(시 / 군 / 구),산업용,"13,421","1,114,464,585","103,328,949,637",92.7
21,201409,전라북도,전체(시 / 군 / 구),농사용,"125,784","107,235,189","5,135,224,051",47.9
22,201409,전라북도,전체(시 / 군 / 구),가로등,"118,182","14,151,880","1,611,543,127",113.9
23,201409,전라북도,전체(시 / 군 / 구),심 야,"69,897","24,409,221","1,384,938,487",56.7
24,201410,전라북도,전체(시 / 군 / 구),주택용,"608,402","177,183,564","19,752,573,542",111.5
25,201410,전라북도,전체(시 / 군 / 구),일반용,"129,823","234,530,011","28,375,152,155",121.0
26,201410,전라북도,전체(시 / 군 / 구),교육용,"1,164","21,360,244","2,337,395,995",109.4
27,201410,전라북도,전체(시 / 군 / 구),산업용,"13,463","1,182,416,539","106,705,922,129",90.2
28,201410,전라북도,전체(시 / 군 / 구),농사용,"125,492","86,953,197","4,359,465,276",50.1
29,201410,전라북도,전체(시 / 군 / 구),가로등,"118,421","15,432,930","1,644,198,929",106.5
30,201410,전라북도,전체(시 / 군 / 구),심 야,"69,857","34,020,734","1,880,630,145",55.3
31,201411,전라북도,전체(시 / 군 / 구),주택용,"608,824","192,105,585","22,918,707,927",119.3
32,201411,전라북도,전체(시 / 군 / 구),일반용,"130,482","248,815,707","32,634,314,990",131.2
33,201411,전라북도,전체(시 / 군 / 구),교육용,"1,168","25,631,410","2,917,200,982",113.8
34,201411,전라북도,전체(시 / 군 / 구),산업용,"13,487","1,144,153,208","128,824,263,557",112.6
35,201411,전라북도,전체(시 / 군 / 구),농사용,"197,325","130,761,281","5,637,397,141",43.1
36,201411,전라북도,전체(시 / 군 / 구),가로등,"118,710","16,530,594","1,715,670,568",103.8
37,201411,전라북도,전체(시 / 군 / 구),심 야,"69,820","78,122,672","4,950,562,295",63.4
38,201412,전라북도,전체(시 / 군 / 구),주택용,"609,308","201,078,082","24,906,839,147",123.9
39,201412,전라북도,전체(시 / 군 / 구),일반용,"131,088","298,409,356","41,124,453,591",137.8
40,201412,전라북도,전체(시 / 군 / 구),교육용,"1,173","38,974,708","4,274,524,823",109.7
41,201412,전라북도,전체(시 / 군 / 구),산업용,"13,522","1,182,120,645","134,862,127,876",114.1
42,201412,전라북도,전체(시 / 군 / 구),농사용,"165,323","129,433,016","5,835,728,894",45.1
43,201412,전라북도,전체(시 / 군 / 구),가로등,"118,857","17,157,527","1,722,552,212",100.4
44,201412,전라북도,전체(시 / 군 / 구),심 야,"69,806","131,935,337","9,844,136,160",74.6
45,합계,합계,합계,합계,"6,509,861","10,921,557,943","1,180,537,514,081",108.1

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_17124\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201407  전라북도  일반용  129,415   265,882,273
11  201408  전라북도  일반용  129,508   295,551,824
18  201409  전라북도  일반용  129,725   264,072,559
25  201410  전라북도  일반용  129,823   234,530,011
32  201411  전라북도  일반용  130,482   248,815,707
39  201412  전라북도  일반용  131,088   298,409,356

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201407  전라북도  고창군  일반용  4,294   7,180,086
165  201408  전라북도  고창군  일반용  4,287   8,031,569
277  201409  전라북도  고창군  일반용  4,291   7,257,418
389  201410  전라북도  고창군  일반용  4,291   6,555,812
501  201411  전라북도  고창군  일반용  4,309   7,237,506
..      ...   ...  ...  ...     ...         ...
269  201408  전라북도  진안군  일반용  1,941   3,029,824
381  201409  전라북도  진안군  일반용  1,946   2,802,974
493  201410  전라북도  진안군  일반용  1,944   2,692,122
605  201411  전라북도  진안군  일반용  1,954   3,089,769
717  201412  전라북도  진안군  일반용  1,967   3,547,286

[84 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   201407  전라북도  고창군   합계  51,872   35,988,834
167  201408  전라북도  고창군   합계  52,003   37,830,017
279  201409  전라북도  고창군   합계  52,121   36,570,030
391  201410  전라북도  고창군   합계  52,149   35,124,338
503  201411  전라북도  고창군   합계  57,053   44,607,933
..      ...   ...  ...  ...      ...          ...
271  201408  전라북도  진안군   합계  26,894   13,138,369
383  201409  전라북도  진안군   합계  26,954   13,889,903
495  201410  전라북도  진안군   합계  26,850   12,690,149
607  201411  전라북도  진안군   합계  29,199   15,405,278
719  201412  전라북도  진안군   합계  26,908   16,849,288

[84 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[35988834, 37830017, 36570030, 35124338, 44607933, 59953422]
[729681249, 642365894, 705497481, 733493285, 712607319, 745411039]
[62794850, 66197260, 62802796, 61866129, 74673156, 83354400]
[39114346, 43330536, 41493866, 39349587, 44885759, 54603037]
[12584429, 13602136, 13159811, 12850827, 15834113, 22312576]
[33135754, 36926817, 33852891, 30954846, 38782433, 40959909]
[17615199, 18760889, 18265130, 17430050, 21662191, 20847245]
[128909693, 123548855, 114693063, 118524719, 129055977, 145222524]
[272778729, 265060245, 230909906, 232441306, 250526401, 271666324]
[19584019, 21464244, 21761186, 20936727, 23299565, 28022309]
[11332560, 11836076, 12161347, 12914096, 16802691, 20411141]
[349362719, 364726423, 327647765, 319305476, 335276652, 372083354]
[105498759, 108935195, 103849744, 104015684, 112700989, 117412103]
[11772581, 13138369, 13889903, 12690149, 15405278, 16849288]
전라북도 지역별 합계 :  [250074574, 4269056267, 411688591, 262777131, 90343892, 214612650, 114580704, 759954831, 1523382911, 135068050, 85457911, 2068402389, 652412474, 83745568]
전라북도 고객호수 평균:  [9308, 21959, 11819, 12064, 4212, 8380, 4922, 9997, 26963, 5150, 3997, 42317, 15194, 4540]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\527191269.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          201407  전라북도  고창군   합계  51,872   35,988,834
1          201408  전라북도  고창군   합계  52,003   37,830,017
2          201409  전라북도  고창군   합계  52,121   36,570,030
3          201410  전라북도  고창군   합계  52,149   35,124,338
4          201411  전라북도  고창군   합계  57,053   44,607,933
..            ...   ...  ...  ...      ...          ...
93  201407-201412  전라북도  임실군   합계     5150    135068050
94  201407-201412  전라북도  장수군   합계     3997     85457911
95  201407-201412  전라북도  전주시   합계    42317   2068402389
96  201407-201412  전라북도  정읍시   합계    15194    652412474
97  201407-201412  전라북도  진안군   합계     4540     83745568

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201407-201412']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201407-201412  전라북도  고창군   합계    9308   250074574
85  201407-201412  전라북도  군산시   합계   21959  4269056267
86  201407-201412  전라북도  김제시   합계   11819   411688591
87  201407-201412  전라북도  남원시   합계   12064   262777131
88  201407-201412  전라북도  무주군   합계    4212    90343892
89  201407-201412  전라북도  부안군   합계    8380   214612650
90  201407-201412  전라북도  순창군   합계    4922   114580704
91  201407-201412  전라북도  완주군   합계    9997   759954831
92  201407-201412  전라북도  익산시   합계   26963  1523382911
93  201407-201412  전라북도  임실군   합계    5150   135068050
94  201407-201412  전라북도  장수군   합계    3997    85457911
95  201407-201412  전라북도  전주시   합계   42317  2068402389
96  201407-201412  전라북도  정읍시   합계   15194   652412474
97  201407-201412  전라북도  진안군   합계    4540    83745568

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201407  전라북도  고창군  일반용  4,294   7,180,086
165  201408  전라북도  고창군  일반용  4,287   8,031,569
277  201409  전라북도  고창군  일반용  4,291   7,257,418
389  201410  전라북도  고창군  일반용  4,291   6,555,812
501  201411  전라북도  고창군  일반용  4,309   7,237,506
..      ...   ...  ...  ...     ...         ...
269  201408  전라북도  진안군  일반용  1,941   3,029,824
381  201409  전라북도  진안군  일반용  1,946   2,802,974
493  201410  전라북도  진안군  일반용  1,944   2,692,122
605  201411  전라북도  진안군  일반용  1,954   3,089,769
717  201412  전라북도  진안군  일반용  1,967   3,547,286

[84 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[7180086, 8031569, 7257418, 6555812, 7237506, 8286243]
[45903232, 50563565, 45674224, 40252289, 42058972, 50221502]
[10905743, 12162782, 11055715, 10049919, 10781444, 12657250]
[11332767, 12804688, 11597339, 10536054, 11655354, 13468213]
[5452065, 6097314, 5202485, 5032497, 6115484, 11326977]
[9402835, 11105993, 9762036, 8660463, 9226545, 10651792]
[2962275, 3300023, 3000019, 2808124, 3285260, 3808662]
[11806531, 13552623, 11999879, 10952697, 12299494, 14456753]
[38670186, 42971387, 38422562, 33880699, 35254328, 41828041]
[3515977, 4164552, 3637254, 3485576, 3947606, 4836684]
[2207968, 2475503, 2275324, 2240155, 2603888, 3110719]
[100379333, 110429136, 98033309, 85440392, 87939213, 104496678]
[13415086, 14862865, 13352021, 11943212, 13320844, 15712556]
[2748189, 3029824, 2802974, 2692122, 3089769, 3547286]
전라북도 지역별 일반용 합계 :  [44548634, 274673784, 67612853, 71394415, 39226822, 58809664, 19164363, 75067977, 231027203, 23587649, 14913557, 586718061, 82606584, 17910164]
전라북도 고객호수 평균:  [4299, 19213, 6078, 7005, 2538, 5378, 2140, 6420, 20019, 2197, 1541, 42540, 8682, 1952]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_17124\422212722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201407-201412'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0          201407  전라북도  고창군  일반용  4,294   7,180,086
1          201408  전라북도  고창군  일반용  4,287   8,031,569
2          201409  전라북도  고창군  일반용  4,291   7,257,418
3          201410  전라북도  고창군  일반용  4,291   6,555,812
4          201411  전라북도  고창군  일반용  4,309   7,237,506
..            ...   ...  ...  ...     ...         ...
93  201407-201412  전라북도  임실군  일반용    2197    23587649
94  201407-201412  전라북도  장수군  일반용    1541    14913557
95  201407-201412  전라북도  전주시  일반용   42540   586718061
96  201407-201412  전라북도  정읍시  일반용    8682    82606584
97  201407-201412  전라북도  진안군  일반용    1952    17910164

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201407-201412']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  201407-201412  전라북도  고창군  일반용    4299   44548634
85  201407-201412  전라북도  군산시  일반용   19213  274673784
86  201407-201412  전라북도  김제시  일반용    6078   67612853
87  201407-201412  전라북도  남원시  일반용    7005   71394415
88  201407-201412  전라북도  무주군  일반용    2538   39226822
89  201407-201412  전라북도  부안군  일반용    5378   58809664
90  201407-201412  전라북도  순창군  일반용    2140   19164363
91  201407-201412  전라북도  완주군  일반용    6420   75067977
92  201407-201412  전라북도  익산시  일반용   20019  231027203
93  201407-201412  전라북도  임실군  일반용    2197   23587649
94  201407-201412  전라북도  장수군  일반용    1541   14913557
95  201407-201412  전라북도  전주시  일반용   42540  586718061
96  201407-201412  전라북도  정읍시  일반용    8682   82606584
97  201407-201412  전라북도  진안군  일반용    1952   17910164

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201407-201412  전라북도  고창군  일반용    4299    44548634
84  201407-201412  전라북도  고창군   합계    9308   250074574
85  201407-201412  전라북도  군산시  일반용   19213   274673784
85  201407-201412  전라북도  군산시   합계   21959  4269056267
86  201407-201412  전라북도  김제시  일반용    6078    67612853
86  201407-201412  전라북도  김제시   합계   11819   411688591
87  201407-201412  전라북도  남원시  일반용    7005    71394415
87  201407-201412  전라북도  남원시   합계   12064   262777131
88  201407-201412  전라북도  무주군  일반용    2538    39226822
88  201407-201412  전라북도  무주군   합계    4212    90343892
89  201407-201412  전라북도  부안군  일반용    5378    58809664
89  201407-201412  전라북도  부안군   합계    8380   214612650
90  201407-201412  전라북도  순창군  일반용    2140    19164363
90  201407-201412  전라북도  순창군   합계    4922   114580704
91  201407-201412  전라북도  완주군   합계    9997   759954831
91  201407-201412  전라북도  완주군  일반용    6420    75067977
92  201407-201412  전라북도  익산시  일반용   20019   231027203
92  201407-201412  전라북도  익산시   합계   26963  1523382911
93  201407-201412  전라북도  임실군   합계    5150   135068050
93  201407-201412  전라북도  임실군  일반용    2197    23587649
94  201407-201412  전라북도  장수군   합계    3997    85457911
94  201407-201412  전라북도  장수군  일반용    1541    14913557
95  201407-201412  전라북도  전주시   합계   42317  2068402389
95  201407-201412  전라북도  전주시  일반용   42540   586718061
96  201407-201412  전라북도  정읍시   합계   15194   652412474
96  201407-201412  전라북도  정읍시  일반용    8682    82606584
97  201407-201412  전라북도  진안군  일반용    1952    17910164
97  201407-201412  전라북도  진안군   합계    4540    83745568

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[44548634,
 274673784,
 67612853,
 71394415,
 39226822,
 58809664,
 19164363,
 75067977,
 231027203,
 23587649,
 14913557,
 586718061,
 82606584,
 17910164]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[250074574,
 4269056267,
 411688591,
 262777131,
 90343892,
 214612650,
 114580704,
 759954831,
 1523382911,
 135068050,
 85457911,
 2068402389,
 652412474,
 83745568]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[17.81, 6.43, 16.42, 27.17, 43.42, 27.4, 16.73, 9.88, 15.17, 17.46, 17.45, 28.37, 12.66, 21.39]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    18
1     6
2    16
3    27
4    43
5    27
6    17
7    10
8    15
9    17
10   17
11   28
12   13
13   21
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  18
1   군산시  일반용   6
2   김제시  일반용  16
3   남원시  일반용  27
4   무주군  일반용  43
5   부안군  일반용  27
6   순창군  일반용  17
7   완주군  일반용  10
8   익산시  일반용  15
9   임실군  일반용  17
10  장수군  일반용  17
11  전주시  일반용  28
12  정읍시  일반용  13
13  진안군  일반용  21

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201407-201412  전라북도  고창군  일반용    4299    44548634  18
1   201407-201412  전라북도  고창군   합계    9308   250074574 NaN
2   201407-201412  전라북도  군산시  일반용   19213   274673784   6
3   201407-201412  전라북도  군산시   합계   21959  4269056267 NaN
4   201407-201412  전라북도  김제시  일반용    6078    67612853  16
5   201407-201412  전라북도  김제시   합계   11819   411688591 NaN
6   201407-201412  전라북도  남원시  일반용    7005    71394415  27
7   201407-201412  전라북도  남원시   합계   12064   262777131 NaN
8   201407-201412  전라북도  무주군  일반용    2538    39226822  43
9   201407-201412  전라북도  무주군   합계    4212    90343892 NaN
10  201407-201412  전라북도  부안군  일반용    5378    58809664  27
11  201407-201412  전라북도  부안군   합계    8380   214612650 NaN
12  201407-201412  전라북도  순창군  일반용    2140    19164363  17
13  201407-201412  전라북도  순창군   합계    4922   114580704 NaN
15  201407-201412  전라북도  완주군  일반용    6420    75067977  10
14  201407-201412  전라북도  완주군   합계    9997   759954831 NaN
16  201407-201412  전라북도  익산시  일반용   20019   231027203  15
17  201407-201412  전라북도  익산시   합계   26963  1523382911 NaN
19  201407-201412  전라북도  임실군  일반용    2197    23587649  17
18  201407-201412  전라북도  임실군   합계    5150   135068050 NaN
21  201407-201412  전라북도  장수군  일반용    1541    14913557  17
20  201407-201412  전라북도  장수군   합계    3997    85457911 NaN
23  201407-201412  전라북도  전주시  일반용   42540   586718061  28
22  201407-201412  전라북도  전주시   합계   42317  2068402389 NaN
25  201407-201412  전라북도  정읍시  일반용    8682    82606584  13
24  201407-201412  전라북도  정읍시   합계   15194   652412474 NaN
26  201407-201412  전라북도  진안군  일반용    1952    17910164  21
27  201407-201412  전라북도  진안군   합계    4540    83745568 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1407-12.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)