In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('전라북도_계약종별 전력사용량 월별_14상반기.csv' , encoding='utf-8')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2014년 01 월 ~ 2014년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라북도,전체(시 / 군 / 구),주택용,"600,884","207,582,152","27,222,692,474",131.1
4,201401,전라북도,전체(시 / 군 / 구),일반용,"128,182","323,610,662","42,678,866,758",131.9
...,...,...,...,...,...,...,...,...
715,201406,전라북도,진안군,산업용,603,"2,406,995","324,165,166",134.7
716,201406,전라북도,진안군,심 야,"2,047","1,187,166","64,419,319",54.3
717,201406,전라북도,진안군,일반용,"1,948","2,799,554","396,229,885",141.5
718,201406,전라북도,진안군,주택용,"12,797","2,200,757","257,220,227",116.9
719,201406,전라북도,진안군,합계,"26,503","12,103,886","1,282,302,969",105.9

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라북도,전체(시 / 군 / 구),주택용,"600,884","207,582,152","27,222,692,474",131.1
4,201401,전라북도,전체(시 / 군 / 구),일반용,"128,182","323,610,662","42,678,866,758",131.9
5,201401,전라북도,전체(시 / 군 / 구),교육용,"1,154","36,152,847","4,090,512,907",113.1
6,201401,전라북도,전체(시 / 군 / 구),산업용,"13,148","1,194,990,961","132,357,193,478",110.8
...,...,...,...,...,...,...,...,...
715,201406,전라북도,진안군,산업용,603,"2,406,995","324,165,166",134.7
716,201406,전라북도,진안군,심 야,"2,047","1,187,166","64,419,319",54.3
717,201406,전라북도,진안군,일반용,"1,948","2,799,554","396,229,885",141.5
718,201406,전라북도,진안군,주택용,"12,797","2,200,757","257,220,227",116.9
719,201406,전라북도,진안군,합계,"26,503","12,103,886","1,282,302,969",105.9

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라북도,전체(시 / 군 / 구),주택용,"600,884","207,582,152","27,222,692,474",131.1
4,201401,전라북도,전체(시 / 군 / 구),일반용,"128,182","323,610,662","42,678,866,758",131.9
5,201401,전라북도,전체(시 / 군 / 구),교육용,"1,154","36,152,847","4,090,512,907",113.1
6,201401,전라북도,전체(시 / 군 / 구),산업용,"13,148","1,194,990,961","132,357,193,478",110.8
7,201401,전라북도,전체(시 / 군 / 구),농사용,"118,908","109,276,983","5,239,284,223",47.9
...,...,...,...,...,...,...,...,...
715,201406,전라북도,진안군,산업용,603,"2,406,995","324,165,166",134.7
716,201406,전라북도,진안군,심 야,"2,047","1,187,166","64,419,319",54.3
717,201406,전라북도,진안군,일반용,"1,948","2,799,554","396,229,885",141.5
718,201406,전라북도,진안군,주택용,"12,797","2,200,757","257,220,227",116.9
719,201406,전라북도,진안군,합계,"26,503","12,103,886","1,282,302,969",105.9

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201401,전라북도,전체(시 / 군 / 구),주택용,"600,884","207,582,152","27,222,692,474",131.1
4,201401,전라북도,전체(시 / 군 / 구),일반용,"128,182","323,610,662","42,678,866,758",131.9
5,201401,전라북도,전체(시 / 군 / 구),교육용,"1,154","36,152,847","4,090,512,907",113.1
6,201401,전라북도,전체(시 / 군 / 구),산업용,"13,148","1,194,990,961","132,357,193,478",110.8
7,201401,전라북도,전체(시 / 군 / 구),농사용,"118,908","109,276,983","5,239,284,223",47.9
8,201401,전라북도,전체(시 / 군 / 구),가로등,"82,167","16,376,074","1,673,050,920",102.2
9,201401,전라북도,전체(시 / 군 / 구),심 야,"70,738","171,557,835","12,819,503,116",74.7
10,201402,전라북도,전체(시 / 군 / 구),주택용,"601,807","209,547,751","27,775,079,667",132.5
11,201402,전라북도,전체(시 / 군 / 구),일반용,"128,434","309,402,099","41,262,881,450",133.4
12,201402,전라북도,전체(시 / 군 / 구),교육용,"1,160","33,117,772","3,828,762,351",115.6
13,201402,전라북도,전체(시 / 군 / 구),산업용,"13,173","1,087,911,333","125,195,471,862",115.1
14,201402,전라북도,전체(시 / 군 / 구),농사용,"118,611","109,616,374","5,245,220,058",47.9
15,201402,전라북도,전체(시 / 군 / 구),가로등,"108,849","15,386,473","1,691,939,958",110.0
16,201402,전라북도,전체(시 / 군 / 구),심 야,"70,672","171,308,524","12,771,691,150",74.6
17,201403,전라북도,전체(시 / 군 / 구),주택용,"602,913","182,621,937","21,346,258,576",116.9
18,201403,전라북도,전체(시 / 군 / 구),일반용,"128,574","269,469,925","34,067,449,043",126.4
19,201403,전라북도,전체(시 / 군 / 구),교육용,"1,162","32,093,729","3,332,318,270",103.8
20,201403,전라북도,전체(시 / 군 / 구),산업용,"13,178","1,199,578,745","109,024,817,553",90.9
21,201403,전라북도,전체(시 / 군 / 구),농사용,"198,181","96,703,848","4,734,137,290",49.0
22,201403,전라북도,전체(시 / 군 / 구),가로등,"116,414","14,681,684","1,624,127,298",110.6
23,201403,전라북도,전체(시 / 군 / 구),심 야,"70,617","135,383,571","8,903,366,639",65.8
24,201404,전라북도,전체(시 / 군 / 구),주택용,"604,113","192,404,250","23,257,929,661",120.9
25,201404,전라북도,전체(시 / 군 / 구),일반용,"128,991","253,890,860","29,510,625,775",116.2
26,201404,전라북도,전체(시 / 군 / 구),교육용,"1,164","29,459,747","2,877,180,768",97.7
27,201404,전라북도,전체(시 / 군 / 구),산업용,"13,205","1,188,256,373","110,252,608,393",92.8
28,201404,전라북도,전체(시 / 군 / 구),농사용,"153,808","87,603,468","4,285,010,406",48.9
29,201404,전라북도,전체(시 / 군 / 구),가로등,"116,756","14,113,928","1,648,361,245",116.8
30,201404,전라북도,전체(시 / 군 / 구),심 야,"70,535","105,282,420","5,661,015,224",53.8
31,201405,전라북도,전체(시 / 군 / 구),주택용,"605,021","180,685,142","20,679,824,486",114.5
32,201405,전라북도,전체(시 / 군 / 구),일반용,"129,014","226,978,378","27,592,109,711",121.6
33,201405,전라북도,전체(시 / 군 / 구),교육용,"1,161","21,472,934","2,383,386,854",111.0
34,201405,전라북도,전체(시 / 군 / 구),산업용,"13,251","1,207,942,536","108,315,647,240",89.7
35,201405,전라북도,전체(시 / 군 / 구),농사용,"121,267","79,605,375","3,891,352,037",48.9
36,201405,전라북도,전체(시 / 군 / 구),가로등,"116,874","13,209,226","1,602,976,543",121.4
37,201405,전라북도,전체(시 / 군 / 구),심 야,"70,410","64,666,442","3,472,302,336",53.7
38,201406,전라북도,전체(시 / 군 / 구),주택용,"606,133","181,913,100","20,916,717,904",115.0
39,201406,전라북도,전체(시 / 군 / 구),일반용,"129,216","243,466,950","32,834,403,915",134.9
40,201406,전라북도,전체(시 / 군 / 구),교육용,"1,161","21,634,995","2,734,747,132",126.4
41,201406,전라북도,전체(시 / 군 / 구),산업용,"13,287","1,196,053,225","131,772,717,696",110.2
42,201406,전라북도,전체(시 / 군 / 구),농사용,"122,276","91,957,665","4,231,424,094",46.0
43,201406,전라북도,전체(시 / 군 / 구),가로등,"117,095","12,582,493","1,592,772,223",126.6
44,201406,전라북도,전체(시 / 군 / 구),심 야,"70,266","36,303,467","2,000,865,677",55.1
45,합계,NaN,NaN,NaN,"6,393,930","11,375,854,253","1,168,398,604,361",102.7

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_9008\730399353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   201401  전라북도  일반용  128,182   323,610,662
11  201402  전라북도  일반용  128,434   309,402,099
18  201403  전라북도  일반용  128,574   269,469,925
25  201404  전라북도  일반용  128,991   253,890,860
32  201405  전라북도  일반용  129,014   226,978,378
39  201406  전라북도  일반용  129,216   243,466,950

In [8]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [9]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [10]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201401  전라북도  고창군  일반용  4,267   9,116,840
165  201402  전라북도  고창군  일반용  4,293   8,910,816
277  201403  전라북도  고창군  일반용  4,284   7,842,922
389  201404  전라북도  고창군  일반용  4,278   7,502,587
501  201405  전라북도  고창군  일반용  4,296   6,796,171
..      ...   ...  ...  ...     ...         ...
269  201402  전라북도  진안군  일반용  1,910   3,539,700
381  201403  전라북도  진안군  일반용  1,931   3,279,492
493  201404  전라북도  진안군  일반용  1,940   3,114,236
605  201405  전라북도  진안군  일반용  1,949   2,815,661
717  201406  전라북도  진안군  일반용  1,948   2,799,554

[84 rows x 6 columns]

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [12]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [13]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   201401  전라북도  고창군   합계  51,200   49,693,311
167  201402  전라북도  고창군   합계  51,214   50,372,223
279  201403  전라북도  고창군   합계  58,591   43,317,301
391  201404  전라북도  고창군   합계  66,880   42,233,037
503  201405  전라북도  고창군   합계  51,543   36,892,958
..      ...   ...  ...  ...      ...          ...
271  201402  전라북도  진안군   합계  26,315   17,964,926
383  201403  전라북도  진안군   합계  28,658   15,554,282
495  201404  전라북도  진안군   합계  26,389   14,732,090
607  201405  전라북도  진안군   합계  26,456   12,779,352
719  201406  전라북도  진안군   합계  26,503   12,103,886

[84 rows x 6 columns]

In [14]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[49693311, 50372223, 43317301, 42233037, 36892958, 35784416]
[744724858, 684741346, 743268802, 730287878, 740521585, 725869052]
[83898007, 81672299, 74412190, 71727622, 62881288, 62021667]
[55517613, 53196189, 48616602, 46811806, 39813768, 39402302]
[23452876, 21908352, 17425099, 15076047, 13115562, 12557241]
[43820418, 42687451, 38612496, 37330047, 31945684, 31643911]
[21773976, 21085919, 19197860, 18323934, 16525115, 17083299]
[140999257, 132731372, 133249246, 124822417, 117925981, 118476240]
[304183441, 287886711, 282224645, 272590127, 257044717, 260194165]
[27237528, 26898394, 24270338, 22612231, 19872669, 19740130]
[21377697, 20960235, 17884882, 16478360, 13552300, 11950430]
[402733196, 376562019, 364728517, 348903336, 329701689, 336477810]
[121758564, 117622890, 107771179, 109082114, 101987365, 100607346]
[18376772, 17964926, 15554282, 14732090, 12779352, 12103886]
전라북도 지역별 합계 :  [258293246, 4369413521, 436613073, 283358280, 103535177, 226040007, 113990103, 768204513, 1664123806, 140631290, 102203904, 2159106567, 658829458, 91511308]
전라북도 고객호수 평균:  [9198, 21488, 11670, 11921, 4150, 8143, 4859, 9772, 26817, 5063, 3934, 41199, 14926, 4461]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [15]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\3113513837.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          201401  전라북도  고창군   합계  51,200   49,693,311
1          201402  전라북도  고창군   합계  51,214   50,372,223
2          201403  전라북도  고창군   합계  58,591   43,317,301
3          201404  전라북도  고창군   합계  66,880   42,233,037
4          201405  전라북도  고창군   합계  51,543   36,892,958
..            ...   ...  ...  ...      ...          ...
93  201401-201406  전라북도  임실군   합계     5063    140631290
94  201401-201406  전라북도  장수군   합계     3934    102203904
95  201401-201406  전라북도  전주시   합계    41199   2159106567
96  201401-201406  전라북도  정읍시   합계    14926    658829458
97  201401-201406  전라북도  진안군   합계     4461     91511308

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [16]:
Hap = Hap.loc[Hap['년월'] == '201401-201406']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201401-201406  전라북도  고창군   합계    9198   258293246
85  201401-201406  전라북도  군산시   합계   21488  4369413521
86  201401-201406  전라북도  김제시   합계   11670   436613073
87  201401-201406  전라북도  남원시   합계   11921   283358280
88  201401-201406  전라북도  무주군   합계    4150   103535177
89  201401-201406  전라북도  부안군   합계    8143   226040007
90  201401-201406  전라북도  순창군   합계    4859   113990103
91  201401-201406  전라북도  완주군   합계    9772   768204513
92  201401-201406  전라북도  익산시   합계   26817  1664123806
93  201401-201406  전라북도  임실군   합계    5063   140631290
94  201401-201406  전라북도  장수군   합계    3934   102203904
95  201401-201406  전라북도  전주시   합계   41199  2159106567
96  201401-201406  전라북도  정읍시   합계   14926   658829458
97  201401-201406  전라북도  진안군   합계    4461    91511308

In [17]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [18]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [19]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
53   201401  전라북도  고창군  일반용  4,267   9,116,840
165  201402  전라북도  고창군  일반용  4,293   8,910,816
277  201403  전라북도  고창군  일반용  4,284   7,842,922
389  201404  전라북도  고창군  일반용  4,278   7,502,587
501  201405  전라북도  고창군  일반용  4,296   6,796,171
..      ...   ...  ...  ...     ...         ...
269  201402  전라북도  진안군  일반용  1,910   3,539,700
381  201403  전라북도  진안군  일반용  1,931   3,279,492
493  201404  전라북도  진안군  일반용  1,940   3,114,236
605  201405  전라북도  진안군  일반용  1,949   2,815,661
717  201406  전라북도  진안군  일반용  1,948   2,799,554

[84 rows x 6 columns]

In [20]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [21]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[9116840, 8910816, 7842922, 7502587, 6796171, 6921817]
[54614415, 52842768, 46663250, 44086322, 39109261, 41936120]
[14015163, 13739757, 11975519, 11342686, 9778051, 10159216]
[14885017, 14154418, 12400481, 11873115, 10379076, 10714476]
[10595637, 9314010, 6754402, 5414178, 5032810, 5013636]
[11778435, 11413524, 10111584, 9726156, 8655215, 8736455]
[3865817, 3612221, 3171885, 3032302, 2651696, 2777480]
[13988525, 13350907, 11679107, 11033686, 9974645, 10613659]
[46969470, 45266746, 39043507, 37323037, 32874286, 35510487]
[5272461, 5054819, 4396530, 4003231, 3507458, 3560046]
[3320291, 3173831, 2812128, 2601888, 2248210, 2176711]
[114105927, 108280714, 94991981, 89399795, 81297451, 90066371]
[17271056, 16747868, 14347137, 13437641, 11858387, 12480922]
[3811608, 3539700, 3279492, 3114236, 2815661, 2799554]
전라북도 지역별 일반용 합계 :  [47091153, 279252136, 71010392, 74406583, 42124673, 60421369, 19111401, 70640529, 236987533, 25794545, 16333059, 578142239, 86143011, 19360251]
전라북도 고객호수 평균:  [4285, 19031, 6023, 6944, 2525, 5332, 2123, 6173, 19941, 2198, 1534, 41984, 8705, 1931]

In [22]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [23]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [24]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [25]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_9008\1244831749.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'201401-201406'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
0          201401  전라북도  고창군  일반용  4,267   9,116,840
1          201402  전라북도  고창군  일반용  4,293   8,910,816
2          201403  전라북도  고창군  일반용  4,284   7,842,922
3          201404  전라북도  고창군  일반용  4,278   7,502,587
4          201405  전라북도  고창군  일반용  4,296   6,796,171
..            ...   ...  ...  ...     ...         ...
93  201401-201406  전라북도  임실군  일반용    2198    25794545
94  201401-201406  전라북도  장수군  일반용    1534    16333059
95  201401-201406  전라북도  전주시  일반용   41984   578142239
96  201401-201406  전라북도  정읍시  일반용    8705    86143011
97  201401-201406  전라북도  진안군  일반용    1931    19360251

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [26]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '201401-201406']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  201401-201406  전라북도  고창군  일반용    4285   47091153
85  201401-201406  전라북도  군산시  일반용   19031  279252136
86  201401-201406  전라북도  김제시  일반용    6023   71010392
87  201401-201406  전라북도  남원시  일반용    6944   74406583
88  201401-201406  전라북도  무주군  일반용    2525   42124673
89  201401-201406  전라북도  부안군  일반용    5332   60421369
90  201401-201406  전라북도  순창군  일반용    2123   19111401
91  201401-201406  전라북도  완주군  일반용    6173   70640529
92  201401-201406  전라북도  익산시  일반용   19941  236987533
93  201401-201406  전라북도  임실군  일반용    2198   25794545
94  201401-201406  전라북도  장수군  일반용    1534   16333059
95  201401-201406  전라북도  전주시  일반용   41984  578142239
96  201401-201406  전라북도  정읍시  일반용    8705   86143011
97  201401-201406  전라북도  진안군  일반용    1931   19360251

In [27]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  201401-201406  전라북도  고창군  일반용    4285    47091153
84  201401-201406  전라북도  고창군   합계    9198   258293246
85  201401-201406  전라북도  군산시  일반용   19031   279252136
85  201401-201406  전라북도  군산시   합계   21488  4369413521
86  201401-201406  전라북도  김제시  일반용    6023    71010392
86  201401-201406  전라북도  김제시   합계   11670   436613073
87  201401-201406  전라북도  남원시  일반용    6944    74406583
87  201401-201406  전라북도  남원시   합계   11921   283358280
88  201401-201406  전라북도  무주군  일반용    2525    42124673
88  201401-201406  전라북도  무주군   합계    4150   103535177
89  201401-201406  전라북도  부안군  일반용    5332    60421369
89  201401-201406  전라북도  부안군   합계    8143   226040007
90  201401-201406  전라북도  순창군  일반용    2123    19111401
90  201401-201406  전라북도  순창군   합계    4859   113990103
91  201401-201406  전라북도  완주군   합계    9772   768204513
91  201401-201406  전라북도  완주군  일반용    6173    70640529
92  201401-201406  전라북도  익산시  일반용   19941   236987533
92  201401-201406  전라북도  익산시   합계   26817  1664123806
93  201401-201406  전라북도  임실군   합계    5063   140631290
93  201401-201406  전라북도  임실군  일반용    2198    25794545
94  201401-201406  전라북도  장수군   합계    3934   102203904
94  201401-201406  전라북도  장수군  일반용    1534    16333059
95  201401-201406  전라북도  전주시   합계   41199  2159106567
95  201401-201406  전라북도  전주시  일반용   41984   578142239
96  201401-201406  전라북도  정읍시   합계   14926   658829458
96  201401-201406  전라북도  정읍시  일반용    8705    86143011
97  201401-201406  전라북도  진안군  일반용    1931    19360251
97  201401-201406  전라북도  진안군   합계    4461    91511308

In [28]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[47091153,
 279252136,
 71010392,
 74406583,
 42124673,
 60421369,
 19111401,
 70640529,
 236987533,
 25794545,
 16333059,
 578142239,
 86143011,
 19360251]

In [29]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[258293246,
 4369413521,
 436613073,
 283358280,
 103535177,
 226040007,
 113990103,
 768204513,
 1664123806,
 140631290,
 102203904,
 2159106567,
 658829458,
 91511308]

In [30]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[18.23, 6.39, 16.26, 26.26, 40.69, 26.73, 16.77, 9.2, 14.24, 18.34, 15.98, 26.78, 13.08, 21.16]

In [31]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    18
1     6
2    16
3    26
4    41
5    27
6    17
7     9
8    14
9    18
10   16
11   27
12   13
13   21
dtype: float64

In [32]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  18
1   군산시  일반용   6
2   김제시  일반용  16
3   남원시  일반용  26
4   무주군  일반용  41
5   부안군  일반용  27
6   순창군  일반용  17
7   완주군  일반용   9
8   익산시  일반용  14
9   임실군  일반용  18
10  장수군  일반용  16
11  전주시  일반용  27
12  정읍시  일반용  13
13  진안군  일반용  21

In [33]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   201401-201406  전라북도  고창군  일반용    4285    47091153  18
1   201401-201406  전라북도  고창군   합계    9198   258293246 NaN
2   201401-201406  전라북도  군산시  일반용   19031   279252136   6
3   201401-201406  전라북도  군산시   합계   21488  4369413521 NaN
4   201401-201406  전라북도  김제시  일반용    6023    71010392  16
5   201401-201406  전라북도  김제시   합계   11670   436613073 NaN
6   201401-201406  전라북도  남원시  일반용    6944    74406583  26
7   201401-201406  전라북도  남원시   합계   11921   283358280 NaN
8   201401-201406  전라북도  무주군  일반용    2525    42124673  41
9   201401-201406  전라북도  무주군   합계    4150   103535177 NaN
10  201401-201406  전라북도  부안군  일반용    5332    60421369  27
11  201401-201406  전라북도  부안군   합계    8143   226040007 NaN
12  201401-201406  전라북도  순창군  일반용    2123    19111401  17
13  201401-201406  전라북도  순창군   합계    4859   113990103 NaN
15  201401-201406  전라북도  완주군  일반용    6173    70640529   9
14  201401-201406  전라북도  완주군   합계    9772   768204513 NaN
16  201401-201406  전라북도  익산시  일반용   19941   236987533  14
17  201401-201406  전라북도  익산시   합계   26817  1664123806 NaN
19  201401-201406  전라북도  임실군  일반용    2198    25794545  18
18  201401-201406  전라북도  임실군   합계    5063   140631290 NaN
21  201401-201406  전라북도  장수군  일반용    1534    16333059  16
20  201401-201406  전라북도  장수군   합계    3934   102203904 NaN
23  201401-201406  전라북도  전주시  일반용   41984   578142239  27
22  201401-201406  전라북도  전주시   합계   41199  2159106567 NaN
25  201401-201406  전라북도  정읍시  일반용    8705    86143011  13
24  201401-201406  전라북도  정읍시   합계   14926   658829458 NaN
26  201401-201406  전라북도  진안군  일반용    1931    19360251  21
27  201401-201406  전라북도  진안군   합계    4461    91511308 NaN

In [34]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [35]:
Final.to_csv("{}_일반용_전력사용량_1401-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [36]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [37]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [38]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [39]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [40]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [41]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [42]:
# SEOUL

In [43]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)